{% load static %}
<header class="app-header navbar">
      <button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" data-toggle="sidebar-show">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="{% url 'PublicSite:index' %}">
        <img class="navbar-brand-full" src="{% static 'myCSSAhub/img/Main-Site-Logo-m_2.png' %}" width="105" height="45" alt="">
        <img class="navbar-brand-minimized" src="" width="30" height="30" alt="">
      </a>
      <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button" data-toggle="sidebar-lg-show">
        <span class="navbar-toggler-icon"></span>
      </button>
      <ul class="nav navbar-nav d-md-down-none">
        <li class="nav-item px-3">
          <a class="nav-link" href="{% url 'myCSSAhub:home' %}">Dashboard</a>
        </li>
        <li class="nav-item px-3">
          <a class="nav-link" href="{% url 'myCSSAhub:under-dev' %}">myCSSA应用(暂未开启)</a>
        </li>
      </ul>
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item d-md-down-none">
          <a class="nav-link" href="{% url 'myCSSAhub:Comm:notifications_list' %}">
            <i class="icon-bell"></i>
            <span class="badge badge-pill badge-danger">0</span>
          </a>
        </li>
        <li class="nav-item d-md-down-none">
          <a class="nav-link" href="{% url 'myCSSAhub:under-dev' %}">
            <i class="icon-list"></i>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            {% load static %}
            {% if user.userprofile.avatar %}
              <img class="img-avatar" src="{{ user.userprofile.avatar.url }}" style="height:35px;width:35px;">
            {% else %}
              <img class="img-avatar" src="{% static 'myCSSAhub/img/avatar_placeholder.png' %}" style="height:35px;width:35px;">
            {% endif %}
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            <div class="dropdown-header text-center">
              <strong>消息与通知</strong>
            </div>
            <a class="dropdown-item" href="{% url 'myCSSAhub:under-dev' %}">
              <i class="fa fa-bell-o"></i> 系统公告
              <span class="badge badge-info">0</span>
            </a>
            <a class="dropdown-item" href="{% url 'myCSSAhub:under-dev' %}">
              <i class="fa fa-envelope-o"></i> 消息
              <span class="badge badge-success">0</span>
            </a>
            <a class="dropdown-item" href="{% url 'myCSSAhub:under-dev' %}">
              <i class="fa fa-tasks"></i> 待办事项
              <span class="badge badge-danger">0</span>
            </a>
            <div class="dropdown-header text-center">
              <strong>账户</strong>
            </div>
            <a class="dropdown-item" href="{% url 'myCSSAhub:userInfo' %}">
              <i class="fa fa-user"></i> 个人信息 </a>
            <a class="dropdown-item" href="{% url 'myCSSAhub:hub_logout' %}">
              <i class="fa fa-lock"></i> 登出 </a>
          </div>
        </li>
      </ul>
      <button class="navbar-toggler aside-menu-toggler d-md-down-none" type="button" data-toggle="aside-menu-lg-show" style="display:none;">
        <span class="navbar-toggler-icon"></span>
      </button>
      <button class="navbar-toggler aside-menu-toggler d-lg-none" type="button" data-toggle="aside-menu-show" style="display:none;">
        <span class="navbar-toggler-icon"></span>
      </button>
</header>
