{% extends 'myCSSAhub/component/_layout.html' %}

{% block pageTitle %}
站内信息
{% endblock %}

{% block pageContent %}

<!-- <div class="col-lg-6"> -->
<!-- col-lg为控制长度 -->
<div class="card">
    <!-- card为卡片样式 -->
    <div class="card-header">
        <i class="fa fa-align-justify"></i> 站内信息
    </div>
    <div class="card-body">
        {% for x in title  %}
            <div class="alert alert-primary alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert">×</button>
               <a class="alert-link" href="#"> {{x}} </a>
            {% comment %} This is a primary alert with
            an example link. Give it a click if you like.{% endcomment %}
            </div> 
        {% endfor %}
    </div>
</div>
<!-- </div> -->

{% endblock%}