{% extends 'myCSSAhub/component/_layout.html' %}

{% block pageTitle %}
站内信息
{% endblock %}

{% block pageContent %}

<!-- <div class="col-lg-6"> -->
<!-- col-lg为控制长度 -->
<div class="card">
    <!-- card为卡片样式 -->
    <div class="card-header">
        <i class="fa fa-align-justify"></i> 站内信息
    </div>
    <div class="card-body">
        <!-- 循环读取后台传来的信息，并显示 -->
        {% for x in infos  %}
            <div class="alert alert-primary alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <a class="alert-link" href="/hub/notification/notifications_display/{{x.id}}"> {{x.title}} </a>   
            {% comment %} Testing cotent.{% endcomment %}
            </div> 
        {% endfor %}
    </div>
</div>
<!-- </div> -->

{% endblock%}