{% extends 'myCSSAhub/component/_layout.html' %}
{% block pageTitle %} 站内信创建 {% endblock %}
{% block ExtraHeader %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
{% endblock ExtraHeader %}

{% block pageContent %}

<form action="" method="post">

    {% csrf_token %}
    <div class="form-group">
        <label for="notification_user">收信人姓名（新输入的名字以空格键确认）</label>
        <select class="form-control" id="userlookup" name="recID" style="width:100%" multiple="multiple"></select>
    </div>
    <div class="form-group">
        <label for="notification_title">标题</label>
        <input class="form-control" id="notification_title" name="title" type="text" />
        <div class="form-group">
            <label for="notification_content">内容</label>
            <textarea class="form-control" id="notification_content" name="content" rows="11"></textarea>
        </div>
        <!-- <div class="form-group">
            <label for="exampleFormControlFile1">选择附件</label>
            <input type="file" class="form-control-file" id="exampleFormControlFile1">
        </div> -->
    </div>
    <button class="btn btn-primary" type="submit">发送</button>
    <button class="btn btn-danger" type="reset">重置</button>

</form>

{% endblock%}


{% block ExtraJS %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

<script>
    $('#userlookup').select2({
        tags: true,
        tokenSeparators: [',', ' '],
        ajax: {
            url: '{% url "myCSSAhub:ajax_userLookup" %}',
            dataType: 'json',
            method: 'POST',
            data: function (params) {
                var query = {
                    search: params.term,
                    type: 'public'
                }

                // Query parameters will be ?search=[term]&type=public
                return query;
            },
            processResults: function (data) {
                // Tranforms the top-level key of the response object from 'items' to 'results'
                console.log(data)
                return {
                    results: data.items
                };
            }
            // Additional AJAX parameters go here; see the end of this chapter for the full code of this example
        }
    });
    
    function myFunction(){
        var recIDs = $("#userlookup").val();
        alert("Selected value is: "+recIDs);
    }
            
</script>
{% endblock ExtraJS %}