{% extends 'myCSSAhub/component/_layout.html' %}

{% block pageContent %}

{% load widget_tweaks %}
<div class="col col-lg-10 col-md-12 col-sm-12">
    <div class="card">
    <form action="{{submit_url}}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="card-header">
            <i class="fa fa-align-justify"></i> 添加新信息收集表配置
        </div>
        <div class="card-body">
            {% for hidden_field in form.hidden_fields %}
                {{ hidden_field }}
            {% endfor %}

            {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                {% for error in form.non_field_errors %}
                    {{ error }}
                {% endfor %}
            </div>
            {% endif %}

            {% for field in form.visible_fields %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {% if field.errors %}
                        {% render_field field class="form-control is-invalid" %}
                        {% for error in field.errors %}
                            <div class="invalid-feedback">
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% else %}
                        {% render_field field class="form-control" %}
                    {% endif %}

                    {% if field.help_text %}
                        <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <div class='card-footer'>
            <input class='class="btn btn-block btn-outline-primary' type="submit" value="submit">
        </div>
            
    </form>
</div>

{% endblock pageContent %}