.DS_Store*
*.pyc
db.sqlite3
.lock
.DS_Store
.vscode/
.CSSANet/.vscode/
.vscode/settings.json
.idea/
settings.json
/CSSANet/data/*
!/CSSANet/data/
/CSSANet/code/static/*
/CSSANet/code/media/*
!.gitignore
!.gitkeep
Pipfile
Pipfile.lock