# Local System Files
.DS_Store*
*.pyc
db.sqlite3
.lock
.DS_Store
.mypy_cache/
*.log

settings.json
.data/*
!.data/
.src/static/*
.src/media/*
!.gitignore
!.gitkeep
.Pipfile
.Pipfile.lock
.CSSANet.code-workspace
.data/media
.data/static
.src/.mypy_cache

/src/CSSANet/settings/local.py

# Visual Studio Code Config
.vscode/
.vscode/settings.json
.idea/

# Visual Studio Local Dependency
.vs/
myCSSA/
.src/bin
.src/env
.src/obj
.mypy_cache/
.src/celerybeat-schedule
.src/cssanet-sys.log
.src/supervisord.log
