Django > 2.1.5

Djangorestframework == 3.9.0

django-datatables-view == 1.17.0

django-rest-auth > 0.3.3

django-allauth

psycopg2-binary

Pillow

django-widget-tweaks

gunicorn

xlwt

redis

celery == 4.3

sorl-thumbnail

django-storages 

boto3

### For Development purpose only
mypy

names


