<!DOCTYPE HTML>
<html lang="zh_cn">
  <head>
    <title>
       myCSSAhub 会员中心 - {% block pageTitle %} {% endblock %}
    </title>
    {% load static %}
    <base href="{% static '/myCSSAhub/'%}"> <!--This is the root of static files for imgs-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="author" content="CSSA Department of Information Technology">
    <!-- Icons-->
    <link href="{% static '/myCSSAhub/vendors/@coreui/icons/css/coreui-icons.min.css'%}" rel="stylesheet">
    <link href="{% static '/myCSSAhub/vendors/flag-icon-css/css/flag-icon.min.css'%}" rel="stylesheet">
    <link href="{% static '/myCSSAhub/vendors/font-awesome/css/font-awesome.min.css'%}" rel="stylesheet">
    <link href="{% static '/myCSSAhub/vendors/simple-line-icons/css/simple-line-icons.css'%}" rel="stylesheet">
    <!-- Main styles for this application-->
    <link href="{% static '/myCSSAhub/css/style.css'%}" rel="stylesheet">
    <link href="{% static '/myCSSAhub/vendors/pace-progress/css/pace.min.css'%}" rel="stylesheet">
    <!-- Global site tag (gtag.js) - Google Analytics-->
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-118965717-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      // Shared ID
      gtag('config', 'UA-118965717-3');
      // Bootstrap ID
      gtag('config', 'UA-118965717-5');
    </script>
  </head>
<body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
    <div>
        {% include './_navbar.html' %}
        <div class="app-body">
            {% include './_sidemenu.html' %}
            <main class="main">
              <!-- Breadcrumb-->
              <ol class="breadcrumb">
                <li class="breadcrumb-item">Home</li>
                <li class="breadcrumb-item">
                  <a href="#">Admin</a>
                </li>
                <li class="breadcrumb-item active">Dashboard</li>
                <!-- Breadcrumb Menu-->
                <li class="breadcrumb-menu d-md-down-none">
                  <div class="btn-group" role="group" aria-label="Button group">
                    <a class="btn" href="#">
                      <i class="icon-speech"></i>
                    </a>
                    <a class="btn" href="./">
                      <i class="icon-graph"></i>  Dashboard</a>
                    <a class="btn" href="#">
                      <i class="icon-settings"></i>  Settings</a>
                  </div>
                </li>
              </ol>
              <div class="container-fluid">
                {% block pageContent%} {% endblock %}
              </div>
            </main>
            {% include './_aside_bar.html'%}
        </div>

    </div>

    <!-- CoreUI and necessary plugins-->
    <script src="{% static '/myCSSAhub/vendors/jquery/js/jquery.min.js'%}"></script>
    <script src="{% static '/myCSSAhub/vendors/popper.js/js/popper.min.js'%}"></script>
    <script src="{% static '/myCSSAhub/vendors/bootstrap/js/bootstrap.min.js'%}"></script>
    <script src="{% static '/myCSSAhub/vendors/pace-progress/js/pace.min.js'%}"></script>
    <script src="{% static '/myCSSAhub/vendors/perfect-scrollbar/js/perfect-scrollbar.min.js'%}"></script>
    <script src="{% static '/myCSSAhub/vendors/@coreui/coreui/js/coreui.min.js'%}"></script>
    <!-- Plugins and scripts required by this view-->
    <script src="{% static '/myCSSAhub/vendors/chart.js/js/Chart.min.js'%}"></script>
    <script src="{% static '/myCSSAhub/vendors/@coreui/coreui-plugin-chartjs-custom-tooltips/js/custom-tooltips.min.js'%}"></script>
    <script src="{% static '/myCSSAhub/js/main.js'%}"></script>
    <script>
    // DO NOT REMOVE THIS WHEN THE PAGE HAS ANY AJAX APPLET
      var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

      function csrfSafeMethod(method) {
          // these HTTP methods do not require CSRF protection
          return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
      }
      $.ajaxSetup({
          beforeSend: function(xhr, settings) {
              if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                  xhr.setRequestHeader("X-CSRFToken", csrftoken);
              }
          }
      });

    </script>

</body>
</html>