{% load static %}
<div class="sidebar">
        <nav class="sidebar-nav">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="index.html">
                <i class="nav-icon icon-speedometer"></i> Dashboard
              </a>
            </li>
            <li class="nav-title">我的myCSSA账户</li>
            <li class="nav-item">
              <a class="nav-link" href="">
                <i class="nav-icon cui-user"></i>个人信息</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="typography.html">
                <i class="nav-icon cui-shield"></i>安全与隐私</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="typography.html">
                <i class="nav-icon cui-credit-card"></i>我的会员卡</a>
            </li>
            <li class="nav-item nav-dropdown">
              <a class="nav-link nav-dropdown-toggle" href="#">
                <i class="nav-icon icon-puzzle"></i>myCSSA应用</a>
                <ul class="nav-dropdown-items">
                  <li class="nav-item">
                    <a class="nav-link" href="base/breadcrumb.html">
                      <i class="nav-icon cui-star"></i>活动报名</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="base/cards.html">
                      <i class="nav-icon cui-people"></i>求职招聘</a>
                  </li>
                </ul>
            </li>
            <li class="nav-title">myCSSA Committe</li>
              <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#">
                  <i class="nav-icon icon-puzzle"></i>活动管理</a>
                  <ul class="nav-dropdown-items">
                    <li class="nav-item">
                      <a class="nav-link" href="base/breadcrumb.html">
                        <i class="nav-icon icon-puzzle"></i> Breadcrumb</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="base/cards.html">
                        <i class="nav-icon icon-puzzle"></i> Cards</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="base/carousel.html">
                        <i class="nav-icon icon-puzzle"></i> Carousel</a>
                    </li>
                  </ul>
              </li>
              <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#">
                  <i class="nav-icon icon-puzzle"></i>站点内容管理</a>
                  <ul class="nav-dropdown-items">
                    <li class="nav-item">
                      <a class="nav-link" href="base/breadcrumb.html">
                        <i class="nav-icon icon-puzzle"></i>文章管理</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="base/cards.html">
                        <i class="nav-icon icon-puzzle"></i>媒体文件管理</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="base/carousel.html">
                        <i class="nav-icon icon-puzzle"></i>发布新内容</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="base/carousel.html">
                        <i class="nav-icon icon-puzzle"></i>审稿</a>
                    </li>
                  </ul>
              </li>
              <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#">
                  <i class="nav-icon icon-puzzle"></i>人事管理</a>
                  <ul class="nav-dropdown-items">
                    <li class="nav-item">
                      <a class="nav-link" href="base/breadcrumb.html">
                        <i class="nav-icon icon-puzzle"></i>部门人事管理</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="base/cards.html">
                        <i class="nav-icon icon-puzzle"></i>纳新管理</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="base/carousel.html">
                        <i class="nav-icon icon-puzzle"></i></a>
                    </li>
                  </ul>
              </li>
              <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#">
                  <i class="nav-icon icon-puzzle"></i>财务管理</a>
                  <ul class="nav-dropdown-items">
                    <li class="nav-item">
                      <a class="nav-link" href="base/breadcrumb.html">
                        <i class="nav-icon icon-puzzle"></i> Breadcrumb</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="base/cards.html">
                        <i class="nav-icon icon-puzzle"></i> Cards</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="base/carousel.html">
                        <i class="nav-icon icon-puzzle"></i> Carousel</a>
                    </li>
                  </ul>
              </li>
              <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#">
                  <i class="nav-icon icon-puzzle"></i>会员管理</a>
                  <ul class="nav-dropdown-items">
                    <li class="nav-item">
                      <a class="nav-link" href="base/breadcrumb.html">
                        <i class="nav-icon icon-puzzle"></i> Breadcrumb</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="base/cards.html">
                        <i class="nav-icon icon-puzzle"></i> Cards</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="base/carousel.html">
                        <i class="nav-icon icon-puzzle"></i> Carousel</a>
                    </li>
                  </ul>
              </li>
          </ul>
        </nav>
        <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>
