<!doctype html>

<html><head>

<title>CSSA会员注册确认</title>
<link rel="shortcut icon" href="cssalogo.png">

<style type="text/css">
table[name="blk_permission"], table[name="blk_footer"] {display:none;} 
</style>

<meta charset="utf-8">
<meta name="googlebot" content="noindex">
<meta name="ROBOTS" content="NOINDEX, NOFOLLOW"><link rel="stylesheet" href="/style/dhtmlwindow.css" type="text/css">
<script type="text/javascript" src="/script/dhtmlwindow.js">
/***********************************************
* DHTML Window Widget- © Dynamic Drive (www.dynamicdrive.com)
* This notice must stay intact for legal use.
* Visit www.dynamicdrive.com for full source code
***********************************************/
</script>
<link rel="stylesheet" href="/style/modal.css" type="text/css">

<meta content="width=device-width, initial-scale=1.0" name="viewport">   

<style type="text/css">    
/*** BMEMBF Start ***/    
[name=bmeMainBody]{min-height:1000px;}    
@media only screen and (max-width: 600px){table.blk, table.tblText, .bmeHolder, .bmeHolder1, table.bmeMainColumn{width:100% !important;} }        
@media only screen and (max-width: 600px){.bmeImageCard table.bmeCaptionTable td.tblCell{padding:0px 20px 20px 20px !important;} }        
@media only screen and (max-width: 600px){.bmeImageCard table.bmeCaptionTable.bmeCaptionTableMobileTop td.tblCell{padding:20px 20px 0 20px !important;} }        
@media only screen and (max-width: 600px){table.bmeCaptionTable td.tblCell{padding:10px !important;} }        
@media only screen and (max-width: 600px){table.tblGtr{ padding-bottom:20px !important;} }        
@media only screen and (max-width: 600px){td.blk_container, .blk_parent, .bmeLeftColumn, .bmeRightColumn, .bmeColumn1, .bmeColumn2, .bmeColumn3, .bmeBody{display:table !important;max-width:600px !important;width:100% !important;} }        
@media only screen and (max-width: 600px){table.container-table, .bmeheadertext, .container-table { width: 95% !important; } }        
@media only screen and (max-width: 600px){.mobile-footer, .mobile-footer a{ font-size: 13px !important; line-height: 18px !important; } .mobile-footer{ text-align: center !important; } table.share-tbl { padding-bottom: 15px; width: 100% !important; } table.share-tbl td { display: block !important; text-align: center !important; width: 100% !important; } }        
@media only screen and (max-width: 600px){td.bmeShareTD, td.bmeSocialTD{width: 100% !important; } }        
@media only screen and (max-width: 600px){td.tdBoxedTextBorder{width: auto !important;}}    
@media only screen and (max-width: 600px){table.blk, table[name=tblText], .bmeHolder, .bmeHolder1, table[name=bmeMainColumn]{width:100% !important;} }    
@media only screen and (max-width: 600px){.bmeImageCard table.bmeCaptionTable td[name=tblCell]{padding:0px 20px 20px 20px !important;} }    
@media only screen and (max-width: 600px){.bmeImageCard table.bmeCaptionTable.bmeCaptionTableMobileTop td[name=tblCell]{padding:20px 20px 0 20px !important;} }    
@media only screen and (max-width: 600px){table.bmeCaptionTable td[name=tblCell]{padding:10px !important;} }    
@media only screen and (max-width: 600px){table[name=tblGtr]{ padding-bottom:20px !important;} }    
@media only screen and (max-width: 600px){td.blk_container, .blk_parent, [name=bmeLeftColumn], [name=bmeRightColumn], [name=bmeColumn1], [name=bmeColumn2], [name=bmeColumn3], [name=bmeBody]{display:table !important;max-width:600px !important;width:100% !important;} }    
@media only screen and (max-width: 600px){table[class=container-table], .bmeheadertext, .container-table { width: 95% !important; } }    
@media only screen and (max-width: 600px){.mobile-footer, .mobile-footer a{ font-size: 13px !important; line-height: 18px !important; } .mobile-footer{ text-align: center !important; } table[class="share-tbl"] { padding-bottom: 15px; width: 100% !important; } table[class="share-tbl"] td { display: block !important; text-align: center !important; width: 100% !important; } }    
@media only screen and (max-width: 600px){td[name=bmeShareTD], td[name=bmeSocialTD]{width: 100% !important; } }    
@media only screen and (max-width: 600px){td[name=tdBoxedTextBorder]{width: auto !important;}}    
@media only screen and (max-width: 600px){.bmeImageCard table.bmeImageTable{height: auto !important; width:100% !important; padding:20px !important;clear:both; float:left !important; border-collapse: separate;} }    
@media only screen and (max-width: 600px){.bmeMblInline table.bmeImageTable{height: auto !important; width:100% !important; padding:10px !important;clear:both;} }    
@media only screen and (max-width: 600px){.bmeMblInline table.bmeCaptionTable{width:100% !important; clear:both;} }    
@media only screen and (max-width: 600px){table.bmeImageTable{height: auto !important; width:100% !important; padding:10px !important;clear:both; } }    
@media only screen and (max-width: 600px){table.bmeCaptionTable{width:100% !important;  clear:both;} }    
@media only screen and (max-width: 600px){table.bmeImageContainer{width:100% !important; clear:both; float:left !important;} }    
@media only screen and (max-width: 600px){table.bmeImageTable td{padding:0px !important; height: auto; } }    
@media only screen and (max-width: 600px){td.bmeImageContainerRow{padding:0px !important;}}    
@media only screen and (max-width: 600px){img.mobile-img-large{width:100% !important; height:auto !important;} }    
@media only screen and (max-width: 600px){img.bmeRSSImage{max-width:320px; height:auto !important;}}    
@media only screen and (min-width: 600px){img.bmeRSSImage{max-width:600px !important; height:auto !important;} }    
@media only screen and (max-width: 600px){.trMargin img{height:10px;} }    
@media only screen and (max-width: 600px){div.bmefooter, div.bmeheader{ display:block !important;} }    
@media only screen and (max-width: 600px){.tdPart{ width:100% !important; clear:both; float:left !important; } }    
@media only screen and (max-width: 600px){table.blk_parent1, table.tblPart {width: 100% !important; } }    
@media only screen and (max-width: 600px){.tblLine{min-width: 100% !important;}}     
@media only screen and (max-width: 600px){.bmeMblCenter img { margin: 0 auto; } }       
@media only screen and (max-width: 600px){.bmeMblCenter, .bmeMblCenter div, .bmeMblCenter span  { text-align: center !important; text-align: -webkit-center !important; } }    
@media only screen and (max-width: 600px){.bmeNoBr br, .bmeImageGutterRow, .bmeMblStackCenter .bmeShareItem .tdMblHide { display: none !important; } }    
@media only screen and (max-width: 600px){.bmeMblInline table.bmeImageTable, .bmeMblInline table.bmeCaptionTable, td.bmeMblInline { clear: none !important; width:50% !important; } }    
@media only screen and (max-width: 600px){.bmeMblInlineHide, .bmeShareItem .trMargin { display: none !important; } }    
@media only screen and (max-width: 600px){.bmeMblInline table.bmeImageTable img, .bmeMblShareCenter.tblContainer.mblSocialContain, .bmeMblFollowCenter.tblContainer.mblSocialContain{width: 100% !important; } }    
@media only screen and (max-width: 600px){.bmeMblStack> .bmeShareItem{width: 100% !important; clear: both !important;} }    
@media only screen and (max-width: 600px){.bmeShareItem{padding-top: 10px !important;} }    
@media only screen and (max-width: 600px){.tdPart.bmeMblStackCenter, .bmeMblStackCenter .bmeFollowItemIcon {padding:0px !important; text-align: center !important;} }    
@media only screen and (max-width: 600px){.bmeMblStackCenter> .bmeShareItem{width: 100% !important;} }    
@media only screen and (max-width: 600px){ td.bmeMblCenter {border: 0 none transparent !important;}}    
@media only screen and (max-width: 600px){.bmeLinkTable.tdPart td{padding-left:0px !important; padding-right:0px !important; border:0px none transparent !important;padding-bottom:15px !important;height: auto !important;}}    
@media only screen and (max-width: 600px){.tdMblHide{width:10px !important;} }    
@media only screen and (max-width: 600px){.bmeShareItemBtn{display:table !important;}}    
@media only screen and (max-width: 600px){.bmeMblStack td {text-align: left !important;}}    
@media only screen and (max-width: 600px){.bmeMblStack .bmeFollowItem{clear:both !important; padding-top: 10px !important;}}    
@media only screen and (max-width: 600px){.bmeMblStackCenter .bmeFollowItemText{padding-left: 5px !important;}}    
@media only screen and (max-width: 600px){.bmeMblStackCenter .bmeFollowItem{clear:both !important;align-self:center; float:none !important; padding-top:10px;margin: 0 auto;}}    
@media only screen and (max-width: 600px){    
.tdPart> table{width:100% !important;}    
}    
@media only screen and (max-width: 600px){.tdPart>table.bmeLinkContainer{ width:auto !important; }}    
@media only screen and (max-width: 600px){.tdPart.mblStackCenter>table.bmeLinkContainer{ width:100% !important;}}     
.blk_parent:first-child, .blk_parent{float:left;}    
.blk_parent:last-child{float:right;}    
/*** BMEMBF END ***/    
    
table[name="bmeMainBody"], body {background-color:#ffffff;}    
 td[name="bmePreHeader"] {background-color:#ffffff;}    
 td[name="bmeHeader"] {background:#ffffff;background-color:#f5f2d0;}    
 td[name="bmeBody"], table[name="bmeBody"] {background-color:#ffffff;}    
 td[name="bmePreFooter"] {background-color:#ffffff;}    
 td[name="bmeFooter"] {background-color:#ffffff;}    
 td[name="tblCell"], .blk {font-family:initial;font-weight:normal;font-size:initial;}    
 table[name="blk_blank"] td[name="tblCell"] {font-family:Arial, Helvetica, sans-serif;font-size:14px;}    
 [name=bmeMainColumnParent] {border-color:transparent;border-width:0px;border-style:none;border-radius:0px;border-collapse:separate;border-spacing:0px;overflow:visible;}    
 [name=bmeMainContentParent] {border-color:transparent;border-width:0px;border-style:none;border-radius:0px;overflow:hidden;}    
 [name=bmeMainContent] {border-color:transparent;border-width:0px;border-style:none;border-radius:0px;border-collapse:separate;border-spacing:0px;overflow:visible;}      
</style> 

</head> 




<body marginheight="0" marginwidth="0" topmargin="0" leftmargin="0" style="height: 100% !important; margin: 0; padding: 0; width: 100% !important;min-width: 100%;">    
    
<table width="100%" cellspacing="0" cellpadding="0" border="0" name="bmeMainBody" style="background-color: rgb(255, 255, 255);" bgcolor="#ffffff">
	<tbody>
		<tr>
			<td width="100%" valign="top" align="center">    
				<table cellspacing="0" cellpadding="0" border="0" name="bmeMainColumnParentTable" width="100%">
					<tbody>
						<tr>
							<td name="bmeMainColumnParent" style="border: 0px none transparent; border-radius: 0px; border-collapse: separate; border-spacing: 0px; overflow: visible;">     
								<table name="bmeMainColumn" class="bmeMainColumn" style="max-width: 100%; overflow: visible;" cellspacing="0" cellpadding="0" border="0" align="center" width="100%">    
									<tbody>
										<tr>
											<td width="100%" class="blk_container bmeHolder" name="bmePreHeader" valign="top" align="center" style="color: rgb(102, 102, 102); border: 0px none transparent; background-color: rgb(255, 255, 255);" bgcolor="#ffffff">
											</td>
										</tr> 
										<tr>
											<td width="100%" class="bmeHolder" valign="top" align="center" name="bmeMainContentParent" style="border: 0px none transparent; border-radius: 0px; border-collapse: separate; border-spacing: 0px; overflow: hidden;">     <table name="bmeMainContent" style="border-radius: 0px; border-collapse: separate; border-spacing: 0px; border: 0px none transparent; overflow: visible;" width="100%" cellspacing="0" cellpadding="0" border="0" align="center"> 
												<tbody>
													<tr>
														<td width="100%" class="blk_container bmeHolder" name="bmeHeader" valign="top" align="center" style="border: 0px none transparent; background-color: rgb(255, 255, 255);" bgcolor="#f5f2d0">
														<div id="dv_9" class="blk_wrapper">    
															<table width="600" cellspacing="0" cellpadding="0" border="0" class="blk" name="blk_divider" style="">
																<tbody>
																	<tr>
																		<td class="tblCellMain" style="padding: 10px 20px;">    
																			<table class="tblLine" cellspacing="0" cellpadding="0" border="0" width="100%" style="border-top-width: 0px; border-top-style: none; min-width: 1px;">
																				<tbody>
																					<tr>
																						<td>
																							<span>
																								
																							</span>
																						</td>
																					</tr>
																				</tbody>    
																			</table>
																		</td>
																	</tr>
																</tbody>    
															</table>
														</div>
														<div id="dv_12" class="blk_wrapper">    
														<table width="600" cellspacing="0" cellpadding="0" border="0" class="blk" name="blk_button" style="">
															<tbody>
																<tr>
																	<td width="20">
																		
																	</td>
																	<td align="center">    
																		<table class="tblContainer" cellspacing="0" cellpadding="0" border="0" width="100%">
																			<tbody>
																				<tr>
																					<td height="20">
																						
																					</td>
																				</tr>
																				<tr>
																					<td align="center">    
																						<table cellspacing="0" cellpadding="0" border="0" class="bmeButton" align="center" style="border-collapse: separate;">
																							<tbody>
																								<tr><td style="border-radius: 0px; border: 0px; text-align: center; font-family: 'Yuanti SC', 'Microsoft Yahei', sans-serif; font-size: 14px; padding: 15px 40px; font-weight: normal; border-collapse: separate;"
																								 class="bmeButtonText">
																									<span style="font-family: 'Yuanti SC', 'Microsoft Yahei', sans-serif; font-size: 36px; color: #000; text-align: center; font-weight: normal; "> {{username}}, 恭喜你已成功完成注册！
																									</span>
																								</td>
																							</tr>
																						</tbody>    
																					</table>
																				</td>
																			</tr>
																			<tr>
																				<td height="40">
																					
																				</td>
																			</tr>
																		</tbody>    
																	</table>
																</td>
																<td width="20">
																	
																</td>
															</tr>
														</tbody>    
													</table>
												</div>
														<div id="dv_1" class="blk_wrapper">    
															<table width="600" cellspacing="0" cellpadding="0" border="0" class="blk" name="blk_image">
																<tbody>
																	<tr>
																		<td>    
																			<table width="100%" cellspacing="0" cellpadding="0" border="0">
																				<tbody>
																					<tr>
																						<td align="center" class="bmeImage" style="border-collapse: collapse; padding: 10px 0px;">
																							<img src="cssalogo.png" width="800" style="max-width: 1200px; display: block; width: 800px;" alt="" border="0">
																						</td>
																					</tr>
																				</tbody>    
																			</table>
																		</td>
																	</tr>
																</tbody>    
															</table>
														</div>
														<div id="dv_11" class="blk_wrapper">    
															<table width="600" cellspacing="0" cellpadding="0" border="0" class="blk" name="blk_divider" style="">
																<tbody>
																	<tr>
																		<td class="tblCellMain" style="padding: 20px;">    
																			<table class="tblLine" cellspacing="0" cellpadding="0" border="0" width="100%" style="border-top-width: 0px; border-top-style: none; min-width: 1px;">
																				<tbody>
																					<tr>
																						<td>
																							<span>
																								
																							</span>
																						</td>
																					</tr>
																				</tbody>    
																			</table>
																		</td>
																	</tr>
																</tbody>    
															</table>
														</div>
													</td>
												</tr>
												<tr>
													<td width="100%" class="blk_container bmeHolder bmeBody" name="bmeBody" valign="top" align="center" style="color: rgb(56, 56, 56); border: 0px none transparent; background-color: rgb(65, 138, 181);" bgcolor="#ffffff"><div id="dv_13" class="blk_wrapper">    
														<table width="600" cellspacing="0" cellpadding="0" border="0" class="blk" name="blk_divider" style="">
															<tbody>
																<tr>
																	<td class="tblCellMain" style="padding: 15px 20px;">    
																		<table class="tblLine" cellspacing="0" cellpadding="0" border="0" width="100%" style="border-top-width: 0px; border-top-style: none; min-width: 1px;">
																			<tbody>
																				<tr>
																					<td>
																						<span>
																							
																						</span>
																					</td>
																				</tr>
																			</tbody>    
																		</table>
																	</td>
																</tr>
															</tbody>    
														</table>
													</div>
												<div id="dv_14" class="blk_wrapper">    
													<table width="600" cellspacing="0" cellpadding="0" border="0" class="blk" name="blk_text">
														<tbody>
															<tr>
																<td>    
																	<table cellpadding="0" cellspacing="0" border="0" width="100%" class="bmeContainerRow">
																		<tbody>
																			<tr>
																				<td class="tdPart" valign="top" align="center">    
																					<table cellspacing="0" cellpadding="0" border="0" width="600" name="tblText" style="float:left; background-color:transparent;" align="left" class="tblText">
																						<tbody>
																							<tr>
																								<td valign="top" align="left" name="tblCell" style="padding: 20px 20px; font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: 400; color: rgb(56, 56, 56); text-align: left;" class="tblCell">
																									<div style="line-height: 200%; text-align: center;">
																										<span style="font-size: 14px; font-family: Arial, Helvetica, sans-serif; color: #fff; line-height: 200%; font-weight:600; text-decoration: underline; ">&nbsp注册已成功，可享CSSA会员福利：
																										</span>
																										<div style="font-size: 14px; font-family: Arial, Helvetica, sans-serif; color: #fff; line-height: 200%;">赠送国内免费手机卡（包含套餐）/&nbsp可报名参与CSSA独家福利活动&nbsp/&nbsp享受Benefit list商家折扣
																										</div>
																										<br>
																										<div style="font-size: 14px; font-family: Arial, Helvetica, sans-serif; color: #fff; line-height: 200%;">请凭借邮箱信息前往摊位领取会员卡或扫码联系CSSA小助手😊
																										</div>
																									</div>
																									<div>
																										<table width="600" cellspacing="0" cellpadding="0" border="0" class="blk" name="blk_image">
																											<tbody>
																												<tr>
																													<td>
																														<table width="100%" cellspacing="0" cellpadding="0" border="0">
																															<tbody>
																																<tr>
																																	<td align="center" class="bmeImage" style="border-collapse: collapse; padding: 10px 0px;">
																																		<img src="erweima.jpg" width="800" style="max-width: 150; display: block; width: 150px;" alt="" border="0">
																																	</td>
																																</tr>
																															</tbody>
																													</td>
																												</tr>
																											</tbody>
																									</div>
																								</td>
																							</tr>
																						</tbody>    
																					</table>
																				</td>
																			</tr>
																		</tbody>    
																	</table>
																</td>
															</tr>
														</tbody>    
													</table>
												</div>
												<div id="dv_6" class="blk_wrapper">    
													<table class="blk" name="blk_button" width="600" border="0" cellpadding="0" cellspacing="0">
														<tbody>
															<tr>
																<td width="20">
																	
																</td>
																<td align="center">    
																	<table width="100%" cellspacing="0" cellpadding="0" border="0" class="tblContainer">
																		<tbody>
																			<tr>
																				<td height="20">
																					
																				</td>
																			</tr>
																			<tr>
																				<td align="center">    
																					<table cellspacing="0" cellpadding="0" border="0" align="center" class="bmeButton" style="border-collapse: separate;">
																						<tbody>
																							<tr>
																								<td class="bmeButtonText" style="border-radius: 0px; border: 0px none transparent; text-align: center; padding: 20px 40px; font-weight: normal; font-family: Yuanti SC, sans-serif; font-size: 14px; background-color: rgb(69, 153, 232);">
																									<span style="font-family: 'Yuanti SC', sans-serif; font-size: 20px; color: rgb(255, 255, 255);">    
																										<a href="https://cssaunimelb.com/hub/login/" target="_blank" style="color:#FFFFFF; text-decoration: underline;">😃点此链接登陆CSSA账号 😃
																										</a>
																									</span>
																								</td>
																							</tr>
																						</tbody>    
																					</table>
																				</td>
																			</tr>
																			<tr>
																				<td height="20">
																					
																				</td>
																			</tr>
																		</tbody>    
																	</table>
																</td>
																<td width="20">
																	
																</td>
															</tr>
														</tbody>    
													</table>
												</div>
											</td>
										</tr> 
										<tr>
											<td width="100%" class="blk_container bmeHolder" name="bmePreFooter" valign="top" align="center" style="border: 0px none transparent; background-color: rgb(65, 138, 181);" bgcolor="#ffffff">
												<div id="dv_4" class="blk_wrapper">    
													<table width="600" cellspacing="0" cellpadding="0" border="0" class="blk" name="blk_divider" style="">
														<tbody>
															<tr>
																<td class="tblCellMain" style="padding: 20px 20px;">    
																	<table class="tblLine" cellspacing="0" cellpadding="0" border="0" width="100%" style="border-top-width: 0px; border-top-style: none; min-width: 1px;">
																		<tbody>
																			<tr>
																				<td>
																					<span>
																						
																					</span>
																				</td>
																			</tr>
																		</tbody>    
																	</table>
																</td>
															</tr>
														</tbody>    
													</table>
												</div>
												<div id="dv_8" class="blk_wrapper">    
													<table cellspacing="0" cellpadding="0" border="0" style="" name="blk_social_follow" width="600" class="blk">
														<tbody>
															<tr>
																<td class="tblCellMain" align="center" style="padding: 0px 20px 20px 20px;">    
																	<table class="tblContainer mblSocialContain" cellspacing="0" cellpadding="0" border="0" align="center" style="text-align:center;">
																		<tbody>
																			<tr>
																				<td class="tdItemContainer" style="">    
																					<table cellspacing="0" cellpadding="0" border="0" class="mblSocialContain" style="table-layout: auto;">
																						<tbody>
																							<tr>
																								<td valign="top" name="bmeSocialTD" class="bmeSocialTD"><!--[if gte mso 6]></td><td align="left" valign="top"><![endif]-->    
																									<table cellspacing="0" cellpadding="0" border="0" class="bmeFollowItem" type="facebook" style="float: left; display: block;" align="left">
																										<tbody>
																											<tr>
																												<td align="left" class="bmeFollowItemIcon" gutter="10" width="24" style="padding-right:10px;height:20px;">    
																													<a href="https://www.facebook.com/CSSAunimelb/?__tn__=kC-R&amp;eid=ARApCt5t19Il2Hcvd5m64fvhnKHRoyOlrG4xbT3dvSSMqYS79zrw-v_J4DZ6iiY3e8DH_zd5YsXh5gQN&amp;hc_ref=ARSmcGFY8HN7_WghIM7b7uTk8r7VR8692LP7ekT9TCBcRfGD1U6cPwrU_13-F7tRBSc&amp;fref=nf&amp;__xts__[0]=68.ARCD2EjU3XpK3hcpK2a6YRU2wez0wriB7hZPFrV_tGKr4pwPyppLyp8GyA4mlMLeFO5txc7zBh4_miVkJncLXr3lfw5LkYRkftPKSQxAEoq7be7bg34dV4-mJ_VEvDQX41FWiBFNoKMQFjyknRUP_jvkGt6MXYHAmbEO43UH8Em4-Gq1xvMNtAQJw09EHu2jwPCqpAMlzNIjICrRBFN0_0N45FAzP4xnBRaMXhrX8DQS1iXZ18IZXNCBnI6D8YVj3toNO8YJKBhBjNeOd6vTZXZg6Y8UqlrrN9JVmxJwst8BfIRuNh4hF_vMsDW1Bp1ZS2BmiNogJ1o6Oj51HyPd-RihsA" target="_blank" style="display: inline-block;background-color: rgb(53, 91, 161);border-radius: 4px;border-style: none; border-width: 0px; border-color: rgba(0, 0, 0, 0);">
																														<img src="https://ui.benchmarkemail.com/images/editor/socialicons/fb_btn.png" alt="Facebook" style="display: block; max-width: 114px;" border="0" width="24" height="24">
																													</a>
																												</td>
																											</tr>
																										</tbody>    
																									</table>

																										<!--[if gte mso 6]></td><td align="left" valign="top"><![endif]-->    
																											<table cellspacing="0" cellpadding="0" border="0" class="bmeFollowItem" type="instagram" style="float: left; display: block;" align="left">
																												<tbody>
																													<tr>
																														<td align="left" class="bmeFollowItemIcon" gutter="10" width="24" style="padding-right:10px;height:20px;">    
																															<a href="https://www.instagram.com/unimelbcssa/" target="_blank" style="display: inline-block;background-color: rgb(82, 127, 166);border-radius: 4px;border-style: none; border-width: 0px; border-color: rgb(0, 0, 238);">
																																<img src="https://ui.benchmarkemail.com/images/editor/socialicons/in_btn.png" alt="Instagram" style="display: block; max-width: 114px;" border="0" width="24" height="24">
																															</a>
																														</td>
																													</tr>
																												</tbody>    
																											</table>
																											<!--[if gte mso 6]></td><td align="left" valign="top"><![endif]-->    
																											<table cellspacing="0" cellpadding="0" border="0" class="bmeFollowItem" type="twitter" style="float: left; display: block;" align="left">
																												<tbody>
																													<tr>
																														<td align="left" class="bmeFollowItemIcon" gutter="10" width="24" style="padding-right:10px;height:20px;">    
																															<a href="https://weibo.com/cssaum?refer_flag=1001030103_&amp;is_all=1" target="_blank" style="display: inline-block;background-color: rgb(202, 31, 39);border-radius: 4px;border-style: none; border-width: 0px; border-color: rgba(0, 0, 0, 0);">
																															<img src="weibo.png" alt="Weibo" style="display: block; max-width: 100px;" border="0" width="24" height="24">
																														</a>
																													</td>
																												</tr>
																											</tbody>    
																										</table>
																									</td>
																								</tr>
																							</tbody>    
																						</table>
																					</td>
																				</tr>
																			 </tbody>    
																		</table>
																	</td>
																</tr>
															</tbody>    
														</table>
													</div>
												</td>
											</tr> 
										</tbody> 
									</table> 
								</td>
							</tr>  
									<tr>
											<td width="100%" class="blk_container bmeHolder" name="bmeFooter" valign="top" align="center" style="color: rgb(102, 102, 102); border: 0px none transparent; background-color: rgb(255, 255, 255);" bgcolor="#ffffff">
											</td>
										</tr>
									</tbody>    
								</table>
							</td>
						</tr>
					</tbody>    
				</table>
			</td>
		</tr>
	</tbody>    
</table>    
    <img src="http://benchmarkemail.benchurl.com/c/o?e=8E4B52&amp;c=91CEA&amp;t=1&amp;l=7889F345&amp;email=hL2iimIGZvj2QooSzVze1t7P%2FZjRPRKrj2c0%2B7DqUhU%3D&amp;relid=" alt="" border="0" style="display:none;" height="1" width="1">        
</body>
</html>