<!doctype html>
<html lang="zh-Hans">
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="Home 首页">
    <meta name="description" content="墨尔本大学中国学生会 Chinese Students and Scholars Association, University of Melbourne">
    <meta name="keywords" content="墨尔本大学中国学生会 Chinese Students and Scholars Association, University of Melbourne, CSSA, CSSA Unimelb">
    <meta name="author" content="CSSA Department of Information Technology">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}"/>
    <title>墨尔本大学中国学生会 Chinese Students and Scholars Association University of Melbourne </title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&amp;family=Montserrat:wght@500;600;700&amp;family=Noto+Sans+SC:wght@400;500;600;700&amp;family=Noto+Serif+SC:wght@600;700;800&amp;display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/lumen/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'PublicSite/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'PublicSite/avatar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'myCSSAhub/css/login.css'%}">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    
    <script src="{% static 'PublicSite/js/jquery.touchSwipe.min.js'%}" defer></script>
    <script src="{% static 'PublicSite/js/lazysizes.min.js'%}" defer></script>
    <script src="{% static 'PublicSite/js/blocs.js'%}"></script>




  {% block 'extra_header' %}
  {% endblock 'extra_header' %}
  <link rel="stylesheet" type="text/css" href="{% static 'PublicSite/css/brand-refresh.css' %}?v=20260904c">
<!-- Analytics -->

<!-- Analytics END -->
</head>

<body id="top">
<a class="cssa-skip-link" href="#main-content">跳转到主要内容</a>
<!-- Main container -->
<div class="page-container">
  {% include 'components/vertical_navbar.html' %}
  <main id="main-content">
  {% block 'pg_body' %}
  {% endblock  %}
  </main>
  {% include 'components/footbar.html'%}

  <!-- ScrollToTop Button -->
  <a class="bloc-button btn btn-d scrollToTop" href="#top" aria-label="返回页面顶部"><span class="fa fa-chevron-up" aria-hidden="true"></span></a>
  <!-- ScrollToTop Button END-->

  <!-- Preloader -->
  <div id="page-loading-blocs-notifaction" class="page-preloader"></div>
  <!-- Preloader END -->

</div>



  <script>
// DO NOT REMOVE THIS WHEN THE PAGE HAS ANY AJAX APPLET
  var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

  function csrfSafeMethod(method) {
      // these HTTP methods do not require CSRF protection
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
  }
  $.ajaxSetup({
      beforeSend: function(xhr, settings) {
          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
              xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
      }
  });

  </script>
  <script src="{% static 'PublicSite/js/scrollFX.js'%}" defer></script>
  {% block 'extra_js' %}
  {% endblock 'extra_js' %}
</body>
</html>
