{% load i18n %}

{% load static %}

<style>
	.header{
		align-items: flex-start;
		background-color: rgba(255, 255, 255, 1);
		border-bottom-style: solid;
		border-bottom-width: 2px;
		border-color: #96929259;
		display: flex;
		flex-direction: row;
		flex-shrink: 1;
		gap: 325px;
		height: 87px;
		justify-content: flex-start;
		/*margin-top: 13819px;*/
		min-width: 1440px;
		mix-blend-mode: normal;
		padding: 16px 22px;
		width: 100%;
	}
	.logo{
		height: 52px;
		object-fit: cover;
		width: 109px;
	}
	.navbar{
		align-items: center;
		align-self: center;
		display: flex;
		height: 28px;
		margin-bottom: 4.8px;
		min-width: 932px;
	}
	.link-text{
		font-family: "Inter";
		font-size: 20px;
		font-weight: 700;
		margin-left: 35px;
	}
	.navbar-link-text{
		height: 20px;
		letter-spacing: 0;
		line-height: 20px;
		margin-top: 1.8px;
		white-space: nowrap;
	}
	.tc-red{
		color: rgba(223,76,115,1);
	}
	.valign-text-middle{
		display:flex;
		flex-direction:column;
		justify-content:center;
	}
	.container{
		align-item:  center;
		display: flex;
		flew-direaction: row;
		/*margin-left: 35px;*/
		margin-top: 15px;
		min-height: 34px;
		width: 920;
	}
	.vector{
		align-self: flex-end;
		height: 27px;
		margin-bottom: 0;
		margin-left: 32px;
		width: 22px;
	}
</style>
<nav class="header">
	<!-- <a class="navbar-brand" href="/"> -->
		<img class="logo" src="{% static 'PublicSite/img/Logo_c.png' %}" alt="CSSA Logo"/>
	<!-- </a> -->
	<div class="container">
			<div class="link-text valign-text-middle navbar-link-text tc-red">{%trans "首页" %}</div>
			<div class="link-text valign-text-middle navbar-link-text">活动与竞赛</div>
			<div class="link-text valign-text-middle navbar-link-text">部门构成</div>
			<div class="link-text valign-text-middle navbar-link-text">岗位信息</div>
			<div class="link-text valign-text-middle navbar-link-text">折扣商家</div>
			<div class="link-text valign-text-middle navbar-link-text">赞助商</div>
			<div class="link-text valign-text-middle navbar-link-text">联系我们</div>
			<img src="{% static 'PublicSite/img/icon/vector/search.png' %}" class="vector" alt="search" />
			<img src="{% static 'PublicSite/img/icon/vector/notice.png' %}" class="vector" alt="notice" />
			<img src="{% static 'PublicSite/img/icon/vector/user.png' %}" class="vector" alt="user" />
		</div>
	


		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
		</button>

	<div class="collapse navbar-collapse" id="navbarColor01">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" href="/">{%trans "首页" %}<span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="{% url 'PublicSite:events' %}" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				活动与竞赛
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
				<a class="dropdown-item" href="{% url 'PublicSite:events' %}"> {%trans "活动消息" %} </a>
				<a class="dropdown-item" href="{% url 'PublicSite:PhotoCompetition:submit-photo' %}"> CSSA摄影大赛 </a>
				</div>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				{%trans "部门构成" %}
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
				<a class="dropdown-item" href="{% url 'PublicSite:departments' 'council' %}">{%trans "主席团" %} </a>
				<a class="dropdown-item" href="{% url 'PublicSite:departments' 'organisation' %}">{%trans "组织部" %}</a>
				<a class="dropdown-item" href="{% url 'PublicSite:departments' 'liaison' %}">{%trans "外联部" %}</a>
				<a class="dropdown-item" href="{% url 'PublicSite:departments' 'publicity' %}">{%trans "宣传部 " %}</a>
				<a class="dropdown-item" href="{% url 'PublicSite:departments' 'information' %}">{%trans "信息技术部" %}</a>
				<a class="dropdown-item" href="{% url 'PublicSite:departments' 'recruitment' %}">{%trans "人力资源部" %}</a>
				</div>
			</li>
			<!--li class="nav-item">
				<a class="nav-link" href="{% url 'PublicSite:blogs' %}?page=1">{%trans "新闻公告" %}</a>
			</li-->
			<li class="nav-item" >
				<a class="nav-link" href="{% url 'PublicSite:merchants' %}">{%trans "折扣商家 " %}</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'PublicSite:recruitment' %}">岗位信息</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'PublicSite:contact' %}">{%trans "联系我们" %}</a>
			</li>
			<li class="nav-item" >
				<a class="nav-link" href="{% url 'PublicSite:supportMerchants' %}">{%trans "赞助商 " %}</a>
			</li>

		</ul>
		<ul class="navbar-nav navbar-right" > <!--Login Info-->
		{% if user.is_authenticated %}
			<li class="nav-item"><a class="nav-link" href="{% url 'myCSSAhub:home' %}"> 欢迎你：{{ user.email }}</a></li>
			<li class="nav-item"><a class="nav-link" href="{% url 'myCSSAhub:hub_logout' %}"> 注销 </a></li>
		{% else %}
			<li class="nav-item"><a class="nav-link" href="{% url 'myCSSAhub:hub_login' %}"> 登录</a></li>
			<li class="nav-item"><a class="nav-link" href="{% url 'myCSSAhub:hub_reg' %}"> 成为CSSA会员 </a> </li>
		{% endif %}
		</ul>
	</div>
</nav>
