{% extends 'myCSSAhub/component/_layout.html' %}
{% block pageTitle %}
Inbox
{% endblock %}
{% block pageContent %}
{% block ExtraHeader %}
<style>
    .container-fluid {
        padding: 0 5px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    /* .fadeIn{
        animation-name: fadeIn;
    } */

    .email-app {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
        border: 1px solid #c8ced3;
    }

    /* 左边导航栏 */
    nav.nav_inbox {
        background-color: white;
        width: 200px;
        padding: 1rem;
        flex: 0 0 200px;
        border-right: 1px solid #c8ced3;
        /* display: block; */
    }

    /* New Email 按钮 */
    .btn-block {
        margin-bottom: 15px;
        display: block;
        width: 100%;
        cursor: pointer;
    }

    .btn-danger {
        color: #fff;
        background-color: #f86c6b;
        border-color: #f86c6b;
        user-select: none;
    }

    /* New Email 按钮下面的list菜单 */

    li {
        display: list-item;
        text-align: -webkit-match-parent;
    }

    ul.nav {
        flex-direction: column;
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
        margin-bottom: 0;
        list-style-type: none;
        list-style-position: initial;
        list-style-image: initial;
    }

    /* li标签 */
    .email-app nav .nav-item {
        position: relative;
    }

    /* li标签下的a标签    */
    .email-app nav .nav-link {
        color: #23282c;
        border-bottom: 1px solid #c8ced3;
    }

    .nav-link {
        display: block;
        padding: .5rem 1rem;
    }

    /* li标签下的 a 标签下的 i 标签    */
    .email-app nav .nav-link i {
        width: 20px;
        margin: 0 10px 0 0;
        font-size: 14px;
        text-align: center;
    }

    .fa {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
    }

    /* a 标签中的 span */

    .email-app nav .nav-link .badge {
        float: right;
        margin-top: 4px;
        margin-left: 10px;
    }

    .badge-danger {
        color: #fff;
        background-color: #f86c6b;
    }

    .badge {
        display: inline-block;
        padding: .25em .4em;
        font-size: 75%;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: .25rem;
    }

    /* ********************** 以上是左边导航栏的css设置 *****************/
    /* ********************** 现在开始右边信息栏的css设置 *****************/

    .email-app main.inbox {
        flex: 1;
        min-width: 0;
        padding: 1rem;
        background-color: white;
    }

   

    /* toolbar  */
    
    .email-app .inbox .toolbar {
        padding-bottom: 1rem;
        border-bottom: 1px solid #c8ced3;
    }

    .btn-group {
        position: relative;
        display: inline-flex;
        vertical-align: middle;
    }

    /* .btn-group>.btn:not(:last-child):not(.dropdown-toggle),
    .btn-group>.btn-group:not(:last-child)>.btn {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .btn-group>.btn:first-child {
        margin-left: 0;
    }

    .btn:not(:disabled):not(.disabled) {
        cursor: pointer;
    }

    .btn-group>.btn {
        position: relative;
        flex: 0 1 auto;
    } */

    .btn-light {
        color: #23282c;
        background-color: #f0f3f5;
        border-color: #f0f3f5;
    }


    /* toolbar 下面的信息栏  */
    .email-app .inbox .messages {
        padding: 0;
        list-style-position: initial;
        list-style-image: initial;
        display: block;
    }


    ul {
        list-style: none;
        display: block;
        /* margin-block-start: 1em; */
        margin-block-end: 1em; 
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;
    }

    /* 信息栏中的li标签 */
    .email-app .inbox .message {
        position: relative;
        padding: 1rem 1rem 1rem 2rem;
        cursor: pointer;
        border-bottom: 1px solid #c8ced3;
       
    }

    ul.messages :hover{
        background-color: rgba(230, 230, 230, 0.986);    
    }

    .email-app .inbox .message :hover {
        text-decoration: none;
       
    }

    /* 信息栏中的li标签下的 a 标签*/
    .email-app .inbox .message a {
        color: #000;
    }

    /* a标签中的 actions类 */
    .email-app .inbox .message .actions {
        position: absolute;
        left: 0;
        display: flex;
        flex-direction: column;
    }

    .email-app .inbox .message .actions .action {
        width: 2rem;
        margin-bottom: .5rem;
        color: #c8ced3;
        text-align: center;
    }

    /* a 标签中的header类 */
    .email-app .inbox .message.unread .header,
    .email-app .inbox .message.unread .title {
        font-weight: 700;
    }

    .email-app .inbox .message .header {
        display: flex;
        flex-direction: row;
        margin-bottom: .5rem;
    }

    /* a 标签中的header类中的date */
    .email-app .inbox .message .header .date {
        margin-left: auto;
    }

    /* a 标签中的title类 */
    .email-app .inbox .message .title {
        margin-bottom: .5rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .email-app .inbox .message .description {
        font-size: 12px;
    }
</style>
{% endblock ExtraHeader %}

<div id="ui-view">
    <div>
        <div class="animated fadeIn">
            <div class="email-app mb-4">
                <nav class="nav_inbox">
                    <a class="btn btn-danger btn-block" href="page-inbox-compose.html">New Email</a>
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="fa fa-inbox"></i> Inbox
                                <span class="badge badge-danger">4</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="fa fa-star"></i> Stared</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="fa fa-rocket"></i> Sent</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="fa fa-trash-o"></i> Trash</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="fa fa-bookmark"></i> Important
                                <span class="badge badge-info">5</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="fa fa-inbox"></i> Inbox
                                <span class="badge badge-danger">4</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <main class="inbox">
                    <div class="toolbar">
                        <div class="btn-group">
                            <button class="btn btn-light" type="button">
                                <span class="fa fa-envelope"></span>
                            </button>
                            <button class="btn btn-light" type="button">
                                <span class="fa fa-star"></span>
                            </button>
                            <button class="btn btn-light" type="button">
                                <span class="fa fa-star-o"></span>
                            </button>
                            <button class="btn btn-light" type="button">
                                <span class="fa fa-bookmark-o"></span>
                            </button>
                        </div>
                        <div class="btn-group">
                            <button class="btn btn-light" type="button">
                                <span class="fa fa-mail-reply"></span>
                            </button>
                            <button class="btn btn-light" type="button">
                                <span class="fa fa-mail-reply-all"></span>
                            </button>
                            <button class="btn btn-light" type="button">
                                <span class="fa fa-mail-forward"></span>
                            </button>
                        </div>
                        <button class="btn btn-light" type="button">
                            <span class="fa fa-trash-o"></span>
                        </button>
                        <div class="btn-group">
                            <button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown">
                                <span class="fa fa-tags"></span>
                                <span class="caret"></span>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">add label
                                    <span class="badge badge-danger"> Home</span>
                                </a>
                                <a class="dropdown-item" href="#">add label
                                    <span class="badge badge-info"> Job</span>
                                </a>
                                <a class="dropdown-item" href="#">add label
                                    <span class="badge badge-success"> Clients</span>
                                </a>
                                <a class="dropdown-item" href="#">add label
                                    <span class="badge badge-warning"> News</span>
                                </a>
                            </div>
                        </div>
                        <div class="btn-group float-right">
                            <button class="btn btn-light" type="button">
                                <span class="fa fa-chevron-left"></span>
                            </button>
                            <button class="btn btn-light" type="button">
                                <span class="fa fa-chevron-right"></span>
                            </button>
                        </div>
                    </div>
                    <ul class="messages">
                        <li class="message unread">
                            <a href="#">
                                <div class="actions">
                                    <span class="action">
                                        <i class="fa fa-square-o"></i>
                                    </span>
                                    <span class="action">
                                        <i class="fa fa-star-o"></i>
                                    </span>
                                </div>
                                <div class="header">
                                    <span class="from">Lukasz Holeczek</span>
                                    <span class="date">
                                        <span class="fa fa-paper-clip"></span> Today, 3:47 PM</span>
                                </div>
                                <div class="title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                                <div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                    minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                    commodo consequat. Duis aute
                                    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                                    nulla pariatur.</div>
                            </a>
                        </li>
                        <li class="message">
                            <a href="#">
                                <div class="actions">
                                    <span class="action">
                                        <i class="fa fa-square-o"></i>
                                    </span>
                                    <span class="action">
                                        <i class="fa fa-star-o"></i>
                                    </span>
                                </div>
                                <div class="header">
                                    <span class="from">Lukasz Holeczek</span>
                                    <span class="date">
                                        <span class="fa fa-paper-clip"></span> Today, 3:47 PM</span>
                                </div>
                                <div class="title">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                    eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                                <div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                    minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                    commodo consequat. Duis aute
                                    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                                    nulla pariatur.</div>
                            </a>
                        </li>
                        <li class="message">
                            <a href="#">
                                <div class="actions">
                                    <span class="action">
                                        <i class="fa fa-square-o"></i>
                                    </span>
                                    <span class="action">
                                        <i class="fa fa-star-o"></i>
                                    </span>
                                </div>
                                <div class="header">
                                    <span class="from">Lukasz Holeczek</span>
                                    <span class="date">Today, 3:47 PM</span>
                                </div>
                                <div class="title">Lorem ipsum dolor sit amet.</div>
                                <div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                    minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                    commodo consequat. Duis aute
                                    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                                    nulla pariatur.</div>
                            </a>
                        </li>
                        <li class="message unread">
                            <a href="#">
                                <div class="actions">
                                    <span class="action">
                                        <i class="fa fa-square-o"></i>
                                    </span>
                                    <span class="action">
                                        <i class="fa fa-star-o"></i>
                                    </span>
                                </div>
                                <div class="header">
                                    <span class="from">Lukasz Holeczek</span>
                                    <span class="date">Today, 3:47 PM</span>
                                </div>
                                <div class="title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                                <div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                    minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                    commodo consequat. Duis aute
                                    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                                    nulla pariatur.</div>
                            </a>
                        </li>
                        <li class="message">
                            <a href="#">
                                <div class="actions">
                                    <span class="action">
                                        <i class="fa fa-square-o"></i>
                                    </span>
                                    <span class="action">
                                        <i class="fa fa-star-o"></i>
                                    </span>
                                </div>
                                <div class="header">
                                    <span class="from">Lukasz Holeczek</span>
                                    <span class="date">Today, 3:47 PM</span>
                                </div>
                                <div class="title">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                    eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                                <div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                    minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                    commodo consequat. Duis aute
                                    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                                    nulla pariatur.</div>
                            </a>
                        </li>
                        <li class="message">
                            <a href="#">
                                <div class="actions">
                                    <span class="action">
                                        <i class="fa fa-square-o"></i>
                                    </span>
                                    <span class="action">
                                        <i class="fa fa-star-o"></i>
                                    </span>
                                </div>
                                <div class="header">
                                    <span class="from">Lukasz Holeczek</span>
                                    <span class="date">Today, 3:47 PM</span>
                                </div>
                                <div class="title">Lorem ipsum dolor sit amet.</div>
                                <div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                    minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                    commodo consequat. Duis aute
                                    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                                    nulla pariatur.</div>
                            </a>
                        </li>
                        <li class="message unread">
                            <a href="#">
                                <div class="actions">
                                    <span class="action">
                                        <i class="fa fa-square-o"></i>
                                    </span>
                                    <span class="action">
                                        <i class="fa fa-star-o"></i>
                                    </span>
                                </div>
                                <div class="header">
                                    <span class="from">Lukasz Holeczek</span>
                                    <span class="date">Today, 3:47 PM</span>
                                </div>
                                <div class="title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                                <div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                    minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                    commodo consequat. Duis aute
                                    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                                    nulla pariatur.</div>
                            </a>
                        </li>
                        <li class="message">
                            <a href="#">
                                <div class="actions">
                                    <span class="action">
                                        <i class="fa fa-square-o"></i>
                                    </span>
                                    <span class="action">
                                        <i class="fa fa-star-o"></i>
                                    </span>
                                </div>
                                <div class="header">
                                    <span class="from">Lukasz Holeczek</span>
                                    <span class="date">Today, 3:47 PM</span>
                                </div>
                                <div class="title">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                    eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                                <div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                    minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                    commodo consequat. Duis aute
                                    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                                    nulla pariatur.</div>
                            </a>
                        </li>
                        <li class="message">
                            <a href="#">
                                <div class="actions">
                                    <span class="action">
                                        <i class="fa fa-square-o"></i>
                                    </span>
                                    <span class="action">
                                        <i class="fa fa-star-o"></i>
                                    </span>
                                </div>
                                <div class="header">
                                    <span class="from">Lukasz Holeczek</span>
                                    <span class="date">Today, 3:47 PM</span>
                                </div>
                                <div class="title">Lorem ipsum dolor sit amet.</div>
                                <div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                    minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                    commodo consequat. Duis aute
                                    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                                    nulla pariatur.</div>
                            </a>
                        </li>
                    </ul>
                </main>
            </div>
        </div>
    </div>
</div>




{% endblock%}