{% extends 'myCSSAhub/component/_layout.html' %}
{% load static %}
{% block pageTitle %} 发送邮件 {% endblock %}
{% block ExtraHeader %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />

<script>
    // 各个模板的变更和内容
    function enroll() {
        // 先清空内容
        clearContent();
        document.getElementById("title").value = "这是报名活动的题目";
        document.getElementById("content").value = '这是报名活动的内容';
    }
    function recommand() {
        clearContent();
        document.getElementById("title").value = "这是推荐的主题";
        document.getElementById("content").value = '这是推荐的内容';

    }
    function discount() {
        clearContent();
        document.getElementById("title").value = "这是打折优惠的主题";
        document.getElementById("content").value = '这是优惠的内容';

    }
    function activity() {
        clearContent();
        document.getElementById("title").value = "这是活动的主题";
        document.getElementById("content").value = '这是活动的内容';
    }

    function clearContent() {
        document.getElementById("title").value = '';
        document.getElementById("content").value = '';
    }

</script>
{% endblock ExtraHeader %}

{% block pageContent %}

<form action="" method="post" id="form">
    <!-- {% for error in form.non_field_errors %}
    <div class="alert alert-danger">
        <strong>{{ error|escape }}</strong>
    </div>
    {% endfor %}  -->

    {% csrf_token %}
    <div class="form-group has-success has-feedback">
        <label>收信人邮箱：</label>
        <select class="form-control" id="userlookup" name="recID" style="width:100%" multiple="multiple" required></select>
    </div>

    <div class="btn-group-sm">
        <label>邮件模板：</label>
        <button class="btn btn-info template" type="button" onclick="enroll()">报名</button>
        <button class="btn btn-info template" type="button" onclick="recommand()">推荐</button>
        <button class="btn btn-info template" type="button" onclick="discount()">优惠</button>
        <button class="btn btn-info template" type="button" onclick="activity()">活动</button>
    </div>

    <div class="form-group">
        <label for="notification_title">标题</label>
        <input class="form-control" id="title" name="title" type="text" required/>
        <div class="form-group">
            <label for="notification_content">内容</label>
            <textarea class="form-control" id="content" name="content" rows="11" required></textarea>
        </div>
        <!-- <div class="form-group">
            <label for="exampleFormControlFile1">选择附件</label>
            <input type="file" class="form-control-file" id="exampleFormControlFile1">
        </div> -->
    </div>
    <!-- 直接点击submit可以发送ID至后台，select2控件已经封装好了 -->
    <button class="btn btn-primary" type="submit">发送</button>
    <button class="btn btn-danger" type="reset">重置</button>
    <button class="btn btn-warning" type="submit">存为草稿</button>

</form>

{% endblock%}


{% block ExtraJS %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

<script> //注意！！！ 此部分代码含服务器端渲染标签，不可移入单独的.js文件
    $("#userlookup").select2({
        // tags: true,  
        // tokenSeparators: [',', ' '],
        ajax: {
            // url: "https://api.github.com/search/repositories",
            url: '{% url "myCSSAhub:ajax_userLookup" %}',
            dataType: 'json',
            method: 'POST',
            data: function (params) {
                return {
                    search: params.term, // search term
                    page: params.page
                };
            },
            processResults: function (data, params) {
                // parse the results into the format expected by Select2
                // since we are using custom formatting functions we do not need to
                // alter the remote JSON data, except to indicate that infinite
                // scrolling can be used
                params.page = params.page || 1;

                // var select2Data = $.map(data.result.data, function (obj) {
                //     obj.id = obj.user_id;
                //     obj.text = obj.email;

                //    return obj;
                //});

                return {
                    results: data.result,
                    // results: data.items,
                    pagination: {
                        more: (params.page * 30) < data.length
                    }
                };
            }
        },
        escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
        minimumInputLength: 1,
        templateResult: formatRepo,
        templateSelection: formatRepoSelection
    });

    function formatRepo(repo) {
        if (repo.loading) {
            return repo.text;
        }

        var markup = "<span><div class='select2-result-repository__title'> ";
        if (repo.avatar) { //有头像显示头像，没头像显示placeholder
            markup += "<img src='" + repo.avatar + "'class='img-flag' hight='16px' width='16px' style='margin-right:20px' />"
        } else {
            markup += "<img src= '{% static '/myCSSAhub/img/avatar_placeholder.png'%}' class='img-flag' hight='16px' width='16px' style='margin-right:20px'/>"
        }
        if (repo.full_name_cn) {
            markup += "中文名：" + repo.full_name_cn;
        }
        markup += "; 英文名: " + repo.full_name + "; 邮箱: " + repo.email;

        markup += "</div></span>";

        return markup;
    }

    function formatRepoSelection(repo) {

        // console.log(repo)

        return repo.email;

    }

</script>
{% endblock ExtraJS %}