{% extends 'components/base_page.html' %}

{% block 'pg_body' %}
{% load static %}

<div class="bloc l-bloc mt-4" id="bloc-12">
  <div class="container">
    <div class="row">
      <div class="col bloc-0-margin-bottom">
        <h1 class="mg-md pg-title">
          {{event.eventName}}活动报名
        </h1>
      </div>
    </div>
  </div>
</div>

<div class="container bloc-fill-screen">
  <div class="row justify-content-center">
    <div class="align-self-center col-md-8">
      <div class="card">
        <div class="card-body">
          <img src="" alt="{{event.eventName}}" class="img-thumbnail">
          <h5 class="card-text"><strong>地址: </strong>{{event.address}}
            <br><strong>简介: </strong>{{event.eventInfo}}</h5>
            <hr/>
            <div class="blogContentBox">
              <hr />
              <div class="blogFullContentBox" id="fullContent">
              </div>
            </div>
            <br>
          </div>
        </div>
      </div>

      <div class="align-self-center col-md-8">
        <div class="card sticky-top">
          <div class="card-body">
            <h5 class="card-title"><strong>{{event.eventName}}</strong></h5>

            <p class="card-text"><strong>开始时间: </strong>{{event.eventActualStTime}}
              <br>

              <strong>参加人数上限: </strong>
              {% if hasMaxAttendent %}
              {{event.maxAttendent}}
              {% else %}
              无参加人数上限
              {% endif %}
              <br>

              <strong>票价: </strong>
              {% if isFree %}
              免费活动
              {% else %}
              aud {{event.price}}
              {% endif %}
            </p>

            <div class="controls col-md-offset-5 col-md-12 text-center">
              <input
              type="submit"
              value="报名此活动"
              class="btn btn-primary btn btn-info"
              id="event_submit"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock 'pg_body' %}

{% block 'extra_js' %}

  <script>

      let blogMainContent = '{{ blog.blogMainContent }}';
      let blogId = '{{ blog.blogId }}';

      var d = document.createElement('div');
      d.innerHTML = blogMainContent;
      blogMainContent = d.innerText || d.textContent

</script>
{% endblock 'extra_js' %}
