{% extends 'myCSSAhub/component/_layout.html' %}

{% block pageTitle %}
2019 Sem2 CSSA迎新随机会员卡号滚动抽奖
{% endblock %}

{% block ExtraHeader %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'myCSSAhub/css/luckydraw.css'%}">
{% endblock ExtraHeader %}


{% block pageContent %}
<div class="luckydraw_body">
    <!-- 主体盒子-->
    <div class="luckydraw_main_box">

        <!-- 喜迎新年-->
        <!--<div class="title-box">-->
        <!--<img src="images/pc-titile.png" alt="">-->
        <!--</div>-->
        <!-- 装饰点缀-->
        <!--<div class="desc-box">-->
        <!--<img src="images/dianzhui.png" alt="">-->
        <!--</div>		-->
        <div class="luckydraw_main">
            <!-- 数字背景盒子-->
            <div class="luckydraw_num-bg-box">
                <!-- 数字盒子-->
                <div class="luckydraw_num_box">
                    <div class="luckydraw_num"></div>
                    <div class="luckydraw_num"></div>
                    <div class="luckydraw_num"></div>
                    <div class="luckydraw_num"></div>
                    <div class="luckydraw_num"></div>
                    <div class="luckydraw_num"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- 操作按钮-->
    <div class="luckydraw_btn-box">
        <div class="btn start">开始抽奖</div>
        <div class="btn stop">停止抽奖</div>
    </div>

 

</div>


{% endblock %}

{% block ExtraJS %}
<script >

    var u = 100;
    var n = 1;
    var timer; //定义滚动的定时器
    //	var result = 123 ; //指定中奖结果,可以抽取指定数组中的某一个
    var isBegin = false; //标识能否开始抽奖

    $(".luckydraw_num").css('backgroundPositionY', 600);//开始666666
    $(".luckydraw_num").eq(0).css('backgroundPositionY', -600)
    $(".luckydraw_num").eq(1).css('backgroundPositionY', -600)
    $(".luckydraw_num").eq(2).css('backgroundPositionY', -600)
    $(".luckydraw_num").eq(3).css('backgroundPositionY', -600)
    $(".luckydraw_num").eq(4).css('backgroundPositionY', -600)
    $(".luckydraw_num").eq(5).css('backgroundPositionY', -600)

    //执行数字滚动
    function run() {
        n++;
        $(".luckydraw_num").each(function (index) {
            var _num = $(this);
            _num.animate({
                backgroundPositionY: ((u + 1) * n * (index + 1))
            }, 100);

        });
        timer = window.setTimeout(run, 100);
        isBegin = true;
    }
    $(function () {
        //开始抽奖
        $('.start').click(function () {
            if (isBegin) {
                return false;
            } else {
                run();
            }
        });
        //停止抽奖
        $('.stop').click(function () {

            //  ############################################################################### 
            var arr = ["122456", "143242", "412656", "535563", "777745"];
            // ###############################################################################   
         

            var index = Math.floor((Math.random() * arr.length));


            var num_arr = (arr[index] + '').split('');

            $(".luckydraw_num").each(function (index) {
                var _num = $(this);
                setTimeout(function () {
                    _num.animate({
                        backgroundPositionY: (u * 60) - (u * num_arr[index])
                    }, {
                            duration: 500,
                            easing: "easeInOutCirc",
                            complete: function () {
                                if (index == 10) {
                                    isBegin = false;
                                }
                            }
                        });
                }, 100);
            });
            window.clearTimeout(timer);
            isBegin = false;
        });
    });
</script>




<script src="{% static 'myCSSAhub/js/easing.js'%}"></script>
{% endblock ExtraJS %}