{% extends 'myCSSAhub/component/_layout.html' %}

{% block pageTitle %}
折扣商家列表
{% endblock %}

{% block pageContent %}

<div id="list-message">
    <div class="row">
        <div class="col-md-6">
            <p> 目前有{{infos|length}}个折扣商家</p>
        </div>
        {% if user.is_staff %}
        <div class="col-md-6">
            <div class="btn-group float-right" role="group">
                <a class="btn btn-pill btn-block btn-primary" role="button" href="{% url 'myCSSAhub:notifications_form' %}">添加商户</a>
            </div>
        </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12 col-xl-12">
                <div class="container-fluid">
                    <div class="row clearfix">
                        <div class="col-md-12 col-lg-12 col-xl-12">
                            <ul class="mail_list list-group list-unstyled">
                                {% for info in infos %}
                                <a href="/hub/notification/notifications_display/{{info.id}}" class="m-r-10 noti_link">
                                    <li class="list-group-item">
                                        <div class="media">
                                            <div class="media-body">
                                               
                                                <div class="media-heading">
                                                    {{info.merchant_name}}
                                                    <!-- <span class="badge bg-blue">Family</span> -->
                                                    <div class="float-right text-muted">
                                                        <div>{{info.merchant_add_date|date:"y/m/d H:i"}}</div>
                                                    </div>
                                                </div>
                                                <p class="msg" style="width: 300px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">{{info.merchant_description}}
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                </a>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>

            {% if is_paginated %}
            <ul class="pagination">
                {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                {% else %}
                <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for i in paginator.page_range %}
                {% if page_obj.number == i %}
                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                {% else %}
                <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
            </ul>
            {% endif %}
        </div>
    </div>
</div>


{% endblock %}