{% extends 'components/base_page.html' %}


{% block 'pg_body' %}

{% load static %}

<style>
  #bloc-1 {
    background-image: url("{% static '/myCSSAhub/img/bg_Register.jpg' %}")

  }

  </style>



  <div class="bloc none l-bloc" id="bloc-1">
    <div class="container bloc-fill-screen">
      <div class="row">
  <div id="loginbox" class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <form  id=msform class="form-horizontal" method="post" action="">
          {% csrf_token %}
          <ul id="progressbar">
            <li class="active">注册</li>
            <li>补全信息</li>
            <li>注册成功</li>
          </ul>
          <fieldset>
            <h5 class="fs-title">请注册你的myCSSA账号</h5>
            <div class="form-label-group required" style="margin-top:10px;">
              <label class="control-labe col-md-6 requiredField">E-mail<span class="asteriskField">*</span></label>
              <div class="controls col-md-12">
                <input class="input-md textinput textInput form-control" id="id_email" name="email" placeholder="邮箱" type="text"/>
              </div>
            </div>

            <div id="password1" class="form-label-group required" style="margin-top:10px;">
             <label for="id_password1" class="control-label col-md-3 requiredField"> Password<span class="asteriskField">*</span> </label>
              <div class="controls col-md-12 ">
                <input class="input-md textinput textInput form-control" id="id_password1" name="password" placeholder="密码" type="password" />
              </div>
            </div>
            <div id="div_id_number" class="form-label-group required" style="margin-top:10px;">
              <label for="id_number" class="control-label col-md-8  requiredField"> Contact Number<span class="asteriskField">*</span> </label>
              <div class="controls col-md-12 ">
                <input class="input-md textinput textInput form-control" id="phone_number" name="telNumber" placeholder="澳洲或者中国电话号码" type="text" />
              </div>
            </div>

            <div class="form-label-group"  style="margin-top:10px;">
              <div class="controls col-md-offset-5 col-md-12 ">
                <input type="submit" name="outcome" class="btn btn-primary btn btn-info" id="submit" />
              </div>
            </div>
          </fieldset>
          <fieldset>
            <h5 class="card-title text-center">请注册你的myCSSA账号</h5>
            <div id="gender" class="form-group required">
              <label for="id_gender"  class="control-label col-md-3 requiredField"> Gender<span class="asteriskField">*</span> </label>
              <div class="controls col-md-10 ">
                <select class="selectpicker form-control" id="id_gender" name="gender">
                  <option value="Female">
                    Female
                  </option>
                  <option value="Male">
                    Male
                  </option>
                  <option value="Other">
                    Other
                  </option>

                </select>
              </div>

            </div>

            <div id="firstname" class="form-group required">
              <label for="id_firstName" class="control-label col-md-3  requiredField"> First Name<span class="asteriskField">*</span> </label>
              <div class="controls col-md-10 ">
                <input class="input-md  textinput textInput form-control" id="firstname"  name="firstNameEN" placeholder="名" type="text" />
              </div>
            </div>
            <div id="firstname" class="form-group required">
              <label for="id_lastName" class="control-label col-md-3  requiredField"> Last Name<span class="asteriskField">*</span> </label>
              <div class="controls col-md-10 ">
                <input class="input-md  textinput textInput form-control" id="lastname" name="lastNameEN" placeholder="姓" type="text" />
              </div>
            </div>
            <div class="form-group required">
              <label class="control-label col-md-3 requiredField"> Student ID<span class="asteriskField">*</span></label>
              <div class="controls col-md-10">
                <input class="input-md textinput textInput form-control" name="studentId" placeholder="请输入你的学生证号" type="text"/>
              </div>
            </div>
            <div id="div_id_number" class="form-group required">
              <label for="id_number" class="control-label col-md-3  requiredField"> Date of Birth<span class="asteriskField">*</span> </label>
              <div class="controls col-md-10 ">
                <div class="input-group date" id="datetimepicker1">
                  <input class="input-md textinput textInput form-control"   name="dateOfBirth" placeholder="MM/DD/YYYY" type="text" />
                  <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                  </span>
                </div>
              </div>
            </div>
            <div id="div_id_location" class="form-group required">
              <label for="id_location" class="control-label col-md-3  requiredField"> Address<span class="asteriskField">*</span> </label>
              <div class="controls col-md-10 ">
                <input class="form-control input-medium bfh-countries"  name="address" placeholder="请输入你的地址" />
              </div>
            </div>
            <div id="div_id_location" class="form-group required">
              <label for="id_location" class="control-label col-md-3  requiredField"> Postcode<span class="asteriskField">*</span> </label>
              <div class="controls col-md-10 ">
                <input class="form-control input-medium bfh-countries"  name="postcode" placeholder="请输入你的邮编" />
              </div>
            </div>
            <div id="div_id_location" class="form-group required">
              <label for="id_location" class="control-label col-md-3  requiredField"> Place of Birth<span class="asteriskField">*</span> </label>
              <div class="controls col-md-10 ">
                <input class="form-control input-medium bfh-countries" data-country="US" name="originate" placeholder="请输入你的籍贯" />
              </div>
            </div>

            <div id="div_id_select" class="form-group required">

              <label for="degree"  class="control-label col-md-3  requiredField"> Degree <span class="asteriskField">*</span> </label>
              <div class="controls col-md-10 ">
                <select class="selectpicker form-control" id="degree" name="degree">
                  <option value="BA">
                    Bachelor
                  </option>
                  <option value="MA">
                    Master
                  </option>
                  <option value="CR">
                    Certificate
                  </option>
                  <option value="DP">
                    Diploma
                  </option>
                  <option value="FN">
                    Foundation
                  </option>
                  <option value="JD">
                    Jurum Doctor
                  </option>
                  <option value="MD">
                    Medical Doctor
                  </option>
                  <option value="PHD">
                    Doctor of Philosophy
                  </option>

                </select>
              </div>
            </div>

            <div id="major" class="form-group required">
              <label for="major" class="control-label col-md-3  requiredField"> Your Major<span class="asteriskField">*</span> </label>
              <div class="controls col-md-10 ">
                <input class="selectpicker form-control" id="major" name="uniMajor" placeholder="请输入你的学位" />

              </div>
            </div>
            <div class="form-group required">
              <label class="control-label col-md-3 requiredField"> Membership ID<span class="asteriskField">*</span></label>
              <div class="controls col-md-10">
                <input class="input-md textinput textInput form-control" name="membershipId" placeholder="请输入你的会员卡证" type="text"/>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3">Profile Picture</label>
              <div class="controls col-md-10">
                <div class="input-group js-input-file">
                  <input class="input-file" type="file" name="avatar"  id="file">
                </div>
                <div class="label--desc">请选择并上传你的头像。</div>
              </div>
            </div>

            <div class="form-group">
              <div class="controls col-md-offset-3 col-md-10 ">
                <div id="div_id_terms" class="checkbox required">
                  <label for="id_terms" class=" requiredField">
                    <input class="input-ms checkboxinput" id="id_terms" name="terms" type="checkbox" />
                    Agree with the terms and conditions
                  </label>
                </div>

              </div>
            </div>

            <div class="form-group">
              <div class="controls col-md-offset-5 col-md-10 " >
                <input type="submit" name="outcome1" value="Submit" class="btn btn-primary btn btn-info" id="submit-id-signup" />

              </div>
            </div>
          </fieldset>



        </form>


</div>
</div>
  </div>
</div>



{% endblock 'pg_body' %}
