{% extends 'components/base_page.html' %}
{% block 'extra_header' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/myCSSAhub/css/registrationForm.css'%}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css"/>
{% endblock 'extra_header' %}

{% block 'pg_body' %}
{% load static %}



<style>
  #bloc-1 {
    background-image: url("{% static '/myCSSAhub/img/bg_Register.jpg' %}");
    background-color: rgba(255, 255, 255, 0.4);
    background-blend-mode: lighten;
  }
</style>

<div class="bloc none l-bloc" id="bloc-1">
  <div class="container bloc-fill-screen">
    <div class="row justify-content-md-center">
      <div id="loginbox" class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <form id="msform" class="form-horizontal col" autocomplete="off">
        <input autocomplete="false" name="hidden" type="text" style="display:none;">
          {% csrf_token %}
          <ul id="progressbar">
            <li class="active">注册</li>
            <li>基本信息</li>
            <li>背景信息</li>
            <li>完成注册</li>
          </ul>
          <fieldset>
            <h5 class="fs-title">请注册你的myCSSA账号</h5>
            <div class="form-label-group required">
              <label class="control-label  col-md-6 requiredField"
                >E-mail<span class="asteriskField">*</span></label
              >
              <div class="controls col-md-12">
                <input
                  required
                  class="input-md textinput textInput form-control"
                  id="id_email"
                  name="email"
                  placeholder="邮箱"
                  type="text"
                  data-parsley-group="step1"
                  data-parsley-type="email"
                  data-parsley-database-Check="email"
                  value="{{ legacy_data.email }}"
                  autocomplete="off"
                />
              </div>
            </div>

            <div id="div_id_number" class="form-label-group required">
              <label
                for="id_number"
                class="control-label col-md-6  requiredField"
              >
                Contact Number<span class="asteriskField">*</span>
              </label>
              <div class="controls col-md-12 ">
                <input
                  required
                  class="input-md textinput textInput form-control"
                  id="id_telNumber"
                  name="telNumber"
                  placeholder="澳洲或者中国电话号码"
                  type="text"
                  data-parsley-tel-Number-Check="1"
                  data-parsley-database-check="telNumber"
                  data-parsley-group="step1"
                  value="{{ legacy_data.telNumber }}"
                  autocomplete="off"
                />
              </div>
            </div>
            <div id="password1" class="form-label-group required">
              <label
                for="id_password1"
                class="control-label col-md-6 requiredField"
              >
                Password<span class="asteriskField">*</span>
              </label>
              <div class="controls col-md-12 ">
                <input
                  required
                  class="input-md textinput textInput form-control"
                  id="id_password"
                  name="password"
                  placeholder="密码"
                  type="password"
                  data-parsley-group="step1"
                  autocomplete="off"
                />
                <div id="progress-container" style="padding-top:10px"></div>
              </div>
            </div>
            <div id="password2" class="form-label-group required">
              <label
                for="id_password1"
                class="control-label col-md-8 requiredField"
              >
                Confirm Password<span class="asteriskField">*</span>
              </label>
              <div class="controls col-md-12 ">
                <input
                  required
                  class="input-md textinput textInput form-control"
                  id="id_confirmPassword"
                  name="confirmPassword"
                  placeholder="重新输入密码"
                  type="password"
                  data-parsley-group="step1"
                  data-parsley-equalto="#id_password"
                  autocomplete="off"
                />
              </div>
            </div>

            <div class="form-label-group">
              <div class="controls col-md-offset-5 col-md-12 text-center">
                <input
                  type="button"
                  class="nextstep btn btn-primary btn btn-info"
                  name="next"
                  value="next"
                />
              </div>
            </div>
          </fieldset>

          <fieldset>
            <h5 class="fs-title">请填写你的信息</h5>
            <div id="gender" class="form-group required">
              <label
                for="id_gender"
                class="control-label  col-md-6 requiredField"
              >
                Gender<span class="asteriskField">*</span>
              </label>
              <div class="controls  col-md-12 ">
                <select
                  class="selectpicker form-control"
                  id="id_gender"
                  name="gender"
                  data-parsley-group="step2"
                >
                  <option value="Female"> Female </option>
                  <option value="Male"> Male </option>
                  <option value="Other"> Other </option>
                </select>
              </div>
            </div>

            <div id="name" class="form-group required">
              <label
                for="id_firstName"
                class="control-label  col-md-6  requiredField"
              >
                First Name<span class="asteriskField">*</span>
              </label>
              <div class="controls  col-md-12 ">
                <input
                  required
                  class="input-md  textinput textInput form-control"
                  id="id_firstname"
                  name="firstNameEN"
                  placeholder="名（拼音）"
                  type="text"
                  data-parsley-pattern="^[a-zA-Z]+$"
                  data-parsley-group="step2"
                  value="{{ legacy_data.firstNameEN }}"
                />
              </div>
            </div>
            <div id="name" class="form-group required">
              <label
                for="id_lastName"
                class="control-label  col-md-6  requiredField"
              >
                Last Name<span class="asteriskField">*</span>
              </label>
              <div class="controls  col-md-12 ">
                <input
                  required
                  class="input-md  textinput textInput form-control"
                  id="id_lastname"
                  name="lastNameEN"
                  placeholder="姓（拼音）"
                  type="text"
                  data-parsley-pattern="^[a-zA-Z]+$"
                  data-parsley-group="step2"
                  value="{{ legacy_data.lastNameEN }}"
                />
              </div>
            </div>

            <div id="div_id_number" class="form-group required">
              <label
                for="id_number"
                class="control-label  col-md-6  requiredField"
              >
                Date of Birth<span class="asteriskField">*</span>
              </label>
              <div class="controls  col-md-12 ">
                <div
                  class="input-group date"
                  id="datetimepicker1"
                  data-target-input="nearest"
                >
                  <input
                    required
                    class="input-md textinput textInput form-control datetimepicker-input"
                    name="dateOfBirth"
                    placeholder="MM/DD/YYYY"
                    type="text"
                    data-target="#datetimepicker1"
                    data-parsley-group="step2"
                  />
                  <div
                    class="input-group-append"
                    data-target="#datetimepicker1"
                    data-toggle="datetimepicker"
                  >
                    <div class="input-group-text">
                      <i class="fa fa-calendar"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="div_id_location" class="form-group required">
              <label
                for="id_location"
                class="control-label  col-md-6  requiredField"
              >
                Address<span class="asteriskField">*</span>
              </label>
              <div class="controls  col-md-12 ">
                <input
                  required
                  class="form-control input-medium bfh-countries"
                  id="id_address"
                  name="address"
                  placeholder="请输入你的地址"
                  data-parsley-group="step2"
                />
              </div>
            </div>
            <div id="div_id_location" class="form-group required">
              <label
                for="id_location"
                class="control-label  col-md-6  requiredField"
              >
                Postcode<span class="asteriskField">*</span>
              </label>
              <div class="controls  col-md-12 ">
                <input
                  required
                  class="form-control input-medium bfh-countries"
                  id="id_postcode"
                  name="postcode"
                  data-parsley-maxlength="4"
                  placeholder="请输入你的邮编"
                  data-parsley-group="step2"
                />
              </div>
            </div>
            <div id="div_id_location" class="form-group required">
              <label
                for="id_location"
                class="control-label  col-md-6  requiredField"
              >
                Place of Birth<span class="asteriskField">*</span>
              </label>
              <div class="controls  col-md-12 ">
                <input
                  required
                  class="form-control input-medium bfh-countries"
                  id="id_originate"
                  data-country="US"
                  name="originate"
                  placeholder="请输入你的籍贯"
                  data-parsley-group="step2"
                />
              </div>
            </div>
            <div class="form-label-group">
              <div class="controls col-md-offset-5 col-md-12 text-center">
                <input
                  type="button"
                  class="nextstep btn btn-primary btn btn-info"
                  name="next"
                  value="next"
                />
              </div>
            </div>
          </fieldset>
          <fieldset>
            <h5 class="fs-title">请填写你的学籍信息</h5>
            <div id="div_id_select" class="form-group required">
              <label
                for="degree"
                class="control-label  col-md-6  requiredField"
              >
                Degree <span class="asteriskField">*</span>
              </label>
              <div class="controls  col-md-12 ">
                <select
                  class="selectpicker form-control"
                  id="degree"
                  name="degree"
                  data-parsley-group="step3"
                >
                  <option value="BA"> Bachelor </option>
                  <option value="MA"> Master </option>
                  <option value="CR"> Certificate </option>
                  <option value="DP"> Diploma </option>
                  <option value="FN"> Foundation </option>
                  <option value="JD"> Jurum Doctor </option>
                  <option value="MD"> Medical Doctor </option>
                  <option value="PHD"> Doctor of Philosophy </option>
                </select>
              </div>
            </div>

            <div id="major" class="form-group required">
              <label for="major" class="control-label  col-md-6  requiredField">
                Your Major<span class="asteriskField">*</span>
              </label>
              <div class="controls  col-md-12 ">
                <input
                  required
                  class="selectpicker form-control"
                  id="id_major"
                  name="uniMajor"
                  placeholder="请输入你的学位"
                  data-parsley-group="step3"
                />
              </div>
            </div>
            <div class="form-group required">
              <label class="control-label  col-md-6 requiredField">
                Student ID<span class="asteriskField">*</span></label
              >
              <div class="controls  col-md-12">
                <input
                  required
                  class="input-md textinput textInput form-control"
                  id="id_studentId"
                  name="studentId"
                  placeholder="请输入你的学生卡号"
                  type="text"
                  data-parsley-minlength="6"
                  data-parsley-maxlength="7"
                  data-parsley-database-check="studentId"
                  data-parsley-group="step3"
                  value="{{ legacy_data.studentId }}"
                />
              </div>
            </div>
            <input type="hidden" id="id_membershipId" name="membershipId" value="{{ legacy_data.membershipId }}">
            <div class="form-group">
              <label class="control-label  col-md-6">Profile Picture</label>
              <div class="controls col-md-12">
                <div class="input-group js-input-file">
                  <input
                    required
                    class="input-file"
                    type="file"
                    name="avatar"
                    id="id_avatar"
                    data-parsley-max-file-size="2"
                    data-parsley-group="step3"
                  />
                </div>
                <div class="label--desc">请选择并上传你的头像。</div>
              </div>
            </div>

            <div class="form-group">
              <div class="controls col-md-offset-3  col-md-12 ">
                <div id="div_id_terms" class="checkbox required">
                  <label for="id_terms" class=" requiredField">
                    <input
                      required
                      class="input-ms checkboxinput"
                      id="id_terms"
                      name="terms"
                      type="checkbox"
                      data-parsley-group="step3"
                    />
                    Agree with the terms and conditions
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="controls col-md-offset-5 col-md-12 text-center">
                <input
                  type="button"
                  value="Submit"
                  class="nextstep btn btn-primary btn btn-info"
                  id="submit-id-signup"
                />
              </div>
            </div>
          </fieldset>

          <fieldset style="width:200%; margin-left:-50%;" class="col-md-24">
            <div class="form-label-group required jumbotron">
              <h2 class="display-3 text-center">
                恭喜你!
              </h2>
              <p class="lead text-center">
                你已经完成myCSSA账号注册<br /><strong
                  >请前往摊位领取办理会员卡</strong
                >
              </p>
              <hr />
              <p class="lead text-left">成为会员您将享受以下优惠:</p>
              <div class="row form-label-group">
                <i class="iconfont col-md-6">&#xe66d;</i>
                <i class="iconfont col-md-6 ">&#xe63d;</i>
                <p class="col-md-6 text-center">免费手机卡</p>
                <p class="col-md-6 text-center">行前分享会</p>
              </div>
              <div class="row form-label-group">
                <i class="iconfont col-md-6 ">&#xe607;</i>
                <i class="iconfont col-md-6 ">&#xeab5;</i>
                <p class="col-md-6 text-center">墨城攻略</p>
                <p class="col-md-6 text-center">活动报名</p>
              </div>
            </div>
            <p class="lead text-left">
                <strong>What's next?</strong><br>下次会员卡开放办理时间:
              </p>
              <div class="table text-left">
                <ul id="tableTime" style="margin-top:10px;">
                  <li class="col-md-5">下次开放时间: {{table.time}}</li>
                  <li class="col-md-5">下次开放地点: {{table.location}}</li>
                  </ul>
                  </div>

            <div class="form-group">
              <div class="controls col-md-offset-5 col-md-12 text-center">
                <a href=""
                  ><input
                    required
                    type="button"
                    class="nextstep btn btn-primary btn btn-info"
                    id="go-to-homepage"
                    value="返回主页"
                /></a>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/moment.min.js"
></script>
<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js"
></script>
<script type="text/javascript" src="{% static 'myCSSAhub/js/parsley.min.js' %}"></script>
<script type="text/javascript" src="{% static '/myCSSAhub/js/custom_validators.js'%}"></script>

<script type="text/javascript" src="{% static 'myCSSAhub/js/Password/bootstrap-strength-meter.js' %}"></script>
<script type="text/javascript" src="{% static 'myCSSAhub/js/Password/password-score.js' %}"></script>
<script type="text/javascript" src="{% static 'myCSSAhub/js/Password/password-score-options.js' %}"></script>
<script type="text/javascript">

  //Password Strength Indicator
  $(document).ready(function() {
    $('#id_password').strengthMeter('progressBar', {
      container: $('#progress-container'),
      base: 80,
      hierarchy: {
        '0': 'progress-bar-danger',
        '25': 'progress-bar-warning',
        '50': 'progress-bar-success'
      },
      passwordScore: {
        options: [],
        append: true
      }
    });
  });


</script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js"></script>

<script src="{% static '/myCSSAhub/js/registrationForm.js'%}" defer></script>


{% endblock 'pg_body' %}
