{% extends 'myCSSAhub/component/_layout.html' %}


{% block pageContent %}
{% load widget_tweaks %}
<div class="col-sm-6">
  <div class="card">
    <div class="card-header"><strong>修改账户密码</strong></div>
    <div class="card-body">
        <form method="POST" action="{% url 'myCSSAhub:update-password' %}">
            {% csrf_token %}
            {% for hidden_field in form.hidden_fields %}
            {{ hidden_field }}
            {% endfor %}

            {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                {% for error in form.non_field_errors %}
                {{ error }}
                {% endfor %}
            </div>
            {% endif %}
            
            <div class="form-group">
                <label for="old_password">您当前的密码</label>
                {% if form.is_bound %}
                {% if form.old_password.errors %}
                    {% render_field form.old_password class="form-control is-invalid" %}
                    {% for error in form.old_password.errors %}
                    <div class="invalid-feedback">
                        {{ error }}
                    </div>
                    {% endfor %}
                {% else %}
                    {% render_field form.old_password class="form-control is-valid" %}
                {% endif %}
                {% else %}
                    {% render_field form.old_password class="form-control" %}
                {% endif %}

                {% if form.old_password.help_text %}
                    <small class="form-text text-muted">{{ form.old_password.help_text }}</small>
                {% endif %}
            </div>

            <div class="form-group">
                <label for="new_password1">您的新密码</label>
                {% if form.is_bound %}
                {% if form.new_password1.errors %}
                    {% render_field form.new_password1 class="form-control is-invalid" %}
                    {% for error in form.new_password1.errors %}
                    <div class="invalid-feedback">
                        {{ error }}
                    </div>
                    {% endfor %}
                {% else %}
                    {% render_field form.new_password1 class="form-control is-valid" %}
                {% endif %}
                {% else %}
                    {% render_field form.new_password1 class="form-control" %}
                {% endif %}

                {% if form.new_password1.help_text %}
                    <small class="form-text text-muted">{{ form.new_password1.help_text }}</small>
                {% endif %}
            </div>

            <div class="form-group">
                <label for="new_password2">请再次输入您的新密码</label>
                {% if form.is_bound %}
                {% if form.new_password2.errors %}
                    {% render_field form.new_password2 class="form-control is-invalid" %}
                    {% for error in form.new_password2.errors %}
                    <div class="invalid-feedback">
                        {{ error }}
                    </div>
                    {% endfor %}
                {% else %}
                    {% render_field form.new_password2 class="form-control is-valid" %}
                {% endif %}
                {% else %}
                    {% render_field form.new_password2 class="form-control" %}
                {% endif %}

                {% if form.new_password2.help_text %}
                    <small class="form-text text-muted">{{ form.new_password2.help_text }}</small>
                {% endif %}
            </div>
            <input type="submit" class="btn btn-block btn-outline-primary" placeholder="更新密码"/>
        </form>
    </div>
  </div>
</div>
{% endblock %}
    