{% load static %}
<style>
{% comment %} #bloc-0 {
  width: 100%;
  margin: none;
}
.carousel {
  max-height: 60vh;
}

.carousel .carousel-inner .carousel-item {
  max-height: 60vh;
}

.carousel .carousel-inner .carousel-item .hero{
    top: 70%;
    left: 50%;
    width: 70%;
    
    margin: 0;
    padding: 20px;
    z-index: 3;
    color: #fff;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
    -webkit-transform: translate3d(-50%,-50%,0);
        -moz-transform: translate3d(-50%,-50%,0);
        -ms-transform: translate3d(-50%,-50%,0);
          -o-transform: translate3d(-50%,-50%,0);
            transform: translate3d(-50%,-50%,0);
}
.hero h1 {
    font-size: 5vw;
    
    margin-top: -10%;
}

.hero p {
    font-size: 4vw;
    color: #dddddd;
    font-family: cursive;
    margin-top: 0;
} {% endcomment %}

.top {
  display: flex;
}

.welcome-img {
  float: left;
  width: 70%;
}

.welcome-text {
  float: right;
  width: 30%;
  display: flex;
  align-items: center;
}

.welcome {
  width: 90%;
  padding-top: 8%;
  padding-bottom: 8%;
  padding-left: 13%;
  aspect-ratio: 4 / 3;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.welcome-to-cssa {
  width: 357px;
  text-align: center;
  color: #000000;
  font-weight: 700;
  font-size: 64px;
}

.cssa {
  color: #0C3F7C;
}

button {
  padding: 12px;
  color: white;
  background: #DF4C73;
  border-radius: 24px;
  font-size: 14px;
}

button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.welcome-info p {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  border: 1.5px solid;
  color: #000000;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  padding: 7% 12%;
  text-align: center;
  align-items: center;
  display: grid;
  height: 115px;
}

.welcome-info {
  column-count: 3;
  column-gap: 15%;
  padding-left: 8%;
  padding-right: 8%;
}
</style>

<div id="HomePageCarouselIndicators" class="carousel slide" data-ride="carousel" interval="3000">
<div class="carousel-inner">
  <div class="top">
    <div class="welcome-img">
      <img class="welcome" src="{% static "PublicSite/img/index-background.jpg" %}" alt="First slide">
    </div>
    <div class="welcome-text">
      <h1 class="welcome-to-cssa">欢迎来到<div class="cssa">CSSA</div><button>了解更多</button></h1>
    </div>
  </div>

  <div class="welcome-info">
    <p>成立于2003年<br>已有19年的历史</p>
    <p>有XXXX名<br>部员</p>
    <p>成就简介</p>
  </div>
</div>
</div>
