{% extends 'components/base_page.html' %}

{% block 'pg_body' %}
<!-- bloc-24 -->
<div class="bloc l-bloc" id="bloc-24">
	<div class="container bloc-lg">
		<div class="row">
			<div class="col">
			</div>
		</div>
	</div>
</div>
<!-- bloc-24 END -->

<!-- bloc-25 -->
<div class="bloc l-bloc " id="bloc-25">
	<div class="container bloc-xxl">
		<div class="row">
			<div class="col-sm-8">
			</div>
			<div class="col-sm-4">
			</div>
		</div>
	</div>
</div>
<!-- bloc-25 END -->

<!-- bloc-26 -->
<div class="bloc l-bloc" id="bloc-26">
	<div class="container bloc-lg">
		<div class="row">
			<div class="col col-lg-12">
			</div>
		</div>
	</div>
</div>
<!-- bloc-26 END -->

<!-- ScrollToTop Button -->
<a class="bloc-button btn btn-d scrollToTop" onclick="scrollToTarget('1',this)"><span class="fa fa-chevron-up"></span></a>
<!-- ScrollToTop Button END-->

<!-- Preloader -->
<div id="page-loading-blocs-notifaction" class="page-preloader"></div>
<!-- Preloader END -->


{% endblock 'pg_body' %}
