<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
  <!-- Overlay -->
  <div class="overlay"></div>

  <!-- Indicators -->
  <!--
  <ol class="carousel-indicators">
    <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
    
    <li data-target="#bs-carousel" data-slide-to="1"></li>
    <li data-target="#bs-carousel" data-slide-to="2"></li>
  </ol>
  -->
  
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item slides active">
        {% load static %}
      <div class="slide-1" style="background-image: url('{% static "assets/cristina-gottardi-406961-unsplash.jpg" %}')"> </div>
      <div class="hero">
        <hgroup>
            <h1>与你，更近一步</h1>        
            <h3>CSSA第二代数字应用群</h3>
        </hgroup>
        <button type="button" class="btn btn-outline-info">即将到来</button>
        
      </div>
    </div>
</div>