<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">CSSA 2.0 beta</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">首页 <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">活动信息</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">myCSSA Hub</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          部门介绍
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">宣传部</a>
          <a class="dropdown-item" href="#">信息部</a>
          <a class="dropdown-item" href="#">外联部</a>
          <a class="dropdown-item" href="#">组织部</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">合作机构</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">加入我们</a>
      </li>
    </ul>
    <ul class="navbar-nav navbar-right"> <!--Login Info-->
      {% if user.is_authenticated %}
        <li class="nav-item"><a class="nav-link" href="/adminhub/home/"> 欢迎你：{{ user.username }}</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'adminHub:hub_logout' %}"> 注销 </a></li>
      {% else %}
        <li class="nav-item"><a class="nav-link" href="{% url 'adminHub:hub_login' %}"> 登录</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'adminHub:hub_reg' %}"> 注册 </a> </li>
      {% endif %}
    </ul>    
  </div>
</nav>