{% extends "myCSSAhub/component/_layout.html" %}
{% block pageTitle %}
    帖子正文
{% endblock pageTitle %}
{% block BreadcrumbPath %}
    <li class="breadcrumb-item">圈子</li>
    <li class="breadcrumb-item active">
        <a href="{% url 'myCSSAhub:CommunityAPI:show_post' %}">帖子正文</a>
    </li>
{% endblock BreadcrumbPath %}
{% block pageContent %}
    <p>在这个页面可以显示帖子的全文，无论是否被屏蔽或删除，都能显示出来</p>
    <p>在下面的输入框中输入帖子ID可以直接查看某个帖子的内容（也可以查看评论）</p>
    <p>某些字段可能为空，比如评论就没有tag和标题</p>
    <div style="display: flex; flex-direction: row; margin-bottom: 20px;">
        <form action="">
            帖子ID:
            <input type="number" name="id" min="1">
            <input type="submit">
        </form>
        {% if post %}
            <button style="margin-left: 20vw" type="submit" id="btn_censor">屏蔽</button>
            <button style="margin-left: 20vw" type="submit" id="btn_decensor">不屏蔽</button>
        {% endif %}
    </div>
    {% if not post %}
        <p>没有id为 {{ id }} 的帖子</p>
    {% else %}
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-align-justify"></i> 帖子
                    </div>
                    <div class="card-body">
                        <div class="list-group">
                            <div class="list-group-item">
                                <div class="d-felx w-100 justify-content-between">
                                    <h5 class="mb-1">标题</h5>
                                </div>
                                <p class="mb-1">{{ content.title }}</p>
                            </div>
                            <div class="list-group-item">
                                <div class="d-felx w-100 justify-content-between">
                                    <h5 class="mb-1">正文</h5>
                                </div>
                                <p class="mb-1">{{ content.text }}</p>
                            </div>
                            <div class="list-group-item">
                                <div class="d-felx w-100 justify-content-between">
                                    <h5 class="mb-1">图片</h5>
                                </div>
                                <p class="mb-1">
                                    <ul>
                                        {% for image in content.images.all %}
                                            <li>
                                                <a href="{{ image.image.url }}">{{ image.id }}</a>
                                            </li>
                                            <img src="{{ image.image.url }}" />
                                        {% endfor %}
                                    </ul>
                                </p>
                            </div>
                            <div class="list-group-item">
                                <div class="d-felx w-100 justify-content-between">
                                    <h5 class="mb-1">回复给</h5>
                                </div>
                                <p class="mb-1">
                                    {% if post.replyToId %}
                                        <a href="{% url 'myCSSAhub:CommunityAPI:show_post' %}?id={{ post.replyToId.pk }}">{{ post.replyToId.pk }}</a>
                                    {% endif %}
                                </p>
                            </div>
                            <div class="list-group-item">
                                <div class="d-felx w-100 justify-content-between">
                                    <h5 class="mb-1">所属一级评论（只有二级及以上评论才有本字段）</h5>
                                </div>
                                <p class="mb-1">
                                    {% if post.replyToComment %}
                                        <a href="{% url 'myCSSAhub:CommunityAPI:show_post' %}?id={{ post.replyToComment.pk }}">{{ post.replyToComment.pk }}</a>
                                    {% endif %}
                                </p>
                            </div>
                            {% for title, value in post_fields %}
                                <div class="list-group-item">
                                    <div class="d-felx w-100 justify-content-between">
                                        <h5 class="mb-1">{{ title }}</h5>
                                    </div>
                                    <p class="mb-1">{{ value }}</p>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock pageContent %}
{% block ExtraJS %}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        $(document).ready(function() {

            function GetQueryString(name) {
                var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
                var r = window.location.search.substr(1).match(reg);
                if (r != null) return unescape(r[2]);
                return null;
            }

            function process(url) {
                return function() {
                    axios.defaults.xsrfCookieName = 'csrftoken'
                    axios.defaults.xsrfHeaderName = "X-CSRFTOKEN"
                    axios.post(url, {
                            csrftoken: csrftoken
                        })
                        .then(function(response) {
                            alert('处理成功，刷新页面可查看结果')
                        })
                        .catch(function(err) {
                            alert('处理失败，请找信息部')
                            alert(err.response.data)
                        })
                }
            }

            $('#btn_censor').click(process("/api/community/all-post/{{id}}/censor/"));
            $('#btn_decensor').click(process("/api/community/all-post/{{id}}/decensor/"));

        })
    </script>
{% endblock ExtraJS %}
