{% extends 'components/base_page.html' %}
{% block 'extra_header' %}
{% load static %}

<link href="http://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">


<link href="{% static 'PublicSite/css/blogstyle.css' %}" rel="stylesheet" />
<link href="{% static 'myCSSAhub/css/blogeditstyle.css' %}" rel="stylesheet" />

{% endblock 'extra_header' %}

{% block 'pg_body' %}
<!-- bloc-4 -->
{% load static %}

    <div class="blogBigContainer">
        <div class="row">
            <div class="container blogContainer">
                <div class="blogHeadingBox">

                    <h1>{{ onlyForReview }}{{ blog.blogTitle }}</h1>
                    <br />
                    <h5>{{ blog.createDate }}</h5>
                    <div class="blogAuthorsContainer">
                        {% for user in users %}
                        <div class="blogAuthorBox">
                            <img class="avatar" src="{{ user.userProfile.avatar.url }}">
                            <div class="blogAuthorInfoBox">
                                <a><h5><em>{{ user.userProfile.lastNameEN }} {{ user.userProfile.firstNameEN }}</em></h5></a>
                                <h5>{{ user.user.username }}</h5>
                            </div>
                        </div>
                        {% endfor %}
                        <div style="clear:both;"></div>
                    </div>
                    <div class="tagBox">
                        <h5>
                            标签：
                            {% for tag in blogTag %}
                            <span class="badge badge-info">{{ tag }}</span>
                            {% endfor %}
                        </h5>
                    </div>
                </div>


                <div class="blogContentBox">
                    <hr />
                    <div class="blogFullContentBox" id="fullContent">
                    </div>
                </div>
                <br />
                <hr />
                
                
                {% if userIsAuthor %}

                
                <a href="/hub/blog/editbg?blogId={{ blog.blogId }}"><button class="btn btn-default navbar-btn handButtonAnother" id="out">编辑文章</button></a>
                <button class="btn btn-default navbar-btn handButtonOther" id="delete">删除</button>
                
                {% endif %}


            </div>
            
        </div>
    </div>
    
{% endblock 'pg_body' %}

{% block 'extra_js' %}
<script src="http://cdn.quilljs.com/1.3.6/quill.min.js"></script>
<script src="{% static 'myCSSAhub/js/image-resize.min.js' %}"></script>
<script>
                
    let blogMainContent = '{{ blog.blogMainContent }}';
    let blogId = '{{ blog.blogId }}';
    
    var d = document.createElement('div');
    d.innerHTML = blogMainContent;
    blogMainContent = d.innerText || d.textContent
    
    let editorAnother = new Quill("#fullContent", {
        readOnly: true,
        modules: {
            imageResize: {},
        }
    });
    {% if userIsAuthor %}
        let deleteBlog = () => {
            let confirmed = confirm("确认删除吗？");
            if(confirmed){
                let XMLobj = new XMLHttpRequest();
                
                XMLobj.onreadystatechange = () => {
                    if(XMLobj.readyState == XMLHttpRequest.DONE && XMLobj.status == 200){
                        let response = XMLobj.responseText;
                        response = JSON.parse(XMLobj.responseText);
                        alert(response.message);
                    }
                }
                
                XMLobj.open("GET", '/hub/blog/ajax/deleteBlog?blogId=' + blogId, true);
                XMLobj.send();
            }
        }
        
        let rbutton = document.getElementById("delete")
        rbutton.onclick = deleteBlog
    
    {% endif %}
    editorAnother.setContents(JSON.parse(blogMainContent).ops);
    
    
                
            </script>
{% endblock 'extra_js' %}