<html lang="zh-Hans"><head>
    <meta charset="utf-8">
    <meta name="keywords" content="Home 首页">
    <meta name="description" content="墨尔本大学中国学生会 Chinese Student and Scholars Association, University of Melbourne">
    <meta name="keywords" content="墨尔本大学中国学生会 Chinese Student and Scholars Association, University of Melbourne">
    <meta name="author" content="CSSA Department of Information Technology">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <!--link rel="shortcut icon" type="image/png" href="favicon.png"-->
    <title>墨尔本大学中国学生会 Chinese Students and Scholars Association University of Melbourne</title>
    
    
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/lumen/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cssa-storage-net.sfo2.digitaloceanspaces.com/static/PublicSite/style.css">
    <link rel="stylesheet" type="text/css" href="https://cssa-storage-net.sfo2.digitaloceanspaces.com/static/myCSSAhub/css/login.css">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    
    <script src="https://cssa-storage-net.sfo2.digitaloceanspaces.com/static/PublicSite/js/jquery.touchSwipe.min.js" defer=""></script>
    <script src="https://cssa-storage-net.sfo2.digitaloceanspaces.com/static/PublicSite/js/lazysizes.min.js" defer=""></script>
    <script src="https://cssa-storage-net.sfo2.digitaloceanspaces.com/static/PublicSite/js/blocs.js"></script>




  
  
<!-- Analytics -->

<!-- Analytics END -->
</head>

<body>
<!-- Main container -->
<div class="page-container">
  




<nav class="navbar navbar-expand-lg navbar-light bg-light" style="border:none;">
<a class="navbar-brand" href="#">CSSA 2.0</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarColor01">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" href="/">首页<span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="/events/" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				活动与竞赛
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
				<a class="dropdown-item" href="/events/"> 活动消息 </a>
				<a class="dropdown-item" href="/app/photo-competition/submit/"> CSSA摄影大赛 </a>
				</div>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/blogs/?page=1">新闻公告</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/merchants/">折扣商家 </a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/recruitment/">加入CSSA理事</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/contact/">联系我们</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/support_merchants/">特别鸣谢 </a>
			</li>
			
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				部门构成
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
				<a class="dropdown-item" href="/department/council/">主席团 </a>
				<a class="dropdown-item" href="/department/organisation/">组织部</a>
				<a class="dropdown-item" href="/department/liaison/">外联部</a>
				<a class="dropdown-item" href="/department/information/">信息部</a>
				<a class="dropdown-item" href="/department/publicity/">宣传部 </a>
				<a class="dropdown-item" href="/department/recruitment/">人力资源部</a>
				</div>
			</li>
			
		</ul>
		<ul class="navbar-nav navbar-right"> <!--Login Info-->
		
			<li class="nav-item"><a class="nav-link" href="/hub/home/"> 欢迎你：zbj9261@gmail.com</a></li>
			<li class="nav-item"><a class="nav-link" href="/hub/logout/"> 注销 </a></li>
		
		</ul>
	</div>
</nav>

  
<!-- bloc-4 -->


<div class="bloc dept-header l-bloc" id="bloc-4">
	<div class="container bloc-lg">
		<div> 
			<hr >
			<h1 style="font-family: 'PingFang SC'; font-size: 70px; color: #393d3e; font-weight: normal; " class="mg-md text-center">
			人力资源部
			</h1>
			<hr >
			<br>
			<br>
			<br>
			<br>
		</div>
		<div class="row dept-header">
			<div class="col-md-6">
				<img src="{% static 'PublicSite/img/hrDep/何俊成.png' %}" class="img-fluid mx-auto d-block lazyloaded" alt="何俊成" width=80%>
			</div>
			<div class="col-md-6 align-self-center">
				<h2 class="mg-md">
					部长致辞
					<small class="mg-md">
						From the director<br>
					</small>
				</h2> 
				<br><br>
				<h5>何俊成</h5>
				<br>

				<p style="line-height:2">
					人力资源部是CSSA最年轻最活力最温暖的存在，我们致力于扮演多重脚色，在CSAA里有着不可替代的重要地位哦！比如作为各个部门的沟通枢纽，将各个部门联系在一起使社团更紧密；比如是温暖贴心照顾社员们方方面面的知心姐姐（哥哥）比如是追求完美致力于帮助社团发展的行政工作者，比如脑洞大开创意飞扬的周边设计狗，又比如写文能力 6 到飞起的微信推送和认真负责的小助手。
				</p>
			</div>
		</div>
	</div>
</div>
<!--a> href="index.html" class="btn btn-lg btn-maya-blue">加入我们</a-->
<!-- bloc-4 END -->

<!-- bloc-5 -->
<div class="bloc l-bloc" id="bloc-5">
	<div class="container">
		<div class="row">
			<div class="col-12 col-11 col-lg-8 offset-lg-2">
				<h3 class="mg-md text-center ">
					<i></i><br>
				</h3>
				<h3 class="mg-md text-center ">
					部门职责
				</h3>
				<p class="text-center">Our Duties</p>
				<p class="mg-md text-center ">
					我们是贴心小棉袄+知心老阿姨。<br>
					我们负责全社团的统筹规划与团建，促进各部门与部门内部的和谐。
				</p>
			</div>
		</div>
	</div>
</div>
<!-- bloc-5 END -->

<!-- bloc-6 -->
<div class="bloc l-bloc" id="bloc-6" style="display:none;">
	<div class="container bloc-sm">
		<div class="row">
			<div class="col-md-2">
				<h3 class="mg-md text-center ">
					<strong>148K</strong>
				</h3>
				<h4 class="mg-md text-center ">
					Product Users
				</h4>
			</div>
			<div class="col-md-2">
				<h3 class="mg-md text-center ">
					<strong>1289</strong>
				</h3>
				<h4 class="mg-md text-center ">
					Tweets
				</h4>
			</div>
			<div class="col-md-2">
				<h3 class="mg-md text-center  h3-style">
					<strong></strong>
				</h3>
				<h4 class="mg-md text-center ">
					成员数量
				</h4>
			</div>
			<div class="col-md-2">
				<h3 class="mg-md text-center ">
					<strong>220K</strong>
				</h3>
				<h4 class="mg-md text-center ">
					男女比例
				</h4>
			</div>
			<div class="col-md-2">
				<h3 class="mg-md text-center ">
					<strong>20K</strong>
				</h3>
				<h4 class="mg-md text-center ">
					Likes
				</h4>
			</div>
			<div class="col-md-2">
				<h3 class="mg-md text-center ">
					<strong>999K</strong>
				</h3>
				<h4 class="mg-md text-center ">
					Cups of Tea
				</h4>
			</div>
		</div>
	</div>
</div>
<!-- bloc-6 END -->
<br>
<br>
<br>
<br>
<br>
<!-- bloc-7 -->
<div class="bloc l-bloc" id="bloc-7">
	<div class="container bloc-sm">
		<div class="row">
			<div class="col-md-12 col-lg-6 offset-lg-3">
				<h3 class="mg-md text-center">
					部门成员介绍 
				</h3>
				<p class="text-center">
					Meet the Members
				</p>
				
			</div>
			<div class="col-md-6">
				<div class="row voffset memeber-display-large">
					<div class="col order-1 align-self-center">
						<h4 class="text-center mg-sm text-lg-left">
							王思霁
						</h4>
						<p class="text-center text-lg-left">
							副部长
						</p>
					</div>
					<div class="col-lg-3">
						<img src="{% static 'PublicSite/img/hrDep/王思霁.png' %}" class="img-fluid rounded-circle lazyloaded">
					</div>
				</div>
				<div class="row voffset memeber-display-large">
					<div class="col order-2 align-self-center">
						<h4 class="text-center mg-sm text-lg-left">
							施雨彤
						</h4>
						<p class="text-center text-lg-left">
							小秘书
						</p>
					</div>
					<div class="col-lg-3">
						<img src="{% static 'PublicSite/img/hrDep/施雨彤.png' %}" class="img-fluid rounded-circle lazyloaded">
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row">
					<div class="col-12">
						<div class="row voffset memeber-display-large">
							<div class="col-lg-3">
								<img src="{% static 'PublicSite/img/hrDep/徐思博.png' %}" class="img-fluid rounded-circle lazyloaded">
							</div>
							<div class="col align-self-center">
								<h4 class="text-center text-lg-left mg-sm">
									徐思博
								</h4>
								<p class="text-center text-lg-left">
									副部长
								</p>
							</div>
						</div>
						<div class="row voffset memeber-display-large">
							<div class="col-lg-3">
								<img src="{% static 'PublicSite/img/hrDep/萌萌.png' %}" class="img-fluid rounded-circle lazyloaded">
							</div>
							<div class="col align-self-center">
								<h4 class="text-center text-lg-left mg-sm">
									萌萌(Tom)
								</h4>
								<p class="text-center text-lg-left">
									小秘书
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- bloc-7 END -->

<!-- bloc-8 -->
<div class="bloc l-bloc" id="bloc-8">
	<div class="container bloc-md">
		<div class="row">
			<div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2  offset-lg-0 col-lg-12">
				<div class="row">
					<div class="col-lg-2 member-link-sml bloc-margin-bottom">
						<img src="img/placeholder-user.png" data-src="img/placeholder-user.png" class="img-fluid rounded-circle mx-auto d-block img-margin-bottom lazyloaded">
						<h4 class="mg-md text-lg-center">
							
						</h4>
						<h6 class="mg-md text-lg-center h6-heading-margin-top">
							
						</h6>
					</div>
					<div class="col-lg-2 member-link-sml">
						<img src="img/placeholder-user.png" data-src="img/placeholder-user.png" class="img-fluid rounded-circle mx-auto d-block img-style lazyloaded">
						<h4 class="mg-md text-lg-center">
							
						</h4>
						<h6 class="mg-md text-lg-center h6-2-margin-top">
							
						</h6>
					</div>
					<div class="col-lg-2 member-link-sml">
						<img src="img/placeholder-user.png" data-src="img/placeholder-user.png" class="img-fluid rounded-circle mx-auto d-block img-placeholder-us-style lazyloaded">
						<h4 class="mg-md text-lg-center">
							
						</h4>
						<h6 class="mg-md text-lg-center h6-3-margin-top">
							
						</h6>
					</div>
					<div class="col-lg-2 member-link-sml">
						<img src="img/placeholder-user.png" data-src="img/placeholder-user.png" class="img-fluid rounded-circle mx-auto d-block img-17-style lazyloaded">
						<h4 class="mg-md text-lg-center">
							
						</h4>
						<h6 class="mg-md text-lg-center h6-4-margin-top">
							
						</h6>
					</div>
					<div class="col-lg-2 member-link-sml">
						<img src="img/placeholder-user.png" data-src="img/placeholder-user.png" class="img-fluid rounded-circle mx-auto d-block img-17-style lazyloaded">
						<h4 class="mg-md text-lg-center">
							
						</h4>
						<h6 class="mg-md text-lg-center h6-5-margin-top">
							
						</h6>
					</div>
					<div class="col-lg-2 member-link-sml">
						<img src="img/placeholder-user.png" data-src="img/placeholder-user.png" class="img-fluid rounded-circle mx-auto d-block img-17-style lazyloaded">
						<h4 class="mg-md text-lg-center">
							
						</h4>
						<h6 class="mg-md text-lg-center h6-6-margin-top">
							
						</h6>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- bloc-8 END -->

  <footer class="footer">
<!-- bloc-20 -->

<div class="bloc d-bloc none" id="bloc-20" style="background-color: grey">
	<div class="container bloc-sm">
		<div class="row">
			<div class="col-md-3 col-sm-6">
				<h4 class="mg-md text-sm-left text-center tc-white">
					Affiliate with
					</h4>
						<a href="https://umsu.unimelb.edu.au/">
							<div class="mt-3 text-sm-left text-center">
							<img src="https://cssa-storage-net.sfo2.digitaloceanspaces.com/static/PublicSite/img/umsuLogo.png" class=" d-inline img-logo-style">
							</div>
						</a>
						<a href="https://gsa.unimelb.edu.au/">
							<div class="mt-3 text-sm-left text-center">
								<img src="https://cssa-storage-net.sfo2.digitaloceanspaces.com/static/PublicSite/img/gsaLogo.png" class=" d-inline img-logo-style">
							</div>
						</a>
			</div>

			<div class="col-md-3 col-sm-6">
				<h4 class="mg-md text-sm-left text-center tc-white">
					Quick Links
				</h4>
					<div class="text-sm-left text-center">
						<a class="tc-gray" href="https://www.unimelb.edu.au/">University of Melbourne Homepage</a>
					</div>
					<div class="text-sm-left text-center"> 
						<a class="tc-gray" href="https://students.unimelb.edu.au/">Student information</a>
					</div>
					<div class="text-sm-left text-center">
						<a class="tc-gray" href="https://auth.unimelb.edu.au/login/pages/login.jsp">MyUnimelb Student Portal</a>
					</div>
					<div class="text-sm-left text-center">
						<a class="tc-gray" href="https://library.unimelb.edu.au/">Library</a>
					</div>	
			</div>

			<div class="col-md-4 col-sm-6">
				<h4 class="mg-md text-sm-left text-center tc-white">
					Contact Mailbox
				</h4>
				<ul class="mg-md text-sm-left text-center">
					<li><strong>President: </strong>president@cssaunimelb.com</li>
					<li><strong>Public Relation: </strong>pr@cssaunimelb.com </li>
					<li><strong>Event: </strong>activity@cssaunimelb.com </li>
					<li><strong>Publicity: </strong>publicity@cssaunimelb.com </li>
					<li><strong>IT &amp; Dev Team: </strong>information@cssaunimelb.com </li>
					<li><strong>Human Resources: </strong>hr@cssaunimelb.com</li>
				</ul>
			</div>



			<div class="col-md-2 col-sm-6">
				<h4 class="mg-md text-sm-left text-center tc-white">
					Follow Up
				</h4>
				<div class="row">
					<div class="col-4 col-sm-4">
						<div class="text-center">
							<a href="https://www.facebook.com/CSSAunimelb/"><span class="fa fa-facebook-official icon-md"></span></a>
						</div>
					</div>
					<div class="col-4 col-sm-4">
						<div class="text-center">
							<a rel="qrcode-pops" data-container="body" data-toggle="popover" data-placement="top" data-img="https://cssa-storage-net.sfo2.digitaloceanspaces.com/static/PublicSite/img/qrcode_wx.jpg" data-original-title="" title=""><span class="fa fa-weixin icon-md"></span></a>
						</div>
					</div>
					<div class="col-4 col-sm-4">
						<div class="text-center">
							<a href="https://www.weibo.com/cssaum"><span class="fa fa-weibo icon-md"></span></a>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
<!-- bloc-20 END -->

<!-- bloc-30 -->
<div class="bloc bgc-black d-bloc" id="bloc-22">
	<div class="container">
		<div class="row">
			<div class="col">
				<h6 class="mg-md text-lg-center">
					本项目由 卢玏 设计管理 This Project is Designed &amp; Managed by Josh. Le. Lu
				</h6>
				<p class="mg-md text-lg-center h6-margin-top">
					站点交互设计：蒋梦雨 UI/UX Design: Caitlin. Mengyu. Jiang
				</p>
				<p class="mg-md text-lg-center h6-margin-top">
					版权所有 墨尔本大学中国学生会 Copyrights @ Chinese Student and Scholars Association, University of Melbourne 2012 - 2019
				</p>
			</div>
		</div>
	</div>
</div>
<!-- bloc-30 END -->
<script>
$('a[rel=qrcode-pops]').popover({
  html: true,
  trigger: 'hover',
  placement: 'bottom',
  content: function(){return '<img src="'+$(this).data('img') + '" />';}
});
</script>
</footer>


  <!-- ScrollToTop Button -->
  <a class="bloc-button btn btn-d scrollToTop showScrollTop" onclick="scrollToTarget('1',this)"><span class="fa fa-chevron-up"></span></a>
  <!-- ScrollToTop Button END-->

  <!-- Preloader -->
  
  <!-- Preloader END -->

</div>



  <script>
// DO NOT REMOVE THIS WHEN THE PAGE HAS ANY AJAX APPLET
  var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

  function csrfSafeMethod(method) {
      // these HTTP methods do not require CSRF protection
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
  }
  $.ajaxSetup({
      beforeSend: function(xhr, settings) {
          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
              xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
      }
  });

  </script>
  <script src="https://cssa-storage-net.sfo2.digitaloceanspaces.com/static/PublicSite/js/scrollFX.js" defer=""></script>
  
  


</body></html>