{% extends 'components/base_page.html' %}
{% block 'pg_body' %}
<!-- bloc-4 -->
{% load static %}

<div class="bloc py-5">
    <div class="text-center ">
        <h1 class="display-4"> 宣传部 Department of Publicity </h1>
    </div>
    <div class="row" style="min-height:20rem;">
        <div class="col-lg-4 card" style='border:none;'>
            <div class="card-body text-center">
                <div class="my-3 d-block mx-auto avatar-lg rounded-circle">
                    {% if view_bag.director.member.user_profile.avatar %}
                        <img class='img-fluid' src="{{view_bag.director.member.user_profile.avatar.url}}" />
                    {% else %}
                        <img class="img-fluid" src="{% static 'PublicSite/img/placeholder-user.png' %}">
                    {% endif %}
                </div>
                <h4 class="card-title ">部长 Director</h4>
                <h3>{{view_bag.director.member.get_full_EN_name}}</h3>
            </div>
        </div>
        <div class="col-lg-8 card" style='border:none;'>
            <div class='my-auto mx-auto'>
                <h1 class="text-center card-title">部门简介 About the Department</h1>
                <ol class="text-center card-text">
                    <li>为学生会内部举办的各类活动进行前期、后期宣传，并在举办活动时进行实时宣传</li>
                    <li>为活动提供更加专业化的策划、建议和服务</li>
                    <li>运用多种宣传手段，传达活动信息和学生会理念</li>
                    <li>为全系学生第一时间传递学校发布的信息，并及时反馈他们的意见和建议</li>
                    <li>与其他部门共同开展内部建设活动，并对院系宣传工作进行监督</li>
                    <li>定期举办宣传技能培训，提高各宣传部成员宣传工作方面的水平</li>
                    <li>协助学生会其他部门开展工作，使各部门工作更好的完成</li>
                </ol> 
            </div>
        </div>
    </div>
</div>

<div class="bloc py-5">
    <div class="row text-center" style="min-height:20rem;">
        {% for user in view_bag.vice_director %}
            <div class="col-lg-6 col-md-6 col-sm-6" >
                <div class="my-3 d-block mx-auto avatar-lg rounded-circle">
                    {% if user.member.user_profile.avatar %}
                        <img class='img-fluid' src="{{user.member.user_profile.avatar.url}}" />
                    {% else %}
                        <img class="img-fluid" src="{% static 'PublicSite/img/placeholder-user.png' %}">
                    {% endif %}
                </div>
                <h5>副部长 Vice-Director</h5>
                <h4> {{user.member.get_full_EN_name}} </h4>
            </div>
        {% endfor %}
    </div>
</div>

<div class="bloc py-5">
    <div class="py-3">
        <h1 class="text-center">当届部门成员</h1>
        <h3 class="text-center">Committee Member in Term 2018/19 </h3>
    </div>
    <div class="row" style="min-height:20rem">
        {% for user in view_bag.general %}
            <div class="col-lg-3 col-md-4 col-sm-6 text-center">
                <div class="my-3 d-block mx-auto avatar-md rounded-circle">
                    {% if user.member.user_profile.avatar %}
                        <img class='img-fluid' src="{{user.member.user_profile.avatar.url}}" />
                    {% else %}
                        <img class="img-fluid" src="{% static 'PublicSite/img/placeholder-user.png' %}">
                    {% endif %}
                </div>
                <h5>{{user.member.get_full_EN_name}}</h5>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock 'pg_body' %}

