{% extends 'components/base_page.html' %}
{% block 'pg_body' %}
<!-- bloc-4 -->
{% load static %}

<div class="bloc">
    <div class="container-fluid">
        <div class="text-center py-3">
            <h1 class="display-4"> 宣传部 </h1>
        </div>
        <div class="row">
            <div class="col-lg-4 card" style="height:20rem">
                <img class="card-img-top rounded-circle" src="/static/PublicSite/img/index-background.jpg">
                <div class="card-body">
                    <h4 class="card-title text-center"> 宣传部部长 </h4>
                </div>
            </div>
            <div class="col-lg-8 card" style="height:20rem">
                <h1 class="text-center card-title">部门职责</h1>
                <ol class="text-center card-text">
                    <li>为学生会内部举办的各类活动进行前期、后期宣传，并在举办活动时进行实时宣传；</li>
                    <li>为活动提供更加专业化的策划、建议和服务；</li>
                    <li>运用多种宣传手段，传达活动信息和学生会理念；</li>
                    <li>为全系学生第一时间传递学校发布的信息，并及时反馈他们的意见和建议</li>
                    <li>与其他部门共同开展内部建设活动，并对院系宣传工作进行监督；</li>
                    <li>定期举办宣传技能培训，提高各宣传部成员宣传工作方面的水平；</li>
                    <li>协助学生会其他部门开展工作，使各部门工作更好的完成。</li>
                </ol> 
            </div>
        </div>
    </div>
</div>

<div class="bloc py-3">
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-lg-6" style="height:15rem">
                <img class="rounded-circle" style="max-width: 50%" src="/static/PublicSite/img/index-background.jpg">
                <h3>副部长1号</h3>
            </div>
            <div class="col-lg-6" style="height:15rem">
                <img class="rounded-circle" style="max-width: 50%" src="/static/PublicSite/img/index-background.jpg">
                <h3>副部长2号</h3>
            </div>
        </div>
    </div>
</div>

<div class="bloc">
    <div class="container-fluid">
        <div class="py-3">
            <h1 class="text-center">部门成员介绍</h1>
        </div>
        <div class="row" style="height:12rem">
            <div class="col-lg-3 text-center">
                <img class="rounded-circle" style="max-width: 50%" src="/static/PublicSite/img/placeholder-user.png">
                <p>成员头像</p>
            </div>
            <div class="col-lg-3 text-center">
                <img class="rounded-circle" style="max-width: 50%" src="/static/PublicSite/img/placeholder-user.png">
                <p>成员头像</p>
            </div>
            <div class="col-lg-3 text-center">
                <img class="rounded-circle" style="max-width: 50%" src="/static/PublicSite/img/placeholder-user.png">
                <p>成员头像</p>
            </div>
            <div class="col-lg-3 text-center">
                <img class="rounded-circle" style="max-width: 50%" src="/static/PublicSite/img/placeholder-user.png">
                <p>成员头像</p>
            </div>
        </div>
        <div class="row" style="height:12rem">
            <div class="col-lg-3 text-center">
                <img class="rounded-circle" style="max-width: 50%" src="/static/PublicSite/img/placeholder-user.png">
                <p>成员头像</p>
            </div>
            <div class="col-lg-3 text-center">
                <img class="rounded-circle" style="max-width: 50%" src="/static/PublicSite/img/placeholder-user.png">
                <p>成员头像</p>
            </div>
            <div class="col-lg-3 text-center">
                <img class="rounded-circle" style="max-width: 50%" src="/static/PublicSite/img/placeholder-user.png">
                <p>成员头像</p>
            </div>
            <div class="col-lg-3 text-center">
                <img class="rounded-circle" style="max-width: 50%" src="/static/PublicSite/img/placeholder-user.png">
                <p>成员头像</p>
            </div>
        </div>
    </div>
</div>
{% endblock 'pg_body' %}

