{% extends 'components/base_page.html' %}

{% block 'pg_body' %}
{% load static %}

<div class="bloc l-bloc mt-4" id="bloc-12">
  <div class="container">
    <div class="row">
      <div class="col bloc-0-margin-bottom">
        <h1 class="mg-md pg-title">
          {{events.eventName}}活动报名
        </h1>
      </div>
    </div>
  </div>
</div>

<div class="container bloc-fill-screen">
  <div class="row justify-content-center">
      <div class=" col-md-4 sticky-top">
        <div class="card sticky-top">
          <div class="card-body">
            <h5 class="card-title"><strong>{{events.eventName}}</strong></h5>

            <p class="card-text"><strong>开始时间: </strong>{{events.eventActualStTime}}
              <br>

              <strong>参加人数上限: </strong>
              {% if hasMaxAttendent %}
              {{events.maxAttendent}}
              {% else %}
              无参加人数上限
              {% endif %}
              <br>

              <strong>票价: </strong>
              {% if isFree %}
              免费活动
              {% else %}
              aud {{events.price}}
              {% endif %}
            </p>

            <div class="controls col-md-offset-5 col-md-12 text-center">
              <input
              type="submit"
              value="报名此活动"
              class="btn btn-primary btn btn-info"
              id="event_submit"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card">
          <div class="card-body justify-content-center">
            <img src="{{events.mainVisual.url}}" alt="{{events.eventName}}" class="img-thumbnail rounded mx-auto d-bloc">

            <h5 class="card-text mt-3"><strong>地址: </strong>{{events.address}}
              <br><strong>简介: </strong>{{events.eventInfo}}</h5>
              <hr/>
              <div class="blogContentBox">
                <div class="blogFullContentBox" id="fullContent">
                  {{events.relatedArticles}}
                  <div class="text-right">
                  <footer class="blockquote-footer">
                    {{events.DisplayArticleType}}
                    </footer>
                    </div>
                </div>
              </div>

              <br>
            </div>
          </div>

        </div>

    </div>
  </div>

{% endblock 'pg_body' %}

{% block 'extra_js' %}

  <script>

      let blogMainContent = '{{ blog.blogMainContent }}';
      let blogId = '{{ blog.blogId }}';

      var d = document.createElement('div');
      d.innerHTML = blogMainContent;
      blogMainContent = d.innerText || d.textContent

</script>
{% endblock 'extra_js' %}
