{% extends 'components/base_page.html' %}

{% block 'extra_header' %}
{% load static %}

<link href="http://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">



{% endblock 'extra_header' %}


{% block 'pg_body' %}
{% load static %}

<div class="bloc l-bloc mt-4" id="bloc-12">
  <div class="container">
    <div class="row">
      <div class="col bloc-0-margin-bottom">
        <h1 class="mg-md pg-title">
          {{events.eventName}} 活动报名
        </h1>
      </div>
    </div>
  </div>
</div>

<div class="container bloc-fill-screen">
  <div class="row justify-content-center">
    <div class=" col-md-4 sticky-top">
      <div class="card sticky-top">
        <div class="card-body">
          <h5 class="card-title"><strong>{{events.eventName}}</strong></h5>

          <p class="card-text"><strong>开始时间: </strong>{{events.eventActualStTime}}
            <br>

            <strong>参加人数上限: </strong>
            {% if events.hasMaxAttendent %}
            {{events.maxAttendent}}
            {% else %}
            无参加人数上限
            {% endif %}
            <br>

            <strong>票价: </strong>
            {% if events.isFree %}
            免费活动
            {% else %}
            aud {{events.price}}
            {% endif %}
          </p>

          <div class="controls col-md-offset-5 col-md-12 text-center">
            {% if event.isMemberOnly %}
						<a href="#" class="btn btn-block btn-mustard mt-3">CSSA会员专享</a>
						{% elif events.eventSignUpTime >  now_time %}
						<a href="#" class="btn btn-block btn-light-gray mt-3">报名尚未开始</a>
						{% else %}
						<a href="{% url 'myCSSAhub:EventAPI:confirm_order' events.eventID %}" class="btn btn-block btn-blue-gray mt-3">报名<br></a>
						{% endif %}
            {{events.eventSignUpTime}}
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card">
        <div class="card-body justify-content-center text-center">

          <img src="{{events.mainVisual.url}}" alt="{{events.eventName}}" class="img-thumbnail rounded mx-auto d-bloc" style="max-height:350px">

          <p class="card-text mt-3"><strong>地址: </strong>{{events.address}}
            <br><strong>简介: </strong>{{events.eventInfo}}</p>
            <hr/>
            {% if events.DisplayArticleType == 'Blog' %}
            <div class="container">
              <div class="blogContentBox">
                <div class="blogFullContentBox" id="fullContent">
                </div>
              </div>
            </div>
            {% else %}
            <!-- <div class="embed-responsive embed-responsive-21by9">
              <iframe class="embed-responsive-item" src="https://mp.weixin.qq.com/s/IRvjtGMyWuWFWiFYPuQNzw"></iframe>
            </div> -->
            <div class="row justify-content-center text-center">
              <p>详情请见: <a href="{{events.WechatArticleUrl}}" class="text-primary">&nbsp&nbsp&nbsp<u> {{events.WechatArticleUrl}}</u></a>
              <br>
             报名后请扫小助手二维码哦!
              <br>
              小助手二维码
              <br>
              <img src="{{events.WechatQRcode.url}}" alt="{{events.eventName}}" class="img-thumbnail rounded mx-auto d-bloc" style="max-height:200px; margin-top:10px">
              </p>
              </div>


            {% endif %}


            <br>
          </div>
        </div>

      </div>
    </div>
  </div>




  {% endblock 'pg_body' %}

  {% block 'extra_js' %}
  <script src="http://cdn.quilljs.com/1.3.6/quill.min.js"></script>
  <script src="{% static 'myCSSAhub/js/image-resize.min.js' %}"></script>
  <script>

    let blogMainContent = '{{events.relatedArticles.blogMainContent}}';

    var d = document.createElement('div');
    d.innerHTML = blogMainContent;
    blogMainContent = d.innerText || d.textContent

    let editorAnother = new Quill("#fullContent", {
      readOnly: true,
      modules: {
        imageResize: {},
      }
    });
    editorAnother.setContents(JSON.parse(blogMainContent).ops);
  </script>
  {% endblock 'extra_js' %}
