{% extends 'components/base_page.html' %}
{% load static %}

{% block 'extra_header' %}

<link rel="stylesheet" type="text/css" href="{% static '/myCSSAhub/css/index.css'%}">


<style>
	.bg-light {
    background-color: #f8f9fa!important;
}


	</style>

{% endblock 'extra_header' %}

{% block 'pg_body' %}

{% include 'components/index/_hero.html' %}

<!-- bloc-2 -->

		<section class="bg-light" id="portfolio">
		    <div class="container">
		      <div class="row">
		        <div class="col-lg-12 text-center">
		          <h2 class="section-heading text-uppercase">近期活动</h2>
		          <h3 class="section-subheading text-muted">近期cssa活动</h3>
		        </div>
		      </div>
					<div class="row justify-content-center">
						{% for event in eventsFuture|slice:":4" %}

        <div class="col-md-3 portfolio-item ">
          <a class="portfolio-link" data-toggle="modal" href="#model{{event.eventID}}">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fa fa-plus fa-3x"></i>
              </div>
            </div>
						<div class="card-img">
            <img class="img-fluid" src="{{event.mainVisual.url}}" style="min-height:200px; max-height:200px; width:100%">
						</div>
          </a>
          <div class="portfolio-caption" style="max-height:200px; height:100%;">
            <h4>{{event.eventName}}</h4>
              <p class="text-muted mt-3" style="max-height:80px; overflow:auto;">{{event.eventInfo}}</p>

        </div>
				</div>
				{% empty %}
				<h4 class="mg-md text-center">
					目前没有活动预览，敬请期待
				</h4>
				{% endfor %}
					</div>
					</section>

					<section class="bg-light" id="portfolio" style="margin-top:-100px">
							<div class="container">
								<div class="row">
									<div class="col-lg-12 text-center">
										<h2 class="section-heading text-uppercase">活动回顾</h2>
										<h3 class="section-subheading text-muted">cssa过去活动回顾</h3>
									</div>
								</div>
								<div class="row justify-content-center">
									{% for event in eventsPast|slice:":4" %}
									<div class="col-md-3 portfolio-item ">
					          <a class="portfolio-link" data-toggle="modal" href="#model2{{event.eventID}}">
					            <div class="portfolio-hover">
					              <div class="portfolio-hover-content">
					                <i class="fa fa-plus fa-3x"></i>
					              </div>
					            </div>

					            <img class="img-fluid" src="{{event.mainVisual.url}}" style="min-height:200px; max-height:200px; width:100%">

					          </a>
					          <div class="portfolio-caption" style="max-height:200px; height:100%;">
					            <h4>{{event.eventName}}</h4>
					              <p class="text-muted mt-3" style="max-height:80px; overflow:auto;">{{event.eventInfo}}</p>

					        </div>
									</div>

							{% empty %}
							<h4 class="mg-md text-center">
								目前没有活动回顾，敬请期待
							</h4>

							{% endfor %}
								</div>
								</section>


					<section id="about">
				     <div class="container">
				       <div class="row">
				         <div class="col-lg-12 text-center">
				           <h2 class="section-heading text-uppercase">关于我们</h2>
				         </div>
				       </div>
				       <div class="row">
				         <div class="col-lg-12">
				           <ul class="timeline">
				             <li>
				               <div class="timeline-image">
				                 <img class="rounded-circle img-fluid" src="{% static '/myCSSAhub/img/1.jpg'%}" alt="">
				               </div>
				               <div class="timeline-panel">
				                 <div class="timeline-heading">
				                   <h4>2009</h4>
				                   <h4 class="subheading">墨尔本大学中国学联成立</h4>
				                 </div>
				                 <div class="timeline-body">

				                 </div>
				               </div>
				             </li>
				             <li class="timeline-inverted">
				               <div class="timeline-image">
				                 <img class="rounded-circle img-fluid" src="{% static '/myCSSAhub/img/2.jpg'%}" alt="">
				               </div>
				               <div class="timeline-panel">
				                 <div class="timeline-heading">
				                   <h4>March 2011</h4>
				                   <h4 class="subheading">cssa网站成立</h4>
				                 </div>
				                 <div class="timeline-body">

				                 </div>
				               </div>
				             </li>
				             <li class="timeline-inverted">
				               <div class="timeline-image">
				                 <h4>加入我们</h4>
				               </div>
				             </li>
				           </ul>
				         </div>
				       </div>
				     </div>
				   </section>

 <!-- Portfolio Modals -->
 {% for event in eventsFuture|slice:":4" %}
					 <div class="portfolio-modal modal fade" id="model{{event.eventID}}" tabindex="-1" role="dialog" aria-hidden="true">
					     <div class="modal-dialog">
					       <div class="modal-content">
					         <div class="close-modal" data-dismiss="modal">
					           <div class="lr">
					             <div class="rl"></div>
					           </div>
					         </div>
					         <div class="container">
					           <div class="row">
					             <div class="col-lg-8 mx-auto">
					               <div class="modal-body">
					                 <!-- Project Details Go Here -->
					                 <h2 class="text-uppercase">{{event.eventName}}</h2>
					                 <p class="item-intro text-muted">活动主办方: {{event.eventBy}}</p>
					                 <img class="img-fluid d-block mx-auto" src="{{event.mainVisual.url}}" style="max-height:300px">
													 <p>{{event.eventInfo}}</p>
					                 <ul class="list-inline">
					                   <li>地址: {{event.address}}</li>
					                   <li>时间: {{event.eventActualStTime}}</li>
														 <li>报名开始时间: {{event.eventStartTime}}</li>
					                 </ul>
													 <p><a href="{% url 'PublicSite:eventsDetails' event.eventID %}"><u>查看详情以及报名</u></a></p>
					                 <button class="btn btn-primary" data-dismiss="modal" type="button">
					                   <i class="fa fa-times"></i>
					                   Close</button>
					               </div>
					             </div>
					           </div>
					         </div>
					       </div>
					     </div>
					   </div>

{% endfor %}

<!-- Portfolio Modals -->
{% for event in eventsPast|slice:":4" %}
					<div class="portfolio-modal modal fade" id="model2{{event.eventID}}" tabindex="-1" role="dialog" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="close-modal" data-dismiss="modal">
										<div class="lr">
											<div class="rl"></div>
										</div>
									</div>
									<div class="container">
										<div class="row">
											<div class="col-lg-8 mx-auto">
												<div class="modal-body">
													<!-- Project Details Go Here -->
													<h2 class="text-uppercase">{{event.eventName}}</h2>
													<p class="item-intro text-muted">{{event.eventBy}}</p>
													<img class="img-fluid d-block mx-auto" src="{{event.mainVisual.url}}" style="max-height:300px">
													<p>{{event.eventInfo}}</p>
													<ul class="list-inline">
														<li>地址: {{event.address}}</li>
														<li>时间: {{event.eventActualStTime}}</li>
														<li>报名开始时间: {{event.eventStartTime}}</li>

													</ul>
													 <p><a href="{% url 'PublicSite:eventsDetails' event.eventID %}"><u>查看详情</u></a></p>
													<button class="btn btn-primary" data-dismiss="modal" type="button">
														<i class="fa fa-times"></i>
														Close Project</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

{% endfor %}



		<div class="row">
			<div class="col-md-4" style="text-align:center;">
				<img src="{% static 'PublicSite/img/icon/wechat.png'%}" height="64px" width="64px" alt="..." class="mx-auto d-block" id="WeChatModal">
				<h4>微信公众号</h4>
				<div style="padding:5px">
				  	<img src="{% static 'PublicSite/img/qrcode_wx.jpg'%}" height="200px" width="200px" >
        </div>
			</div>
			<div class="col-md-4" style="text-align:center;">
				<a href="https://www.weibo.com/cssaum">
					<img src="{% static 'PublicSite/img/icon/weibo.png'%}" height="64px" width="64px" alt="..." class="mx-auto d-block">
				<h4>微博</h4>
				<div style="padding: 5px">
				</div>
				</a>
			</div>
			<div class="col-md-4" style="text-align:center;">
				<a href="https://www.facebook.com/CSSAunimelb/">
					<img src="{% static 'PublicSite/img/icon/Facebook.png'%}" height="64px" width="64px"  alt="..." class="mx-auto d-block">
				<h4>Facebook</h4>
					<div style="padding: 5px">
				   <div class="fb-page" data-href="https://www.facebook.com/CSSAunimelb" data-tabs="timeline"
					   data-width="370" data-height="300"
						 data-small-header="true" data-adapt-container-width="false"
						 data-hide-cover="false" data-show-facepile="false">
           </div>
					</div>
				</a>
			</div>
		</div>





<!-- bloc-2 END -->

<div class="modal fade" id="WeChatQRCode" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- ScrollToTop Button -->
<a class="bloc-button btn btn-d scrollToTop" onclick="scrollToTarget('1',this)"><span class="fa fa-chevron-up"></span></a>
<!-- ScrollToTop Button END-->

<script>
$('#WeChatQRCode').on('shown.bs.modal', function () {
  $('#WeChatModal').trigger('focus')
})
</script>

<!-- facebook plugin-->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/zh_CN/sdk.js#xfbml=1&version=v3.2';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!-- facebook plugin-->

<script src="{% static '/myCSSAhub/js/index.js'%}" defer></script>


{% endblock 'pg_body' %}
