{% extends 'components/base_page.html' %}
{% block 'pg_body' %}
<!-- Page Content -->
      <div class="page-container">
        <div class="container bloc-fill-screen">

      <!-- Page Heading -->
      <h1 class="my-4 text-left">

        合作折扣商家
        <br>
        <small class="lead"> 感谢以下商家的大力支持:)</small>

      </h1>


      <div class="row justify-content-center">
       {% for info in infos %}
       {% if info.merchant_type == "折扣商家" %}
        <div class="col-lg-4 col-sm-6 portfolio-item mt-2">
          <div class="card" style="border: none; width:280px;">
            {% if info.merchant_link %}
            <a href="{{info.merchant_link}}">
              {% else %}
              <a href=#>
              {% endif %}
                <img alt="{{info.merchant_name}}" class="card-img-top img-fluid" src="/media/{{info.merchant_image}}" style="height:180px; width:100%"></a>
            <div class="card-body">
              <h3 class="card-title">
                {% if info.merchant_link %}
                <a href="{{info.merchant_link}}">
                {% else %}
                <a href=#>
                  {% endif %}
                  <strong>{{info.merchant_name}}</strong></a>

              </h3>
              <p class="card-text">优惠: {{info.merchant_description}} <br> 地址: {{info.merchant_address}}</p>
            </div>
          </div>
        </div>
          {% endif %}
        {% endfor %}
      </div>
      <!-- /.row -->

      <!-- Pagination -->
      <!-- <ul class="pagination justify-content-center">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul> -->

    </div>
    </div>
    <!-- /.container -->

{% endblock 'pg_body' %}
