{% extends 'components/base_page.html' %}
{% block 'pg_body' %}
<!-- Page Content -->
      <div class="page-container">

      <!-- Page Heading -->
      <h1 class="my-4">合作折扣商家
        <small> 感谢以下商家的大力支持:)</small>
      </h1>

      <div class="row">
       {% for info in infos %}
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="{{info.merchant_link}}"><img alt="{{info.merchant_name}}" class="card-img-top" src="/media/{{info.merchant_image}}"></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="{{info.merchant_link}}">{{info.merchant_name}}</a>
              </h4>
              <p class="card-text">{{info.merchant_description}}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <!-- /.row -->

      <!-- Pagination -->
      <!-- <ul class="pagination justify-content-center">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul> -->

    </div>
    <!-- /.container -->

{% endblock 'pg_body' %}
