{% extends 'components/base_page.html' %}

{% block 'pg_body' %}
<!-- bloc-20 -->
<div class="bloc l-bloc" id="bloc-20">
	<div class="container bloc-md">
		<div class="row">
			<div class="col">
				<h1 class="mg-md">
					Heading 1
				</h1>
			</div>
		</div>
	</div>
</div>
<!-- bloc-20 END -->

<!-- bloc-21 -->
<div class="bloc l-bloc none bloc-fill-screen" id="bloc-21">
	<div class="container">
		<div class="row align-items-start scroll-fx-down-in body-row row-margin-top">
			<div class="col-sm-8">
				<div class="row">
					<div class="col">
						<div class="row">
							<div class="col">
								<ul class="list-unstyled">
									<li class="bloc-4298-margin-bottom">
										<div class="row bgc-light-gray">
											<div class="col-lg-4 align-self-center">
												<h5 class="mg-md">
													{{部门名称}}
												</h5>
												<h3 class="mg-md text-lg-center">
													{{岗位名称}}
												</h3>
											</div>
											<div class="col">
												<p>
													Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
												</p><a href="index.html" class="btn btn-d float-lg-right btn-margin-left">开始申请</a>
												<h5 class="mg-md h5-style text-lg-right">
													{{ 截止日期 }}
												</h5>
											</div>
										</div>
									</li>
									<li class="bloc-4298-margin-bottom">
										<div class="row bgc-light-gray">
											<div class="col-lg-4 align-self-center">
												<h5 class="mg-md">
													{{部门名称}}
												</h5>
												<h3 class="mg-md text-lg-center">
													{{岗位名称}}
												</h3>
											</div>
											<div class="col">
												<p>
													Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
												</p><a href="index.html" class="btn btn-d float-lg-right btn-margin-left">Button</a>
											</div>
										</div>
									</li>
									<li class="bloc-4298-margin-bottom">
										<div class="row bgc-light-gray">
											<div class="col-lg-4 align-self-center">
												<h5 class="mg-md">
													{{部门名称}}
												</h5>
												<h3 class="mg-md text-lg-center">
													{{岗位名称}}
												</h3>
											</div>
											<div class="col">
												<p>
													Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
												</p><a href="index.html" class="btn btn-d float-lg-right btn-margin-left">Button</a>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col offset-lg-0 bloc-margin-top">
				<span class="empty-column"></span>
			</div>
		</div>
	</div>
</div>
<!-- bloc-21 END -->

<!-- ScrollToTop Button -->
<a class="bloc-button btn btn-d scrollToTop" onclick="scrollToTarget('1',this)"><span class="fa fa-chevron-up"></span></a>
<!-- ScrollToTop Button END-->


<script src="./js/scrollFX.js?8235"></script>


{% endblock 'pg_body' %}

