{% extends 'components/base_page.html' %}
{% block 'pg_body' %}
<!-- Page Content -->
      <div class="page-container">
        <div class="container bloc-fill-screen">

      <!-- Page Heading -->
      <h1 class="my-4 text-left">特别鸣谢
        <small> 特别感谢以下合作商家</small>
      </h1>


      <div class="row justify-content-center">
        {% for info in infos %}
        {% if info.merchant_type == "合作商家" %}
         <div class="col-lg-2 col-sm-6 portfolio-item mt-2">
           <div class="card" style="border: none; width:280px;">
             <a href="{{info.merchant_link}}"><img alt="{{info.merchant_name}}" class="card-img-top img-fluid" src="/media/{{info.merchant_image}}" style="height:180px; width:100%"></a>
             <div class="card-body">
               <h1 class="card-title">
                 <a href="{{info.merchant_link}}"><strong>{{info.merchant_name}}</strong></a>
               </h1>
             </div>
           </div>
         </div>
           {% endif %}
         {% endfor %}
      </div>

          </div>
          </div>


      {% endblock 'pg_body' %}
