{% extends 'components/base_page.html' %}
{% block 'pg_body' %}
<!-- Page Content -->
      <div class="page-container">
        <div class="container bloc-fill-screen">

      <!-- Page Heading -->
      <h1 class="my-4 text-left">特别鸣谢
        <br><small class="lead"> 特别感谢以下赞助商家</small>
      </h1>


      <div class="row justify-content-center m-3 text-muted">
              <h2>金牌商家</h2>
              </div>
              <hr>
      <div class="row justify-content-center" style="margin:50px;">
        {% for info in infos %}
        {% if info.merchant_type == "赞助商家" %}
        {% if info.merchant_level == "金牌商家" %}
         <div class="col-lg-6 col-sm-6 portfolio-item align-self-center">
           <div class="align-items-center text-center">
             {% if info.merchant_link %}
             <a href="{{info.merchant_link}}">
               {% else %}
               <a href="#">
               {% endif %}
             <img alt="{{info.merchant_name}}" class="card-img-top img-fluid" src="/media/{{info.merchant_image}}" style="max-width:80%"></a>
           </div>
         </div>
         <div class="col-lg-6 col-sm-6 portfolio-item mt-2 align-self-center">
           <div class="text-center align-items-center">
             <img alt="{{info.merchant_name}}" class="card-img-top img-fluid" src="/media/{{info.merchant_qrcode}}"  style="width:150px; height:150px">
           </div>
         </div>
         <div class="col-12 m-4 text-center">
             <h1 class="text-center mb-4">
               {% if info.merchant_link %}
               <a href="{{info.merchant_link}}" class="h1">
               {% else %}
               <a href=# class="h1">
                 {% endif %}
                 <strong>{{info.merchant_name}}</strong></a>
             </h1>
           </div>
           {% endif %}
           {% endif %}
         {% endfor %}
</div>


<div class="row justify-content-center m-3 text-muted">
        <h2>银牌商家</h2>
        </div>
        <hr>
<div class="row justify-content-center" style="margin:50px;">
  {% for info in infos %}
  {% if info.merchant_type == "赞助商家" %}
  {% if info.merchant_level == "银牌商家" %}
   <div class="col-lg-6 col-sm-6 portfolio-item align-self-center">
     <div class="align-items-center text-center">
       {% if info.merchant_link %}
       <a href="{{info.merchant_link}}">
         {% else %}
         <a href="#">
         {% endif %}
       <img alt="{{info.merchant_name}}" class="mx-auto d-block img-fluid" src="/media/{{info.merchant_image}}" style="max-width:50%"></a>
     </div>
   </div>
   <div class="col-lg-6 col-sm-6 portfolio-item mt-2 align-self-center">
     <div class="text-center align-self-center">
       <img alt="{{info.merchant_name}}" class="mx-auto d-block img-fluid" src="/media/{{info.merchant_qrcode}}" style="width:150px; height:150px">
     </div>
   </div>
   <div class="col-12 m-4 text-center">
       <h1 class="text-center mb-4">
         {% if info.merchant_link %}
         <a href="{{info.merchant_link}}" class="h1">
         {% else %}
         <a href=# class="h1">
           {% endif %}
           <strong>{{info.merchant_name}}</strong></a>
       </h1>
     </div>
     {% endif %}
     {% endif %}
   {% endfor %}
</div>

      </div>

          </div>
          </div>


      {% endblock 'pg_body' %}
