{% extends 'myCSSAhub/component/_layout.html' %} 

{% block pageTitle %}
    {{PageHeader}} 
{% endblock %} 


{% block BreadcrumbPath %}
    <li class="breadcrumb-item">组织人事</li>
    <li class="breadcrumb-item"><a href="{% url 'myCSSAhub:OrganisationMgr:dept_management' %}">部门成员管理</a></li>
    <li class="breadcrumb-item">{{usr_id}}</li>
    <li class="breadcrumb-item active">
        <a href="{% url 'myCSSAhub:OrganisationMgr:dept_add_committee' usr_id %}">{{PageHeader}}</a>
    </li>
{% endblock BreadcrumbPath %}

{% block pageContent %}
{% load static %}

{% if add_successful == True %}
    <div class="row">
        <div class="col">
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>职务绑定成功</strong>
                <div id="countdown" style="float:right;">3s后自动跳转</div>
                <button class="close" type="button" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <script type="text/javascript">

                var count = 3;
                //写一个方法，显示倒数秒数  数到0后跳转页面
                function countDown() {
                    //将count显示在div中
                    document.getElementById("countdown").innerHTML = count + 's后自动跳转';
                    //没执行一次，count减1
                    count -= 1;
                    //count=0时，跳转页面
                    if (count == 0) {
                        location.href = '{% url 'myCSSAhub:OrganisationMgr:dept_management' %}';
                        //window.location.href="index.html";
                    }
                    //每秒执行一次,showTime()
                    setTimeout("countDown()", 1000);
                }
                //执行countDown方法
                countDown();
            </script>
        </div>
    </div>
{% endif %}

    <div class="card">

        
        <div class="card-header">
            <strong>用户档案</strong>
        </div>
        <div class="card-body">
            {% if not user_profile.membershipId %}
            <div class="alert alert-danger" role="alert"> <strong> 警告！</strong>此用户未激活会员身份，其可能没有通过身份核验</div> 
            {% endif %}
            
            {% if not recent_resume %}
            <div class="alert alert-danger" role="alert"> <strong> 警告！</strong>此用户在最近的180天中没有向您的部门呈递职位申请</div> 
            {% endif %}
            
            <div class="row">
                <div class="col col-8">
                    {% for hidden_field in form.hidden_fields %}
                        {{ hidden_field }}
                    {% endfor %}

                    {% if form.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                        {% for error in form.non_field_errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col col-4">
                    <span class="align-text-bottom">
                        <h1>{{user_profile.user.get_full_EN_name}}</h1>
                    </span>
                </div>
                <div class="col col-8">
                    {% load static %}
                    {% if user_profile.avatar %}
                        <img class="img-avatar float-right" src="{{user_profile.avatar.url}}" style="height:70px;width:70px;">
                    {% else %}
                        <img class="img-avatar float-right" src="{% static 'myCSSAhub/img/avatar_placeholder.png' %}" style="height:70px;width:70px;">
                    {% endif %}                    
                </div>

            </div>
            <div class="row">
                <div class="col col-4">
                    <h5>学生证号: {{user_profile.studentId}}</h5>
                </div>
                <div class="col col-4">
                    <h5>邮箱: {{user_profile.user.email}}</h5>
                </div>
                <div class="col col-4">
                    <h5>电话号码: {{user_profile.user.telNumber}}</h5>
                </div>
            </div>
            <div class="row">
                <div class="col col-4">
                    <p>账号注册时间: {{user_profile.user.date_joined}}</p>
                </div>
                <div class="col col-4">
                    <p>生日: {{user_profile.dateOfBirth}}</p>
                </div>
            </div>
            {% if recent_resume %}
                <div class="row">
                    <div class="col-12">
                        <div class="card" >
                        <div class="card-header">
                            <i class="fa fa-align-justify"></i> 近期简历
                        </div>
                        <div class="card-body">
                            <table id="main-datatable" class="table table-responsive-md"  style="width:100%" >
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>岗位名称</th>
                                    <th>投递时间</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for resume in recent_resume %}
                                    <tr>
                                        <td><a href="{{resume.get_absolute_url}}">{{resume.CVId}}</a></td>
                                        <td>{{resume.jobRelated.jobName}}</td>
                                        <td>{{resume.timeOfCreate}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                            </table>
                        </div>
                        </div>
                    </div>
                </div>
            {% endif %}

            <div class="row">
                <div class="col">
                    {% if is_assgined_with_role %}
                        <div class="alert alert-primary" role="alert"> <strong> 此用户目前已被授予以下职位。如需变更，请协调人事或信息技术部门进行调整</div>
                        <table class="table table-responsive-md">
                            <thead>
                                <th>隶属部门</th>
                                <th>职位</th>
                                <th>生效时间</th>
                            </thead>
                            <tbody>
                                {% for role in is_assgined_with_role %}
                                    <tr>
                                        <td>{{role.Department.deptTitle}}</td>
                                        <td>{{role.role.roleName}}</td>
                                        <td>{{role.CommenceDate}}</td>
                                    </tr>                                
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        {% load widget_tweaks %}
                        <form action="" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% for hidden_field in form.hidden_fields %}
                                {{ hidden_field }}
                            {% endfor %}
                            {% for field in form.visible_fields %}
                                <div class="form-group">
                                    {{ field.label_tag }}
                                    {% if field.errors %}
                                        {% if lock_table %}
                                            {% render_field field class="form-control is-invalid" readonly="readonly" %}
                                        {% else %}
                                            {% render_field field class="form-control is-invalid"%}
                                        {% endif %}
                                        
                                        {% for error in field.errors %}
                                            <div class="invalid-feedback">
                                                {{ error }}
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        {% if lock_table %}
                                            {% render_field field class="form-control" readonly="readonly" %}
                                        {% else %}
                                            {% render_field field class="form-control"%}
                                        {% endif %}
                                        
                                    {% endif %}

                                    {% if field.help_text %}
                                        <small class="form-text text-muted">{{ field.help_text }}</small>
                                    {% endif %}
                                </div>
                            {% endfor %}
                            <button class="btn btn-sm btn-success" type="submit"><i class="fa fa-dot-circle-o"></i> 添加</button>
                            <button class="btn btn-sm btn-danger" type="reset" onclick="window.history.back();"><i class="fa fa-ban"></i> 返回</button>
                        </form>            
                    {% endif %}
                </div>
            </div>

    
{% endblock pageContent %}