{% extends "myCSSAhub/component/_layout.html" %}
{% block pageTitle %}
    操作blog
{% endblock pageTitle %}
{% block ExtraHeader %}
    {% load static %}
    <script src="//cdn.quilljs.com/1.2.2/quill.min.js"></script>
    <link href="//cdn.quilljs.com/1.2.2/quill.snow.css" rel="stylesheet">
    <script src="{% static 'myCSSAhub/js/image-resize.min.js' %}"></script>
    <link href="{% static 'myCSSAhub/css/blogeditstyle.css' %}"
          rel="stylesheet" />
    <link href="{% static 'PublicSite/css/blogstyle.css' %}" rel="stylesheet" />
    <!-- prohibit cache -->
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-store, must-revalidate">
    <meta http-equiv="Expires" content="Wed, 26 Feb 1997 08:21:57 GMT">
    <meta HTTP-EQUIV="expires" CONTENT="0">
{% endblock ExtraHeader %}
{% block pageContent %}
    <!-- bloc-4 -->
    {% load static %}
    <div class="blogEditContainer">
        <div class="container">
            <div class="blogContainer">
                <div class="blogHeadingBox">
                    <h1>{{ toolTitle }}</h1>
                    <h5>
                        感觉系统出了点问题？
                        <button onclick="window.location.reload();">刷新</button>
                    </h5>
                </div>
                <div class="blogAuthorsContainer">
                    <div class="blogAuthorBox">
                        <img class="avatar" src="{{ user.userprofile.avatar.url }}">
                        <div class="blogAuthorInfoBox">
                            <a>
                                <h5>
                                    <em>{{ user.userprofile.lastNameCN }} {{ user.userprofile.firstNameCN }}</em>
                                </h5>
                            </a>
                            <h5>{{ user.username }}</h5>
                        </div>
                    </div>
                    <div style="clear:both;"></div>
                </div>
                <div class="blogEditHead">
                    <h4>标题</h4>
                    {% csrf_token %}
                    <div class="input-group">
                        <input type="text"
                               id="title"
                               class="form-control"
                               placeholder="标题"
                               aria-describedby="basic-addon1"
                               value="{{ blogTitle }}">
                    </div>
                </div>
                <div class="tagEditContainer">
                    <h4>标签</h4>
                    <div class="input-group">
                        <input type="text"
                               id="newTag"
                               class="form-control"
                               placeholder="最多18个字哦。"
                               aria-describedby="basic-addon1">
                        <button class="btn btn-default navbar-btn handButton" id="addTag">添加</button>
                    </div>
                    <style>
                        .tagBox {
                            overflow: scroll;
                            height: 30px;
                        }

                        .deleTag {
                            cursor: default;
                            color: lightgrey;
                        }


                        .blogTag {
                            margin-right: 9px;
                        }

                        #tagExm {
                            display: none;
                        }
                    </style>
                    <div class="tagBox">
                        <h5 id="tagBoxes">
                            <span class="badge badge-info" id="tagExm">Tag 1<span class="deleTag" id="tagDel">×</span></span>
                        </h5>
                    </div>
                </div>
                {% if blogId != -1 %}
                    <h4>恢复历史版本</h4>
                    <h5>后台只保存最近的五份哦。如果看不到你编辑的文章请刷新页面。</h5>
                    <ul class="list-group">
                        {% if not isHistory %}
                            <li class="list-group-item active">
                            <a href="/hub/blog/editbg?blogId={{ blogId }}"><b>{{ blogTitle }}</b>, <span class="badge badge-success">最新版本</span>
                        </a>
                    </li>
                {% else %}
                    <li class="list-group-item">
                    <a href="/hub/blog/editbg?blogId={{ blogId }}"><b>{{ blogTitle }}</b>, <span class="badge badge-success">最新版本</span>
                </a>
            </li>
        {% endif %}
        {% for versi in versions %}
            {% if not curVersion.blogOldContentId == versi.1.blogOldContentId %}
                <li class="list-group-item">
                    <a href="/hub/blog/editbg?blogId={{ blogId }}&version={{ versi.0 }}">
                        <b>{{ versi.1.blogOldTitle }}</b>, <span class="badge badge-success">历史版本</span>, 创建于<span class="badge badge-light">{{ versi.1.writtenDate|date:"Y-m-d H:i:s" }}</span></a>
                </li>
            {% else %}
                <li class="list-group-item active">
                    <a href="/hub/blog/editbg?blogId={{ blogId }}&version={{ versi.0 }}">
                        <b>{{ versi.1.blogOldTitle }}</b>, <span class="badge badge-success">历史版本</span>, 创建于<span class="badge badge-light">{{ versi.1.writtenDate|date:"Y-m-d H:i:s" }}</span></a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    <br />
{% endif %}
<h4>文章内容</h4>
<h5>注意！图片传进来之后最好重新调整大小</h5>
<h5>注意！link需要选中一部分文字之后点击添加！</h5>
<div id="blogEdit"></div>
<button class="btn btn-default navbar-btn handButton" id="display">保存（不公开）</button>
<button class="btn btn-default navbar-btn handButtonAnother" id="out">提交发布前审核</button>
<button class="btn btn-default navbar-btn handButton" id="cancel">取消</button>
{% if blogId != -1 %}<button class="btn btn-default navbar-btn handButtonOther" id="delete">删除</button>{% endif %}
</div>
</div>
<script>

    const NEW = -1;

    let mediaContent = '{{ blogMainContent }}'.replace(/\n/g, "\\n");
    var d = document.createElement('div');
    d.innerHTML = mediaContent;
    mediaContent = d.innerText || d.textContent;
    mediaContent = mediaContent;

    let blogId = {{ blogId }};


    let blogTag = '{{ blogTag }}';

    d.innerHTML = blogTag;
    blogTag = d.innerText || d.textContent;

    blogTag = JSON.parse(blogTag);

    let addTag = document.getElementById("addTag");
    let tagEl = document.getElementById("tagExm");
    let tagBoxes = document.getElementById("tagBoxes");
    let newTag = document.getElementById("newTag");
    let tagDel = document.getElementById("tagDel");

    let addBlogTag = function(tag, justAddTag){
        if (justAddTag || (tag != "" && blogTag.indexOf(tag) == -1)){
            if(!justAddTag){
                blogTag.push(tag.slice(0, 18));
            }
            let newTagEle = document.createElement("span");
            newTagEle.className = "badge badge-info";

            newTagEle.style.color = "white"
            newTagEle.style.margin = "0px 2px 0px 0px";
            newTagEle.style.boxShadow = "0px 3px 13px 0px rgba(0, 0, 0, 0.1)"

            let newTagDele = tagDel.cloneNode();
            newTagDele.style.display = "inline";

            let tagEleContentNode = document.createTextNode(tag.slice(0, 18));
            newTagEle.appendChild(tagEleContentNode);

            tagBoxes.appendChild(newTagEle);
            newTagEle.appendChild(newTagDele);

            newTagDele.innerHTML = "  ×";

            newTagEle.children[0].onclick = () => {
                let tagIn = blogTag.indexOf(tag);
                blogTag.splice(tagIn, 1);
                newTagEle.parentElement.removeChild(newTagEle)
            }

            newTagEle.children[0].cursor = "hand"
        }
    }
    addTag.onclick = function(){
        addBlogTag(newTag.value, false);
        newTag.value = ""
    }

    for(let tagInBlog of blogTag){
        addBlogTag(tagInBlog, true);
    }



    /* let display = (editor, opts) => {
        editor.deleteText(0, editor.getLength());
        let index = 0;
        for (let opt of opts){
            let isEmbedded = typeof(opt.insert) == "object";
            if (isEmbedded){
                editor.insertEmbed(index, Object.keys(opt.insert)[0], opt.insert[Object.keys(opt.insert)[0]]);
                index += 1;
            }else{
                editor.insertText(index, opt.insert, opt.attributes ? opt.attributes: {});
                index += opt.insert.length;
            }
        }
    } */
    let cancelButton = document.getElementById("cancel");
    let displayButton = document.getElementById("display");

    let outButton = document.getElementById("out");


    let title = document.getElementById("title");

    let checkPa = (blogId, blogMainContent, blogTitle, openOrNot) => {
        if(blogTitle.length == 0){
            alert("empty title")
            return false;
        }
        return true;
    }
    
    let dealWithSpecialChar = (suckStr) => {
        
        const commaReplace = "(ffffhhhhccccc)";
        const andReplace = "(andandand)";
        
        let resultStr = suckStr;
        resultStr = resultStr.replace(/;/g, commaReplace);
        resultStr = resultStr.replace(/&/g, andReplace);
        
        return resultStr;
    }

    let uploadClick = (blogId, blogMainContent, blogTitle, openOrNot, blogTags) => {
        if (checkPa(blogId, blogMainContent, blogTitle, openOrNot)){
            
            blogMainContent = dealWithSpecialChar(JSON.stringify(blogMainContent));
            blogTitle = dealWithSpecialChar(blogTitle);
            blogTags = dealWithSpecialChar(JSON.stringify(blogTags))
            
            let csrf = $('input[name="csrfmiddlewaretoken"]').val();
            let pa = "blogId=" + blogId;
            pa = pa + "&blogTitle=" + encodeURI(blogTitle);
            pa = pa + "&blogMainContent=" + encodeURI(blogMainContent);
            pa = pa + "&openOrNot=" + openOrNot;
            pa = pa + "&csrfmiddlewaretoken=" + csrf;
            pa = pa + "&tag=" + blogTags;

            let r = new XMLHttpRequest();
            r.onreadystatechange = function() { // Call a function when the state changes.
                if (r.readyState == 4 && r.status == 200) {
                    let response = r.responseText;
                    response = JSON.parse(r.responseText);
                    alert(response.message);
                    // Request finished. Do processing here.

                }else if(r.status == 500){
                    alert("Something wrong behind the scene.. ask for help!");
                }
            }

            r.open("POST", '/hub/blog/ajax/saveBlog/', true);
            r.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            r.send(pa);
        }

    }

    // option of toolbar for quilljs
    let toolbarOpt = [
        [
            {size: [ 'small', "medium", 'large', 'huge' ]},
            "bold",
            "italic",
            "underline",
            "strike",
            {font: []},
            {color: []},
            {background: []},
            {align: []}
        ],
        [
            {header:[1, 2, 3, 4, 5]},
            { 'list': 'ordered'},
            { 'list': 'bullet' }
        ],
        [
            "link",
            "image",
            "video"
        ],
    ];

    // overall option for quilljs
    let options = {
        modules: {
            toolbar: toolbarOpt,
            imageResize: {}

        },
        placeholder: "寂寞部员在线敲字",
        theme: "snow"
    };

    
    // delete
    let deleteBlog = () => {
        if(blogId != NEW){
            let confirmed = confirm("确认删除吗？");
            if(confirmed){
                let XMLobj = new XMLHttpRequest();

                XMLobj.onreadystatechange = () => {
                    if(XMLobj.readyState == XMLHttpRequest.DONE && XMLobj.status == 200){
                            let response = XMLobj.responseText;
                            response = JSON.parse(XMLobj.responseText);
                            alert(response.message);
                        }
                    }

                    XMLobj.open("GET", '/hub/blog/ajax/deleteBlog?blogId=' + blogId, true);
                    XMLHttpRequest.setRequestHeader()
                    XMLobj.send();
                }

        }
    }

    if(blogId != NEW){
        let rbutton = document.getElementById("delete")
        rbutton.onclick = deleteBlog
    }

    let editor = new Quill("#blogEdit", options);
    let editorAnother = new Quill("#blogEditAnother");

    // cancelButton
    cancelButton.onclick = () => {
        let conf = confirm("所有更改不不会被保存，确定吗？")
        if (conf){
            window.location = "/hub/blog/writtenBlogs";
        }
    }
    
    

    displayButton.onclick = () => {
        uploadClick(blogId, editor.getContents(), title.value, false, blogTag);
        window.location = "/hub/blog/writtenBlogs"
    };

    outButton.onclick = () => {
        uploadClick(blogId, editor.getContents(), title.value, true, blogTag);
        window.location = "/hub/blog/writtenBlogs"
    }

    try{
        // display(editor, JSON.parse(mediaContent).ops)
        editor.setContents(JSON.parse(mediaContent).ops);
    }catch{
        // no nothing
        blogId = NEW;
    }
</script>
</div>
{% endblock pageContent %}
