{% extends "myCSSAhub/component/_layout.html" %}
{% block pageTitle %}
  首页
{% endblock pageTitle %}
{% block pageContent %}
  <div class="col-sm-12 col-xl-6">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> 欢迎来到myCSSAhub
        <small>beta</small>
      </div>
      <div class="card-body">
        <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <h1 class="display-3">欢迎来到myCSSAhub</h1>
            <p class="lead">如遇到问题或需要协助，请联系信息部相关工作人员</p>
            <!-- <h1 class="display-3">系统测试进行中</h1> -->
            <!-- <p class="lead">目前站点系统正在进行内部测试，如遇到问题或需要协助，请联系信息部相关工作人员</p> -->
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock pageContent %}
