{% extends 'components/base_page.html' %}
{% block 'extra_header' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'myCSSAhub/css/registrationForm.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'myCSSAhub/vendors/jquery-ui/jquery-ui.min.css'%}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css"/>
{% endblock 'extra_header' %}



{% block 'pg_body' %}
{% load static %}

<style>
  #bloc-1 {
    background-image: url("{% static 'myCSSAhub/img/bg_Register.jpg' %}");
    background-color: rgba(255, 255, 255, 0.4);
    background-blend-mode: lighten;
  }

  #pswd_info {
    position: absolute;
    bottom: -180px;
    left: 18%;
    width: 220px;
    padding: 15px;
    background: #fefefe;
    font-size: .875em;
    border-radius: 5px;
    box-shadow: 0 1px 3px #ccc;
    border: 1px solid #ddd;
    z-index: 1;
    display: none;
}

#pswd_info h4 {
    margin: 0 0 10px 0;
    padding: 0;
    font-weight: normal;
    font-size: 12px;
}

#pswd_info::before {
    content: "\25B2";
    position: absolute;
    top: -12px;
    left: 45%;
    font-size: 14px;
    line-height: 14px;
    color: #ddd;
    text-shadow: none;
    display: block;
}

.invalid {
    background:url("{% static 'myCSSAhub/img/icon-invalid.png' %}") no-repeat 0 50%;
    padding-left: 22px;
    line-height: 24px;
    color: #ec3f41;
}

.valid {
    background:url("{% static 'myCSSAhub/img/icon-valid.png' %}") no-repeat 0 50%;
    padding-left: 22px;
    line-height: 24px;
    color: #3a7d34;
}
</style>

{% for message in messages %}
<div class="container-fluid p-0">
  <div class="alert {{ message.tags }} alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    {{ message }}
  </div>
</div>
{% endfor %}

<!--Reset Password-->
<div class="bloc none l-bloc" id="bloc-1">
  <div class="container bloc-fill-screen justify-content-center">
    <div class="row justify-content-md-center">
      <div id="loginbox" class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <form
          id="msform"
          class="form-horizontal col"
          autocomplete="off"
          method="POST"
        >
          {% csrf_token %}

          <fieldset>
            <h5 class="card-title text-center">请设置新密码</h5>
            <div id="password1" class="form-label-group required">
                <label
                  for="id_password1"
                  class="control-label col-md-6 requiredField"
                >
                  Password<span class="asteriskField">*</span>
                </label>
                <div class="controls col-md-12 ">
                  <input
                    required
                    class="input-md textinput textInput form-control"
                    id="id_new_password1"
                    name="new_password1"
                    placeholder="请输入新密码"
                    type="password"
                    data-parsley-group="step1"
                    autocomplete="off"
                  />
                  <div id="pswd_info">
                    <h4>Password must meet the following requirements:</h4>
                    <ul>
                      <li id="letter" class="invalid">
                        At least <strong>one letter</strong>
                      </li>
                      <li id="capital" class="invalid">
                        At least <strong>one capital letter</strong>
                      </li>
                      <li id="number" class="invalid">
                        At least <strong>one number</strong>
                      </li>
                      <li id="length" class="invalid">
                        Be at least <strong>8 characters</strong>
                      </li>
                    </ul>
                  </div>
                  <div id="progress-container" style="padding-top:10px"></div>
                </div>
              </div>

              <div id="password2" class="form-label-group required">
                <label
                  for="id_new_password1"
                  class="control-label col-md-8 requiredField"
                >
                  Confirm Password<span class="asteriskField">*</span>
                </label>
                <div class="controls col-md-12 ">
                  <input
                    required
                    class="input-md textinput textInput form-control"
                    id="id_new_password2"
                    name="new_password2"
                    placeholder="请再次确认密码"
                    type="password"
                    data-parsley-group="step1"
                    data-parsley-equalto="#id_new_password1"
                    autocomplete="off"
                  />
                </div>
              </div>

            <div class="form-label-group">
              <div class="controls col-md-offset-5 col-md-12 text-center">
                <input
                  type="submit"
                  value="重置密码"
                  class="btn btn-primary btn btn-info"
                  id="easy_submit"
                />
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock 'pg_body' %}


{% block 'extra_js' %}
        <script
          type="text/javascript"
          src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/moment.min.js"
        ></script>
        <script
          type="text/javascript"
          src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js"
        ></script>
        <script type="text/javascript" src="{% static 'myCSSAhub/js/parsley.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'myCSSAhub/js/custom_validators.js'%}"></script>

        <script type="text/javascript" src="{% static 'myCSSAhub/js/Password/bootstrap-strength-meter.js' %}"></script>
        <script type="text/javascript" src="{% static 'myCSSAhub/js/Password/password-score.js' %}"></script>
        <script type="text/javascript" src="{% static 'myCSSAhub/js/Password/password-score-options.js' %}"></script>
        <script src="{% static 'myCSSAhub/vendors/jquery-ui/jquery-ui.min.js'%}"></script>
        <script type="text/javascript">

          var isEnoughLen = false;
          var hasLetter = false;
          var hasNumber = false;
          var hasCapital = false;
        
        //Password Strength Indicator
        $(document).ready(function() {
            $('#id_new_password1').strengthMeter('progressBar', {
                container: $('#progress-container'),
                base: 80,
                hierarchy: {
                '0': 'progress-bar-danger',
                '25': 'progress-bar-warning',
                '50': 'progress-bar-success'
                },
                passwordScore: {
                options: [],
                append: true
                }
            });

            $('#id_password').keyup(function (){
              //console.log("Entering password");
              var pswd = $(this).val();
              //validate the length
              if (pswd.length < 8) {
                $('#length').removeClass('valid').addClass('invalid');
                isEnoughLen = false;
              } else {
                $('#length').removeClass('invalid').addClass('valid');
                isEnoughLen = true;
              }
      
              //validate letter
              if (pswd.match(/[A-z]/)) {
                $('#letter').removeClass('invalid').addClass('valid');
                hasLetter = true ;
              } else {
                $('#letter').removeClass('valid').addClass('invalid');
                hasLetter = false ;
              }
              
              //validate capital letter
              if (pswd.match(/[A-Z]/)) {
                $('#capital').removeClass('invalid').addClass('valid');
                hasCapital = true ;
              } else {
                $('#capital').removeClass('valid').addClass('invalid');
                hasCapital = false ;
              }
              
              //validate number
              if (pswd.match(/\d/)) {
                $('#number').removeClass('invalid').addClass('valid');
                hasNumber = true ;
              } else {
                $('#number').removeClass('valid').addClass('invalid');
                hasNumber = false ;
              }
      
              if (isEnoughLen && hasCapital && hasLetter && hasNumber) {
                $('#id_password').addClass('is-valid').removeClass('is-invalid');
              } else {
                $('#id_password').addClass('is-invalid').removeClass('is-valid');
              }
            });
      
            $('#id_password').focus(function (){
              $('#pswd_info').show();
            });
      
            $('#id_password').blur(function (){
              $('#pswd_info').hide();
      
            });
            
        });


        $("#msform").parsley({
        errorClass: "is-invalid",
        successClass: "is-valid",
        errorsWrapper: '<span class="form-text text-danger"></span>',
        errorTemplate: "<span></span>",
        trigger: "blur"
        });



        </script>



        {% endblock 'extra_js' %}

