{% extends 'components/base_page.html' %}
{% block 'extra_header' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'myCSSAhub/css/registrationForm.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'myCSSAhub/vendors/jquery-ui/jquery-ui.min.css'%}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css"/>
{% endblock 'extra_header' %}

{% block content %}

<!--Password Reset Confirm-->
<div class="container p-5" style="text-align:left">
    <h2 style="text-align:center">Password Reset Confirm</h2>
    <hr>
    <p>Please enter your new password.</p>
    <form method="POST">
        {% csrf_token %}
        {{ form }}
        <div style="text-align:center">
            <button class="btn btn-primary" type="submit">Reset password</button>
        </div>
    </form>
</div>

{% endblock %}