{% extends "components/base_page.html" %}
{% block 'extra_header' %}
    {% load static %}
    {% comment %} <link href="{% static 'PublicSite/css/dept_info.css' %}" rel="stylesheet" /><!-- 指明了用的哪个css文件 --> {% endcomment %}
{% endblock 'extra_header' %}
{% block 'pg_body' %}
    <!-- bloc-4 -->
    {% load static %}
    <style>
        .img-fluid {
            width: 100%;
            height: auto;
            /* object-fit: cover; */
        }
    </style>
    
    <div class="bloc dept-header l-bloc" id="bloc-4">
        <div class="py-3">
            <hr>
            <h1 style="font-family: 'PingFang SC';
                       color: #393d3e;
                       font-weight: normal"
                class="mg-md text-center">学术部</h1>
            <h3 style="font-family: 'PingFang SC';
                       color: #393d3e;
                       font-weight: normal"
                class="mg-md text-center">Department of Academic</h3>
            <hr>
        </div>
        <div class="row my-3" style="min-height:20rem;">
            <div class="col-lg-4 card" style="border:none;">
                <div class="card-body text-center">
                    <div class="my-3 d-block mx-auto avatar-lg rounded-circle">
                        {% if view_bag.director.member.avatar %}
                            <img class='img-fluid' src="{{ view_bag.director.member.avatar.url }}" />
                        {% else %}
                            <img class="img-fluid"
                                 src="{% static 'PublicSite/img/placeholder-user.png' %}">
                        {% endif %}
                    </div>
                    <h4 class="card-title ">部长 Director</h4>
                    <h3>{{ view_bag.director.member.get_full_EN_name }}</h3>
                </div>
            </div>
            <div class="col-lg-8 card" style="border:none;">
                <div class="my-auto mx-auto">
                    <h3 class="text-center card-title">部门简介 About us</h3>
                    <p class="card-text px-5" style="line-height:2">
                        学术部由博士生和学者主导，同时欢迎本科生和研究生加入或主讲。学术部致力于在墨尔本打造一个高水准中文学术平台，并拓展至纵向师生社群与横向校友网络，同时承接海内外高校、企业与政府部门的参访与交流会。部门工作和部员培养涉及演讲、主持、研讨、会务、接待和学术支持等事务。
                    </br>
                </br>
                「雅拉讲堂」YARRABRIDGE 是学术部的讲座品牌，聚焦学术探讨与知识科普，并延伸至院校交流与就业创业等主题。讲堂采用中文普通话，内容注重通识性与普适性。每期分为三节各20分钟，形式包括讲座、访谈与研讨会。2025年共举办了17期「雅拉讲堂」。每期回放都在我们的 YouTube 频道上发布 https://www.youtube.com/@yarrabridge。
            </p>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-3 mx-auto">
                <h3 class="text-center">
                    <strong>{{ view_bag.number_of_member }}</strong>
                </h3>
                <h4 class="text-center">成员数量</h4>
                <p class="text-center">Number of Members</p>
            </div>
            <div class="col-md-3 mx-auto">
                <h3 class="text-center">
                    {% if view_bag.gender_div != 0 %}
                        <strong>{{ view_bag.gender_div }} : 1</strong>
                    {% else %}
                        Not updated yet
                    {% endif %}
                </h3>
                <h4 class="text-center">性别多样性比例</h4>
                <p class="text-center">Gender Diversity</p>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<!-- bloc-4 END -->
{% comment %} <!-- 
  <div class="jumbotron jumbotron-billboard">
		<div class="img">
      <img class="image_resize"src = {% static '/PublicSite/img/dept_info/background_code1.jpg'%} />
    </div>
	    <div class="container">
	        <div class="row">
	            <div class="col-lg-12">
	              <h1>信息部</h1>
	                <p>可以用代码解决的问题都不是问题</p>
	            </div>
	        </div>
	    </div>
</div> --> {% endcomment %}
<!-- bloc-7 -->
<div class="bloc my-3">
    <div class="row">
        <div class="col-12">
            <h3 class="mg-md text-center">2025/2026届 管理团队成员</h3>
            <h5 class="text-center">Meet the Management Team of 2025/2026 Term</h5>
        </div>
    </div>
    <div class="row text-center" style="min-height:5rem;">
        {% for user in view_bag.management %}
            <div class="col-lg-3 col-md-3 col-6">
                <div class="my-3 d-block mx-auto avatar-md rounded-circle">
                    {% if user.member.avatar %}
                        <img class='img-fluid' src="{{ user.member.avatar.url }}" />
                    {% else %}
                        <img class="img-fluid"
                             src="{% static 'PublicSite/img/placeholder-user.png' %}">
                    {% endif %}
                </div>
                <h5>{{ user.role.roleName }}</h5>
                <h4>{{ user.member.get_full_EN_name }}</h4>
            </div>
        {% endfor %}
    </div>
</div>
<!-- bloc-7 END -->
<div class="bloc my-3">
    <div class="row">
        <div class="col-12">
            <h3 class="mg-md text-center">2025/2026届 部门成员</h3>
            <h5 class="text-center">Meet the Committee Members of 2025/2026 Term</h5>
        </div>
    </div>
    <div class="row" style="min-height:20rem">
        {% for user in view_bag.general %}
            <div class="col-lg-3 col-md-4 col-6 text-center">
                <div class="my-3 d-block mx-auto avatar-sm rounded-circle">
                    {% if user.member.avatar %}
                        <img class='img-fluid' src="{{ user.member.avatar.url }}" />
                    {% else %}
                        <img class="img-fluid"
                             src="{% static 'PublicSite/img/placeholder-user.png' %}">
                    {% endif %}
                </div>
                <h5>{{ user.member.get_full_EN_name }}</h5>
            </div>
        {% endfor %}
    </div>
</div>
<hr>
<div class="bloc py-2">
    <p>页面作者 Page developed by</p>
    <p>&copy; 2019 Tiantong Li, Ningjing Wang</p>
</div>
{% endblock 'pg_body' %}
