{% extends 'components/base_page.html' %}
{% block 'pg_body' %}
<!-- bloc-4 -->
{% load static %}
   
<style>
	.row{
    	margin-top: 50px;
    	justify-content: center;
	}
	
	.bc{
		background-color: #999;
	}
	.col-r{
		padding-right: 0px;
		
	}
</style>

<hr >
<div class="text-center ">
	<div class="py-3"> 
		<hr >
		<h1 style="font-family: 'PingFang SC'; color: #393d3e; font-weight: normal; " class="mg-md text-center">
			主席团
		</h1>
		<h3 style="font-family: 'PingFang SC'; color: #393d3e; font-weight: normal; " class="mg-md text-center">
			CSSA Council Board
		</h3>
		<hr >
	</div>
</div>
<hr >

<div class="bloc l-bloc">
	<div class="bloc">
		<div class="jumbotron jumbotron-fluid">
			<h2 class="text-center">致辞</h2>
			<div class="mg-md mx-auto d-block col-12 col-lg-7 col-md-10 col-sm-12" >
				<p style="font-size:16px; padding-top:0.5rem;">亲爱的学弟学妹们，</p>
				<p style="font-size:16px; padding-top:0.5rem;">大家好！</p>
				<p style="font-size:16px; padding-top:0.5rem;">我是墨尔本大学中国学生学者联谊会2020届主席李漫。</p>
				<p style="font-size:16px; padding-top:0.5rem;">在此我代表墨尔本大学中国学生学者联谊会的全体成员对你们表示由衷的欢迎。</p>
				<p style="font-size:16px; padding-top:0.5rem;">墨尔本大学中国学生学者联谊会，Chinese Students and Scholars Association, 简称为墨尔本大学中国学生会（CSSA），成立于2003年，拥有注册会员超过7000人，性质为非宗教、非盈利、非政治，是墨尔本大学规模最大的华人学生社团。我们始终秉承着为墨尔本广大的中国留学生和学者们服务与奉献的信念，志在使更多中国留学生可以参与到我们的活动中来并感受到温暖与关怀。不仅如此，我们也是困难时期中国留学生们最坚强的后盾，与大家一起共克时艰。</p>
				<p style="font-size:16px; padding-top:0.5rem;">读万卷书，行万里路。下定决心离开父母背井离乡，带着你的梦想来到大洋彼岸的这里求学生活，初来乍到的你，或许迷茫，或许憧憬。你即将经历的这一切，我们都曾经历过。</p>
				<p style="font-size:16px; padding-top:0.5rem;">感谢相遇，让来自天南海北的我们可以相聚在这里。不管发生什么，CSSA永远是你温暖的港湾。这里有亲如家人的朋友和提升自我的舞台，等待你与我们一起成长一起蜕变，遇见更好的自己。</p>
				<p style="font-size:16px; padding-top:0.5rem;">选择留学就是选择远方，最好的风景，一定在未知的前方。独行快，众行远。让CSSA做你的光芒，为你照亮远方。</p>
				<p style="font-size:16px; padding-top:0.5rem;">祝你，一切顺利。</p>
				<h5 align="right">李漫</h5>
				<h5 align="right">墨尔本大学中国学生会</h5>
				<h5 align="right">2020年10月</h5>
			</div>
		</div>
	</div>

	<div class="row">
        <div class="col-12">
			<h3 class="mg-md text-center">
				2020/21届 主席团成员成员
			</h3>
			<h5 class="text-center">
				Meet the Council Board Members of 2020/21 Term
			</h5>
		</div>
  </div>
   
	
   <div class="row">
		<div class="col-lg-12 card" style='border:none;'>
			<div class="card-body text-center">
				<div class="my-3 d-block mx-auto avatar-lg rounded-circle">
					{% if view_bag.president.member.avatar %}
						<img class='img-fluid' src="{{ view_bag.president.member.avatar.url }}" />
					{% else %}
						<img class="img-fluid" src="{% static 'PublicSite/img/placeholder-user.png' %}">
					{% endif %}
				</div>
				<h4 class="card-title ">主席 President</h4>
				<h3>{{ view_bag.president.member.get_full_EN_name }}</h3>
			</div>
		</div>
	</div>

	<div class="row">
	{% for user in view_bag.vice_president  %}
		<div class="col-lg-4 card" style='border:none;'>
			<div class="card-body text-center">
				<div class="my-3 d-block mx-auto avatar-md rounded-circle">
					{% if user.member.avatar %}
						<img class='img-fluid' src="{{user.member.avatar.url}}" />
					{% else %}
						<img class="img-fluid" src="{% static 'PublicSite/img/placeholder-user.png' %}">
					{% endif %}
				</div>
				<h4 class="card-title ">副主席 Vice-President</h4>
				<h3>{{user.member.get_full_EN_name}}</h3>
			</div>
		</div>
	{% endfor %}
	</div>

   <div class="row">
		<div class="col-lg-6 card" style='border:none;'>
			<div class="card-body text-center">
				<div class="my-3 d-block mx-auto avatar-md rounded-circle">
					{% if view_bag.accountant.member.avatar %}
						<img class='img-fluid' src="{{view_bag.accountant.member.avatar.url}}" />
					{% else %}
						<img class="img-fluid" src="{% static 'PublicSite/img/placeholder-user.png' %}">
					{% endif %}
				</div>
				<h4 class="card-title ">财务 Treasurer</h4>
				<h3>{{view_bag.accountant.member.get_full_EN_name}}</h3>
			</div>
		</div>
		<div class="col-lg-6 card" style='border:none;'>
			<div class="card-body text-center">
				<div class="my-3 d-block mx-auto avatar-md rounded-circle">
					{% if view_bag.headOfSecretary.member.avatar %}
						<img class='img-fluid' src="{{view_bag.headOfSecretary.member.avatar.url}}" />
					{% else %}
						<img class="img-fluid" src="{% static 'PublicSite/img/placeholder-user.png' %}">
					{% endif %}
				</div>
				<h4 class="card-title ">秘书长 Secretary</h4>
				<h3>{{view_bag.headOfSecretary.member.get_full_EN_name}}</h3>
			</div>
		</div>
	</div>
</div>

<hr>
<div class="bloc py-2">
	<p>页面作者 Page developed by</p>
  <p>&copy; 2019  Tianyi Mo, Yuxiang Xie </p>
</div>

{% endblock 'pg_body' %}

