{% extends 'components/base_page.html' %}
{% block 'pg_body' %}
    <title>纳新表单</title>
<div class="page-container">
<!-- bloc-18 -->
<div class="bloc l-bloc" id="bloc-18">
	<div class="container bloc-sm">
		<div class="row">
			<div class="col">
				<h1 class="mg-md">
					提交申请
				</h1>
			</div>
		</div>
	</div>
</div>
<!-- bloc-18 END -->

<!-- bloc-19 -->
<div class="bloc l-bloc" id="bloc-19">
	<div class="container bloc-md">
		<div class="row">
			<div class="col">
        <p>你的简历已经提交成功咯，随时关注邮箱，会有相关人员联系你面试！<strong>不要忘记成为Committee前要先在oweek去摊位领取会员卡成为cssa会员哦！</strong></p>
        </div>
        </div>
        </div>
        </div>
        </div>
        {% endblock 'pg_body' %}
