
{% extends 'components/base_page.html' %}

{% block 'extra_header' %}

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css">

<!-- <style>

.modal-dialog {
  max-width: 100%;
  width:100%;
  margin: 0;
  padding: 0;
}

</style> -->


{% endblock 'extra_header' %}

{% block 'pg_body' %}
{% load static %}
<div class="page-container">
    <div class="container bloc-fill-screen">
    <h1 class="my-4 text-left">
        摄影大赛投票
            <br>
            <small class="lead">注: 可点击不同类别进行投票</small>
        
              </h1>
  <div class="row" style="max-height:15vh mt-4">
  
    <div class="col-3 text-center" >
    <button id="mobelCulture" class="btn btn-info"> 手机人文 </button>
    </div>
    <div class="col-3 text-center">
    <button id="mobelNature" class="btn btn-info"> 手机风景 </button>
    </div>
    <div class="col-3 text-center">
    <button id="cameraCulture" class="btn btn-info"> 相机人文 </button>
    </div>
    <div class="col-3 text-center">
    <button id="cameraNature" class="btn btn-info"> 相机风景 </button>
    </div>
  </div>
<hr>
    <div class="row" id="display">
    </div>
<!-- 
    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <figure class="figure">
                <img src="{% static 'myCSSAhub/img/hjc.jpeg' %}" class="img-fluid" >
                <figcaption class="figure-caption"></figcaption>
            </figure>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
            </div>  -->


          </div>

</div>


{% endblock 'pg_body' %}

{% block 'extra_js' %}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>
<script>
  $(document).on('click', '[data-toggle="lightbox"]', function(event) {
                event.preventDefault();
                $(this).ekkoLightbox();
            });
    //const axios = require('axios');
    axios.defaults.xsrfCookieName = 'csrftoken'
    axios.defaults.xsrfHeaderName = "X-CSRFTOKEN"
    let sourceURI_1 ='/app/photo-competition/api/photos/',
        sourceURI_2 = '/app/photo-competition/api/photos/?device_type=MobilePhone&category_type=Culture',
        sourceURI_3 = '/app/photo-competition/api/photos/?device_type=MobilePhone&category_type=Nature',
        sourceURI_4 = '/app/photo-competition/api/photos/?device_type=Camera&category_type=Culture',
        sourceURI_5 = '/app/photo-competition/api/photos/?device_type=Camera&category_type=Nature',
        album = document.querySelector('#display'),
        // details = document.querySelector('#details'),
        btn1 = document.querySelector('#mobelCulture'),
        btn2 = document.querySelector('#mobelNature'),
        btn3 = document.querySelector('#cameraCulture'),
        btn4 = document.querySelector('#cameraNature');
        
    loader(sourceURI_1);
    function loader(source){
        album.innerHTML = ''
        axios.get(source)
            .then((res)=>{
            //console.log(res.data);
            res.data.map((element) => {
                console.log(element.upload_photo)
                album.innerHTML +=  "<div class='col-sm-5 col-lg-3 portfolio-item mt-3' >"+"<div class='card' style='border: none; width:100%;'>"+"<a data-toggle='lightbox' href='"+element.upload_photo+"'>"+
                        "<img style='height:180px; width:100%; display: block;' src='"+element.upload_photo+"' alt=''><div class='card-body'></a><p class='card-text' style='max-height:80px; overflow:auto;'>"+element.description+"</p></div></div>" 
            })
            
        })
        .catch( (err)=> {
            console.log(err);
        })
        .finally(function () {
        // always executed
        });
    }
    
  
    btn1.addEventListener('click', (e)=>{
    loader(sourceURI_2);
    })
    btn2.addEventListener('click', (e)=>{
    loader(sourceURI_3);
    })
    btn3.addEventListener('click', (e)=>{
    loader(sourceURI_4);
    })
    btn4.addEventListener('click', (e)=>{
    loader(sourceURI_5);
    })


</script>

{% endblock 'extra_js' %}
