{% extends 'myCSSAhub/component/_layout.html' %}
{% load static %}
{% block ExtraHeader %}
<link href="{% static 'myCSSAhub/vendors/DataTables/datatables.min.css'%}" rel="stylesheet">
{% endblock ExtraHeader %}

{% block pageTitle %}
活动报名管理
{% endblock pageTitle %}

{% block BreadcrumbPath %}
  <li class="breadcrumb-item">活动管理</li>
  <li class="breadcrumb-item">
    <a href="{% url 'myCSSAhub:EventAPI:event_stat' %}">活动报名管理</a>
  </li>
{% endblock BreadcrumbPath %}

{% block pageContent %}
<div class="row mb-3">
  <div class="col-6">
  {% if event_attended_count %}
      <p>目前有{{event_attended_count}}个活动正在接受报名</p>
  {% endif %}
  </div>
  
  {% if user.is_staff %}
  <div class="col-6">
      <div class="btn-group float-right" role="group">
         
      </div>
  </div>
  {% endif %}
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card" >
      <div class="card-header">
        报名情况统计
      </div>
      <div class="card-body">
          <table id="main-datatable" class="table table-responsive-md"  style="width:100%" >
              <thead>
                <tr>
                  <th>活动名称</th>
                  <th>报名开始时间</th>
                  <th>当前报名人数</th>
                  <th>填充率（%） </th>
                </tr>
              </thead>
              <tbody>
                {% for event in events %}
                  <tr>
                    <td><a href="{{event.get_attendant_list_url}}">{{event.eventName}}</a></td>
                    <td>{{event.eventActualStTime}}</td>
                    <td>{{event.get_attendant_sum}}</td>
                    {% if event.hasMaxAttendent %}
                      <td> 
                          <div class="clearfix">
                            <div class="float-left">
                            <strong>{{event.get_estimate_remaining_factor }}</strong>
                            </div>
                          </div>
                      <div class="progress progress-xs">
                        <div class="progress-bar bg-success" role="progressbar" style="width: {{event.get_estimate_remaining_factor }}%" aria-valuenow="{{event.get_estimate_remaining_factor }}" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      
                      </td>
                    {% else %}
                      <td>此活动无报名上限</td>
                    {% endif %}
                  </tr>
                {% endfor %}
              </tbody>
          </table>
          {% if is_paginated %}
            <ul class="pagination">
              {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
              {% else %}
                <li class="disabled"><span>&laquo;</span></li>
              {% endif %}
              {% for i in paginator.page_range %}
                {% if page_obj.number == i %}
                  <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                  <li><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
              {% endfor %}
              {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
              {% else %}
                <li class="disabled"><span>&raquo;</span></li>
              {% endif %}
            </ul>
          {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block ExtraJS %}


{% endblock ExtraJS %}