{% extends "myCSSAhub/component/_layout.html" %}
{% block ExtraHeader %}
    <style>
        .card-img {
            padding-bottom: 70%;
            position: relative;
        }

        .card-img>img {
            position: absolute;
            object-fit: none;
            /* Do not scale the image */
            object-position: center;
            /* Center the image within the element */
            width: 100%;
            max-height: 100px;
            margin-bottom: 1rem;
        }
    </style>
{% endblock ExtraHeader %}
{% block pageTitle %}
    我参与的活动
{% endblock pageTitle %}
{% block BreadcrumbPath %}
    <li class="breadcrumb-item">活动票务</li>
    <li class="breadcrumb-item">
        <a href="{% url 'myCSSAhub:EventAPI:user_ticket_list' %}">我参与的活动</a>
    </li>
{% endblock BreadcrumbPath %}
{% block pageContent %}
    <div class="row mb-3">
        <div class="col-6">
            {% if event_attended_count %}<p>目前您报名了{{ event_attended_count }}个活动</p>{% endif %}
        </div>
    </div>
    <div class="row voffset">
        {% for ticket in tickets %}
            <div class="mt-3 col-lg-3 col-md-3 col-sm-6">
                <div class="card h-100">
                    <div class="card-img h-100">
                        <img src="{{ ticket.attendedEventId.mainVisual.url }}"
                             data-src="{{ ticket.attendedEventId.mainVisual.url }}"
                             class="card-img-top h-100 w-100"
                             style="min-height:100px;
                                    max-height:230px" />
                    </div>
                    <div class="card-body">
                        <div class="card-text" style="height:100px; overflow:auto;">
                            <h5>{{ ticket.attendedEventId.eventName }}</h5>
                            <p>
                                <ul class="list-unstyled">
                                    <li>入场时间：{{ ticket.attendedEventId.eventActualStTime|date:"SHORT_DATETIME_FORMAT" }}</li>
                                    <li>活动场馆：{{ ticket.attendedEventId.venue }}</li>
                                </ul>
                            </p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'PublicSite:eventsDetails' ticket.attendedEventId.eventID %}"
                           class="btn btn-block btn-blue-gray mt-3">查看活动详情
                            <br>
                        </a>
                    </div>
                </div>
            </div>
        {% empty %}
            <h4 class="mg-md text-center">您还没有参加任何活动</h4>
        {% endfor %}
    </div>
{% endblock pageContent %}
