{% extends 'components/base_page.html' %}
{% block 'extra_header' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'myCSSAhub/css/registrationForm.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'myCSSAhub/vendors/jquery-ui/jquery-ui.min.css'%}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css"/>
{% endblock 'extra_header' %}



{% block 'pg_body' %}
{% load static %}

<style>
  #bloc-1 {
    background-image: url("{% static 'myCSSAhub/img/bg_Register.jpg' %}");
    background-color: rgba(255, 255, 255, 0.4);
    background-blend-mode: lighten;
  }
</style>

{% for message in messages %}
<div class="container-fluid p-0">
  <div class="alert {{ message.tags }} alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    {{ message }}
  </div>
</div>
{% endfor %}

<!--Reset Password-->
<div class="bloc none l-bloc" id="bloc-1">
  <div class="container bloc-fill-screen">
    <div class="row justify-content-md-center">
      <div id="loginbox" class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <form
          id="msform"
          class="form-horizontal col"
          autocomplete="off"
          method="POST"
        >
          {% csrf_token %}

          <fieldset>
            <h5 class="fs-title">请设置新密码</h5>
            <div id="password1" class="form-label-group required">
                <label
                  for="id_password1"
                  class="control-label col-md-6 requiredField"
                >
                  Password<span class="asteriskField">*</span>
                </label>
                <div class="controls col-md-12 ">
                  <input
                    required
                    class="input-md textinput textInput form-control"
                    id="id_new_password1"
                    name="new_password1"
                    placeholder="请输入新密码"
                    type="password"
                    data-parsley-group="step1"
                    autocomplete="off"
                  />
                  <div id="progress-container" style="padding-top:10px"></div>
                </div>
              </div>

              <div id="password2" class="form-label-group required">
                <label
                  for="id_new_password1"
                  class="control-label col-md-8 requiredField"
                >
                  Confirm Password<span class="asteriskField">*</span>
                </label>
                <div class="controls col-md-12 ">
                  <input
                    required
                    class="input-md textinput textInput form-control"
                    id="id_new_password2"
                    name="new_password2"
                    placeholder="请再次确认密码"
                    type="password"
                    data-parsley-group="step1"
                    data-parsley-equalto="#id_new_password1"
                    autocomplete="off"
                  />
                </div>
              </div>

            <div class="form-label-group">
              <div class="controls col-md-offset-5 col-md-12 text-center">
                <input
                  type="submit"
                  value="重置密码"
                  class="btn btn-primary btn btn-info"
                  id="easy_submit"
                />
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock 'pg_body' %}


{% block 'extra_js' %}
        <script
          type="text/javascript"
          src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/moment.min.js"
        ></script>
        <script
          type="text/javascript"
          src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js"
        ></script>
        <script type="text/javascript" src="{% static 'myCSSAhub/js/parsley.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'myCSSAhub/js/custom_validators.js'%}"></script>

        <script type="text/javascript" src="{% static 'myCSSAhub/js/Password/bootstrap-strength-meter.js' %}"></script>
        <script type="text/javascript" src="{% static 'myCSSAhub/js/Password/password-score.js' %}"></script>
        <script type="text/javascript" src="{% static 'myCSSAhub/js/Password/password-score-options.js' %}"></script>
        <script src="{% static 'myCSSAhub/vendors/jquery-ui/jquery-ui.min.js'%}"></script>
        <script type="text/javascript">
        
        //Password Strength Indicator
        $(document).ready(function() {
            $('#id_new_password1').strengthMeter('progressBar', {
                container: $('#progress-container'),
                base: 80,
                hierarchy: {
                '0': 'progress-bar-danger',
                '25': 'progress-bar-warning',
                '50': 'progress-bar-success'
                },
                passwordScore: {
                options: [],
                append: true
                }
            });
        });


        $("#msform").parsley({
        errorClass: "is-invalid",
        successClass: "is-valid",
        errorsWrapper: '<span class="form-text text-danger"></span>',
        errorTemplate: "<span></span>",
        trigger: "blur"
        });


        </script>



        {% endblock 'extra_js' %}

