*{
    color: rgb(65, 65, 65);
}

.blogContainer{
    background-color: white;
}

.blogEditContainer{
    min-width: 500px
}

#blogEdit, #blogEditAnother{
    min-height: 800px;
    height: auto;
    margin-bottom: 50px;
            
}

#blogEditAnother{
        background-color: pink;
        overflow-y: scroll;
    }
    h4{
        margin-bottom: 12px;
    }

    .blogEditHead{
        margin: 25px 0px;
    }
    .handButton{
        background-color: rgba(0, 0, 0, 0.05)
    }

    .handButtonAnother{
        color: white;
        background-color: #158CBA !important;
    }

    .handButton{
        background-color: rgba(0, 0, 0, 0.05)
    }

    .handButtonAnother{
        color: white;
        background-color: #158CBA !important;
    }
    .handButtonOther{
        float: right;
        color: white;
        background-color: #993333;
    }