/* Avatar */
.avatar-fluid {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.avatar-sm {
	height: 10vw;
	width: 10vw;
	overflow: hidden;
}

.avatar-md {
	height: 15vw;
	width: 15vw;
	overflow: hidden;
}

.avatar-lg {
	height: 20vw;
	width: 20vw;
	overflow: hidden;

}

.avatar-img {
	max-width: 100%;
	position:absolute;
	margin:auto;
	top:0;right:0;bottom:0;left:0;

}