[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = ">=3.9.1"
django-datatables-view = "==1.17.0"
django-rest-auth = ">0.3.3"
django-allauth = "*"
psycopg2-binary = "*"
django-widget-tweaks = "*"
django-filter = "*"
gunicorn = "*"
xlwt = "*"
redis = "*"
vine = "==1.3.0"
celery = "==4.3"
sorl-thumbnail = "*"
django-storages = "*"
boto3 = "*"
djangorestframework-simplejwt = "*"
social-auth-app-django = "*"
cryptography = "==3.3.2"
drf-yasg = {extras = ["validation"], version = "*"}
mypy = "*"
names = "*"
Django = "==3.1.13"
Pillow = "*"
django-imagekit = "*"
cachetools = "*"
django-debug-toolbar = "*"
requests = "*"

[dev-packages]
django-cprofile-middleware = "*"
snakeviz = "*"

[requires]
python_version = "3.9"
