Django == 3.1.12

djangorestframework>=3.9.1

django-datatables-view == 1.17.0

django-rest-auth > 0.3.3

django-allauth

psycopg2-binary == 2.8.6

Pillow

django-widget-tweaks

django-filter

gunicorn

xlwt

redis

vine == 1.3.0

celery == 4.3

sorl-thumbnail

django-storages 

boto3

djangorestframework-simplejwt

social-auth-app-django

cryptography == 3.3.2

drf-yasg[validation] # swagger

### For Development purpose only
mypy

names


