{% extends 'myCSSAhub/component/doc_view.html' %}

{% block PageToolbar %}
<div class="row mb-4">
    <div class="col-6">
        
    </div>
    {% if user.is_staff %}
    <div class="col-6">
        <div class="btn-group float-right" role="group">
            <a class="btn btn-round btn-danger mr-3" role="button" href="">拒绝该申请</a>
            <a class="btn btn-round btn-primary mr-3" role="button" href="">添加面试计划</a>
        </div>
    </div>
    {% endif %}
</div>
{% endblock PageToolbar %}

{% block ExtraJS %}
{% endblock ExtraJS %}