<!doctype html>
<html lang="zh-Hans">
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="Home 首页">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <link rel="shortcut icon" type="image/png" href="favicon.png">
    <title>墨尔本大学中国学生会 Chinese Students and Scholars Association University of Melbourne</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static '/PublicSite/css/bootstrap-bootswatch.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static '/PublicSite/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static '/PublicSite/css/font-awesome.min.css'%}">
  <link rel="stylesheet" type="text/css" href="{% static '/myCSSAhub/css/login.css'%}">
  
	<script src="{% static 'PublicSite/js/jquery-3.3.1.min.js'%}"></script>
	<script src="{% static 'PublicSite/js/bootstrap.bundle.min.js'%}"></script>
	<script src="{% static 'PublicSite/js/blocs.js'%}"></script>
	<script src="{% static 'PublicSite/js/jquery.touchSwipe.min.js'%}" defer></script>
	<script src="{% static 'PublicSite/js/lazysizes.min.js'%}" defer></script>
  {% block 'extra_header' %}
  {% endblock 'extra_header' %}
<!-- Analytics -->

<!-- Analytics END -->

</head>
<body>
<!-- Main container -->
<div class="page-container">
{% include 'components/vertical_navbar.html' %}
{% block 'pg_body' %}


{% endblock  %}
{% include 'components/footbar.html'%}
</div>
<!-- Preloader -->
<div id="page-loading-blocs-notifaction" class="page-preloader"></div>
<!-- Preloader END -->

<script>
// DO NOT REMOVE THIS WHEN THE PAGE HAS ANY AJAX APPLET
  var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

  function csrfSafeMethod(method) {
      // these HTTP methods do not require CSRF protection
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
  }
  $.ajaxSetup({
      beforeSend: function(xhr, settings) {
          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
              xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
      }
  });

</script>
  {% block 'extra_js' %}
  {% endblock 'extra_js' %}
</body>
</html>
