<footer class='footer'>
<!-- bloc-20 -->
{% load static %}
<div class="bloc bgc-blue-gray d-bloc none" id="bloc-20" style="display:none;">
	<div class="container bloc-sm">
		<div class="row">
			<div class="col-md-3 col-sm-6">
				<h4 class="mg-md text-sm-left text-center tc-white">
					关于我们
				</h4><a href="index.html" class="a-btn a-block footer-link">The Team</a><a href="index.html" class="a-btn a-block footer-link">Contact Us</a>
			</div>
			<div class="col-md-3 col-sm-6">
				<h4 class="mg-md text-sm-left text-center tc-white">
					myCSSA Hub<br>
				</h4><a href="index.html" class="a-btn a-block footer-link">Android</a><a href="index.html" class="a-btn a-block footer-link">iOS</a>
			</div>
			<div class="col-md-3 col-sm-6">
				<h4 class="mg-md text-sm-left text-center tc-white">
					墨大内外
				</h4><a href="index.html" class="a-btn a-block footer-link">Twitter</a><a href="index.html" class="a-btn a-block footer-link">Facebook</a>
			</div>
			<div class="col-md-3 col-sm-6">
				<h4 class="mg-md text-sm-left text-center tc-white">
					Connect
				</h4>
				<div class="row">
					<div class="col-6 col-sm-2 col offset-sm-0">
						<div class="text-center">
							<a href="https://blocsapp.com/"><span class="fa fa-facebook-official icon-md"></span></a>
						</div>
					</div>
					<div class="col-6 col-sm-2">
						<div class="text-center">
							<a href="https://blocsapp.com/"><span class="fa fa-twitter icon-md"></span></a>
						</div>
					</div>
					<div class="col-6 col-sm-2">
						<div class="text-center">
							<a href="https://blocsapp.com/"><span class="fa fa-instagram icon-md"></span></a>
						</div>
					</div>
					<div class="col-6 col-sm-2">
						<div class="text-center">
							<a href="https://blocsapp.com/"><span class="fa fa-envelope-o icon-md"></span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- bloc-20 END -->
<!-- bloc-28 -->
{% load static %}
<div class="bloc bgc-blue-gray none d-bloc" id="bloc-28">
	<div class="container bloc-sm" >
		<div class="row justify-content-md-center">
			<div class="col-6 col-sm-3" >
				<a href="https://umsu.unimelb.edu.au/">
				<img src="{% static 'PublicSite/img/umsuLogo.png'%}"  class="img-fluid mx-auto d-block lazyload img-logo-style"/>
				</a>
			</div>
			<div class="col-6 col-sm-3">
				<a href="https://gsa.unimelb.edu.au/"/>
				<img src="{% static 'PublicSite/img/gsaLogo.png'%}" class="img-fluid mx-auto d-block lazyload img-logo-style"/>
				</a>
			</div>

		</div>
	</div>
</div>
<!-- bloc-28 END -->

<!-- bloc-22 -->
<div class="bloc bgc-black d-bloc" id="bloc-22">
	<div class="container">
		<div class="row">
			<div class="col">
				<h6 class="mg-md text-lg-center">
					本项目由 卢玏 设计管理 This Project is Designed &amp; Managed by Josh. Le. Lu
				</h6>
				<p class="mg-md text-lg-center h6-margin-top">
					站点交互设计：蒋梦雨 UI/UX Design: Caitlin. Mengyu. Jiang
				</p>
				<p class="mg-md text-lg-center h6-margin-top">
					版权所有 墨尔本大学中国学生会 Copyrights @ Chinese Student and Scholars Association, University of Melbourne 2012 - 2019
				</p>
			</div>
		</div>
	</div>
</div>
<!-- bloc-22 END -->
</footer>
