{% load i18n %}

{% load static %}

				<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
				<a class="navbar-brand" href="#">CSSA 2.0</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>

					<div class="collapse navbar-collapse" id="navbarColor01">
						<ul class="navbar-nav mr-auto">
							<li class="nav-item">
								<a class="nav-link" href="/">{%trans "首页" %} <span class="sr-only">(current)</span></a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="event/">{%trans "活动消息 " %}</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="news/">{%trans "新闻公告" %}</a>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								{%trans "部门构成" %}
								</a>
								<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
								<a class="dropdown-item" href="/department/council">{%trans "主席团" %} </a>
								<a class="dropdown-item" href="/department/organisation">{%trans "组织部" %}</a>
								<a class="dropdown-item" href="/department/liaison">{%trans "外联部" %}</a>
								<a class="dropdown-item" href="/department/information">{%trans "信息部" %}</a>
								<a class="dropdown-item" href="/department/publicity">{%trans "宣传部 " %}</a>
								<a class="dropdown-item" href="/department/publicity">{%trans "人力资源部" %}</a>
								</div>
							</li>
							<li class="nav-item" >
								<a class="nav-link" href="alliance/">{%trans "合作机构 " %}</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="recruitment/">{%trans "联系我们" %}</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">加入我们</a>
							</li>
						</ul>
						<ul class="navbar-nav navbar-right" > <!--Login Info-->
						{% if user.is_authenticated %}
							<li class="nav-item"><a class="nav-link" href="/hub/home/"> 欢迎你：{{ user.email }}</a></li>
							<li class="nav-item"><a class="nav-link" href="{% url 'myCSSAhub:hub_logout' %}"> 注销 </a></li>
						{% else %}
							<li class="nav-item"><a class="nav-link" href="{% url 'myCSSAhub:hub_login' %}"> 登录</a></li>
							<li class="nav-item"><a class="nav-link" href="{% url 'myCSSAhub:hub_reg' %}"> 成为myCSSA会员 </a> </li>
						{% endif %}
						</ul>    
					</div>
				</nav>
